.flows_odroid.json.backup
[{"id":"fe9bd502.da1c48","type":"tab","label":"ON_CLUTCH_WARNER","disabled":false,"info":"# Wie lange steht der Faher auf der Kupplung?\n\n"},{"id":"e1a94fdd.a1f8a","type":"tab","label":"ON_BRAKE_WARNER","disabled":false,"info":"# Wie lange steht der Fahrer auf der Bremse?"},{"id":"6f2009d6.0acd88","type":"tab","label":"q-gate und Junk","disabled":false,"info":""},{"id":"1889e7f2.72f9e8","type":"tab","label":"SWITCH OUTPUT","disabled":false,"info":""},{"id":"c06c0f39.7c4c2","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"cfd7352b.de1028","type":"tab","label":"Tachosignal","disabled":false,"info":""},{"id":"fdee7a45.860e48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1516d403.d6df1c","type":"subflow","name":"VELOCITY","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"1e4b2556.645e7b"}]}],"out":[{"x":700,"y":120,"wires":[{"id":"31369dfb.4bd482","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8ec34a74.951e88","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"79286a9b.e92864","type":"ui_group","z":"","name":"gpioinput","tab":"","disp":true,"width":"6","collapse":false},{"id":"7a5d0b6b.156a24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8be2921c.a6a47","type":"ui_tab","z":"","name":"Setting","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a3598685.c656f8","type":"ui_group","z":"","name":"SpaceStar","tab":"8be2921c.a6a47","order":1,"disp":true,"width":"6","collapse":false},{"id":"519005ba.0f4e8c","type":"j5-platform","z":"","name":"","username":"","password":"","ioPlugin":"firmata","serialportName":"","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":"","raspiI2C":false,"raspiUART":false,"raspiGPIO":[]},{"id":"6af94b16.c45f24","type":"ui_group","z":"","name":"WERKSTÄTTE","tab":"1aef63d6.a06dcc","disp":true,"width":"6","collapse":false},{"id":"1aef63d6.a06dcc","type":"ui_tab","z":"","name":"ARBEITSRAUM","icon":"dashboard","disabled":false,"hidden":false},{"id":"ee100a13.3bb9e8","type":"rpi-gpio in","z":"fe9bd502.da1c48","name":"","pin":"15","intype":"tri","debounce":"25","read":false,"x":90,"y":140,"wires":[["dc5e458d.fe91c8"]]},{"id":"448fefa5.dfa64","type":"q-gate","z":"6f2009d6.0acd88","name":"q-gate demo","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","maxQueueLength":"5","keepNewest":false,"qToggle":false,"persist":false,"x":430,"y":240,"wires":[["f43e6dd4.4a09b"]]},{"id":"325e9fce.e72a4","type":"inject","z":"6f2009d6.0acd88","name":"input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["448fefa5.dfa64"]]},{"id":"5aebc459.1a32dc","type":"inject","z":"6f2009d6.0acd88","name":"open","topic":"control","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":60,"wires":[["448fefa5.dfa64"]]},{"id":"1e67eaee.86a275","type":"inject","z":"6f2009d6.0acd88","name":"toggle","topic":"control","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["448fefa5.dfa64"]]},{"id":"29dc06db.76384a","type":"inject","z":"6f2009d6.0acd88","name":"close","topic":"control","payload":"close","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["448fefa5.dfa64"]]},{"id":"37fd4001.55728","type":"inject","z":"6f2009d6.0acd88","name":"default","topic":"control","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["448fefa5.dfa64"]]},{"id":"f43e6dd4.4a09b","type":"debug","z":"6f2009d6.0acd88","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":240,"wires":[]},{"id":"e07cd047.9ebbc","type":"inject","z":"6f2009d6.0acd88","name":"queue","topic":"control","payload":"queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["448fefa5.dfa64"]]},{"id":"bb91375f.eb7068","type":"inject","z":"6f2009d6.0acd88","name":"flush","topic":"control","payload":"flush","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":380,"wires":[["448fefa5.dfa64"]]},{"id":"183a0088.975a7f","type":"inject","z":"6f2009d6.0acd88","name":"trigger","topic":"control","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["448fefa5.dfa64"]]},{"id":"91c32e65.3ecda","type":"inject","z":"6f2009d6.0acd88","name":"reset","topic":"control","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["448fefa5.dfa64"]]},{"id":"dc5e458d.fe91c8","type":"function","z":"fe9bd502.da1c48","name":"setTimeStamp_State","func":"\nvar ts = new Date();\nmsg.payload = ts.toISOString() + \"_\" + msg.payload;\n//msg.payload = ts.toUTCString() + \"_\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":140,"wires":[["ab0dd927.46d468"]]},{"id":"d57da8a8.413958","type":"buffer-array","z":"fe9bd502.da1c48","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":650,"y":140,"wires":[["8948f159.430fc"]]},{"id":"8948f159.430fc","type":"function","z":"fe9bd502.da1c48","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":160,"y":220,"wires":[["94b93c15.931bf"]]},{"id":"ab0dd927.46d468","type":"function","z":"fe9bd502.da1c48","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":140,"wires":[["d57da8a8.413958"]]},{"id":"3b391d03.ea14f2","type":"http request","z":"fe9bd502.da1c48","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":220,"wires":[["2474db3d.9190e4"]]},{"id":"94b93c15.931bf","type":"switch","z":"fe9bd502.da1c48","name":"Hit_Clutch","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":350,"y":220,"wires":[["be86223.9ad7ae"]]},{"id":"2474db3d.9190e4","type":"debug","z":"fe9bd502.da1c48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":220,"wires":[]},{"id":"cd863607.6f7d18","type":"rpi-gpio in","z":"cfd7352b.de1028","name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":130,"y":540,"wires":[["912bc373.06c73"]]},{"id":"78bd41e5.4eea6","type":"function","z":"cfd7352b.de1028","name":"SavedCounter","func":"var NewMsg = {savedcounter:0}\nvar count=context.get('mystorage') || 0;\nvar savedcounter = 0;\n\nif( msg.topic === 'signal' )\n{\n  count ++;\n}\n\nif( msg.topic === 'ResetCounter' )\n{\n  savedcounter = count;\n  count = 0;\n}\n\ncontext.set('mystorage',count);\nNewMsg.savedcounter = savedcounter; \n\nreturn NewMsg;\n\n","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["547d022c.ca8d0c","7d7e341c.b0a86c"]]},{"id":"547d022c.ca8d0c","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":320,"wires":[]},{"id":"1d7e9310.6bf2fd","type":"inject","z":"cfd7352b.de1028","name":"","topic":"Signal","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":420,"wires":[["912bc373.06c73"]]},{"id":"7d7e341c.b0a86c","type":"function","z":"cfd7352b.de1028","name":"VelocitiyCalculation","func":"var NewMsg = {velocity:0};\nvar savedcounter = msg.payload;\nNewMsg.velocity = (20 / 17) * savedcounter + (60 / 17);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["93e322bc.6ae9c"]]},{"id":"93e322bc.6ae9c","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":240,"wires":[]},{"id":"caf8c4a3.b53d38","type":"inject","z":"cfd7352b.de1028","name":"","topic":"ResetCounter","payload":"reset","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["912bc373.06c73"]]},{"id":"1e4b2556.645e7b","type":"function","z":"1516d403.d6df1c","name":"VELOCITY_GATE","func":"var NewMsg = { payload : 0, Speed : 0};\nvar Counter = context.get('Counter') || 0;\nvar OpenSwitchNode = 1;\nvar CloseSwitchNode = 0;\n\nif( msg.topic == \"Signal\" )\n{\n    Counter++;\n}\n\nNewMsg.payload = CloseSwitchNode;\n\nif( msg.topic == \"ResetCounter\" )\n{ \n    \n    NewMsg.payload = OpenSwitchNode;\n    NewMsg.Speed = (20 / 17) * Counter * 5  + (60 / 17);\n  \n    Counter = 0;\n}\n\ncontext.set('Counter', Counter);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["31369dfb.4bd482"]]},{"id":"31369dfb.4bd482","type":"switch","z":"1516d403.d6df1c","name":"VELOCITY_FIRE","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":120,"wires":[[]]},{"id":"c9cad5df.c4aa38","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":540,"wires":[]},{"id":"912bc373.06c73","type":"subflow:1516d403.d6df1c","z":"cfd7352b.de1028","name":"","env":[],"x":430,"y":540,"wires":[["c9cad5df.c4aa38"]]},{"id":"605dd713.f84bd8","type":"inject","z":"1889e7f2.72f9e8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["379695c3.6888da"]]},{"id":"b69b2621.e2a628","type":"inject","z":"1889e7f2.72f9e8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["379695c3.6888da"]]},{"id":"379695c3.6888da","type":"rpi-gpio out","z":"1889e7f2.72f9e8","name":"","pin":"24","set":"","level":"0","freq":"","out":"out","x":310,"y":140,"wires":[]},{"id":"fbef2cf.60f35d","type":"debug","z":"fe9bd502.da1c48","name":"reinjectbuffer","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":700,"wires":[]},{"id":"1cea54e.528f3ab","type":"file","z":"6f2009d6.0acd88","name":"","filename":"/home/odroid/PIN22/PIN22","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":180,"y":540,"wires":[[]]},{"id":"f315d132.96f28","type":"function","z":"6f2009d6.0acd88","d":true,"name":"reinjecttobuffer","func":"var NewArray = [];\nvar TimestampNewest = 0;\nvar SignalNewest = '0';\n\n\n//var d = msg.payload[3][0];\n  \nTimestampNewest = msg.payload[3][0];\nSignalNewest = msg.payload[3][1];\n\nNewArray.push(TimestampNewest);\nNewArray.push(SignalNewest);\n\nmsg.payload = NewArray;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":140,"y":600,"wires":[[]]},{"id":"be86223.9ad7ae","type":"switch","z":"fe9bd502.da1c48","name":"OnClutchTime","property":"Timespan","propertyType":"msg","rules":[{"t":"gte","v":"payload.OnClutch","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":220,"wires":[["3b391d03.ea14f2","b6007953.1e01a8"]]},{"id":"6d5cdf12.4df64","type":"rpi-gpio in","z":"e1a94fdd.a1f8a","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":110,"y":80,"wires":[["2dfb5f42.ef187"]]},{"id":"2dfb5f42.ef187","type":"function","z":"e1a94fdd.a1f8a","name":"setTimeStamp_State","func":"\nvar ts = new Date();\nmsg.payload = ts.toISOString() + \"_\" + msg.payload;\n//msg.payload = ts.toUTCString() + \"_\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["10396c7f.eb13f4"]]},{"id":"ed81295a.5f9178","type":"buffer-array","z":"e1a94fdd.a1f8a","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":670,"y":80,"wires":[["c2c5f405.bcfe38"]]},{"id":"c2c5f405.bcfe38","type":"function","z":"e1a94fdd.a1f8a","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":180,"y":160,"wires":[["59abaf6c.e2ada"]]},{"id":"10396c7f.eb13f4","type":"function","z":"e1a94fdd.a1f8a","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["ed81295a.5f9178"]]},{"id":"ff8c985a.e14618","type":"http request","z":"e1a94fdd.a1f8a","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":160,"wires":[["d2e258e9.b79758"]]},{"id":"59abaf6c.e2ada","type":"switch","z":"e1a94fdd.a1f8a","name":"Hit_Brake","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":160,"wires":[["8e08ec0a.f4b34"]]},{"id":"d2e258e9.b79758","type":"debug","z":"e1a94fdd.a1f8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":160,"wires":[]},{"id":"8e08ec0a.f4b34","type":"switch","z":"e1a94fdd.a1f8a","name":"OnBreakTime","property":"Timespan","propertyType":"msg","rules":[{"t":"gte","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":160,"wires":[["ff8c985a.e14618"]]},{"id":"bd828d9b.6bb81","type":"ui_switch","z":"c06c0f39.7c4c2","name":"Heizung","label":"HEIZUNG","tooltip":"","group":"6af94b16.c45f24","order":0,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"Heizung","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-thermometer-full","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-thermometer-empty","offcolor":"white","x":1480,"y":380,"wires":[[]]},{"id":"978b2a62.35a438","type":"ui_button","z":"c06c0f39.7c4c2","name":"","group":"6af94b16.c45f24","order":1,"width":0,"height":0,"passthru":false,"label":"EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":470,"y":340,"wires":[["c4577d72.9fadd"]]},{"id":"ebfb2b83.f93788","type":"ui_button","z":"c06c0f39.7c4c2","name":"","group":"6af94b16.c45f24","order":1,"width":0,"height":0,"passthru":false,"label":"AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":470,"y":380,"wires":[["5a63ec4c.cd4364","1b0a54c5.a5165b"]]},{"id":"5a63ec4c.cd4364","type":"bigtimer","z":"c06c0f39.7c4c2","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"48.22908","lon":"13.0208","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":1100,"y":380,"wires":[[],["153ead82.eec802","b4801164.ba703"],[]]},{"id":"2706ad2e.155dc2","type":"ui_button","z":"c06c0f39.7c4c2","name":"","group":"6af94b16.c45f24","order":1,"width":0,"height":0,"passthru":false,"label":"AUTO","tooltip":"","color":"","bgcolor":"","icon":"","payload":"auto","payloadType":"str","topic":"","x":470,"y":440,"wires":[["5a63ec4c.cd4364","c7b5035a.5aaff"]]},{"id":"c4577d72.9fadd","type":"change","z":"c06c0f39.7c4c2","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":280,"wires":[["5a63ec4c.cd4364","1389c79f.5a7308"]]},{"id":"1b0a54c5.a5165b","type":"change","z":"c06c0f39.7c4c2","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":340,"wires":[["5a63ec4c.cd4364","1389c79f.5a7308"]]},{"id":"c7b5035a.5aaff","type":"change","z":"c06c0f39.7c4c2","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":460,"wires":[["5a63ec4c.cd4364","1389c79f.5a7308"]]},{"id":"1389c79f.5a7308","type":"ui_text","z":"c06c0f39.7c4c2","group":"6af94b16.c45f24","order":4,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":460,"wires":[]},{"id":"153ead82.eec802","type":"change","z":"c06c0f39.7c4c2","name":"ConvertOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":360,"wires":[["bd828d9b.6bb81"]]},{"id":"b4801164.ba703","type":"change","z":"c06c0f39.7c4c2","name":"ConvertOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":400,"wires":[["bd828d9b.6bb81"]]},{"id":"8778104e.0680a","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OnHour","label":"Einschalten Stunde","tooltip":"","group":"6af94b16.c45f24","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":900,"y":60,"wires":[["26983153.9f5d7e"]]},{"id":"f4b0238e.9bc6d","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OnMinute","label":"Einschalten Minute","tooltip":"","group":"6af94b16.c45f24","order":5,"width":0,"height":0,"passthru":true,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":900,"y":120,"wires":[["26983153.9f5d7e"]]},{"id":"91220fc6.42e9a","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OffHour","label":"Ausschalten Stunde","tooltip":"","group":"6af94b16.c45f24","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":900,"y":180,"wires":[["26983153.9f5d7e"]]},{"id":"581bc87b.bb91e8","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OffMinute","label":"Ausschalten Minute","tooltip":"","group":"6af94b16.c45f24","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":900,"y":240,"wires":[["26983153.9f5d7e"]]},{"id":"d7e1443d.d9ecc8","type":"file","z":"c06c0f39.7c4c2","name":"StoreTimeSettings","filename":"timesettings","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1450,"y":140,"wires":[[]]},{"id":"26983153.9f5d7e","type":"join","z":"c06c0f39.7c4c2","name":"CombineTime","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1160,"y":140,"wires":[["d7e1443d.d9ecc8","5ea62c15.0591e4","261c39f2.f0fb66"]]},{"id":"a949e0b0.b890f","type":"file in","z":"c06c0f39.7c4c2","name":"LoadTimeSettings","filename":"timesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":270,"y":140,"wires":[["59d0c771.e47528"]]},{"id":"48067590.67c0dc","type":"inject","z":"c06c0f39.7c4c2","name":"","topic":"LOAD","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":140,"wires":[["a949e0b0.b890f"]]},{"id":"59d0c771.e47528","type":"json","z":"c06c0f39.7c4c2","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["ba47a357.67eb","8045aac8.253858","d525ebde.7ad8e8","81b1f1aa.21827"]]},{"id":"ba47a357.67eb","type":"change","z":"c06c0f39.7c4c2","name":"GetHourOn","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":80,"wires":[["8778104e.0680a"]]},{"id":"8045aac8.253858","type":"change","z":"c06c0f39.7c4c2","name":"GetMinuteOn","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":120,"wires":[["f4b0238e.9bc6d"]]},{"id":"d525ebde.7ad8e8","type":"change","z":"c06c0f39.7c4c2","name":"GetHourOff","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":160,"wires":[["91220fc6.42e9a"]]},{"id":"81b1f1aa.21827","type":"change","z":"c06c0f39.7c4c2","name":"GetMinuteOff","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[["581bc87b.bb91e8"]]},{"id":"5ea62c15.0591e4","type":"function","z":"c06c0f39.7c4c2","name":"ProvideOverrideOffTime","func":"var OffOverride = \"Off_Override \";\nmsg.payload = OffOverride + msg.payload.HourOff + \":\" + msg.payload.MinuteOff;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["5a63ec4c.cd4364"]]},{"id":"261c39f2.f0fb66","type":"function","z":"c06c0f39.7c4c2","name":"ProvideOverrideOnTime","func":"var OnOverride = \"On_Override \";\nmsg.payload = OnOverride + msg.payload.HourOn + \":\" + msg.payload.MinuteOn;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":220,"wires":[["5a63ec4c.cd4364"]]},{"id":"8fda15ef.309e98","type":"inject","z":"c06c0f39.7c4c2","name":"Reload","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["a949e0b0.b890f"]]},{"id":"f9cf1711.040cb8","type":"ui_numeric","z":"fe9bd502.da1c48","name":"OnClutchTime","label":"OnClutchTime","tooltip":"max. On Clutch Time before Tag","group":"a3598685.c656f8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"OnClutch","format":"{{value}}","min":0,"max":10,"step":1,"x":320,"y":280,"wires":[["be86223.9ad7ae"]]},{"id":"c96aa789.5fa4a8","type":"inject","z":"fe9bd502.da1c48","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":300,"wires":[["f9cf1711.040cb8"]]},{"id":"b6007953.1e01a8","type":"debug","z":"fe9bd502.da1c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":320,"wires":[]},{"id":"a9c4826b.4457c","type":"switch","z":"fdee7a45.860e48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":450,"y":180,"wires":[["ef8aca29.df43a8"]]},{"id":"1c3213c4.2400cc","type":"inject","z":"fdee7a45.860e48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":140,"wires":[["a9c4826b.4457c"]]},{"id":"e75fc35e.8ea59","type":"inject","z":"fdee7a45.860e48","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["a9c4826b.4457c"]]},{"id":"ef8aca29.df43a8","type":"debug","z":"fdee7a45.860e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":200,"wires":[]}]