.flows_odroid.json.backup
[{"id":"fe9bd502.da1c48","type":"tab","label":"CLUTCH","disabled":false,"info":"# Frage: Wie lange steht der Fahrer auf der Kupplung?\n\n"},{"id":"e1a94fdd.a1f8a","type":"tab","label":"BRAKE","disabled":false,"info":"# Wie lange steht der Fahrer auf der Bremse?"},{"id":"60b4d38a.a1148c","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"6f2009d6.0acd88","type":"tab","label":"q-gate und Junk","disabled":false,"info":""},{"id":"1889e7f2.72f9e8","type":"tab","label":"SWITCH OUTPUT","disabled":false,"info":""},{"id":"cfd7352b.de1028","type":"tab","label":"Tachosignal","disabled":false,"info":""},{"id":"fdee7a45.860e48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"93d7b78b.d2d2d8","type":"tab","label":"UDP_from_MySQL","disabled":false,"info":""},{"id":"bffdc47c.00e2b8","type":"tab","label":"WakeUp GoPro","disabled":false,"info":""},{"id":"89b9f172.e63fe","type":"tab","label":"UDP Heartbeat","disabled":false,"info":""},{"id":"a71d92ae.7639a","type":"tab","label":"blackbox_to_MySQL","disabled":false,"info":""},{"id":"d3786684.caf558","type":"tab","label":"DB_Settings_Connectivity","disabled":false,"info":""},{"id":"8e787ad.6aa1688","type":"tab","label":"Generic BLE Example","disabled":false,"info":"This flow shows BLE Read/Write example.\n\nTI's CC2650 user's guide is abailable at https://processors.wiki.ti.com/index.php/CC2650_SensorTag_User%27s_Guide#Use_of_buttons\n\nCC2650's base UUID is f0000000-0451-4000-b000-000000000000. Replace last 0000 in f0000000 with the sensor's UUID in order to find the 128-bit characteristic UUID."},{"id":"1516d403.d6df1c","type":"subflow","name":"VELOCITY","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"1e4b2556.645e7b"}]}],"out":[{"x":700,"y":120,"wires":[{"id":"31369dfb.4bd482","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4c0714ce.c8c0ac","type":"subflow","name":"PassLimit","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"9580cd86.d9557"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"ef28d4ab.10e658","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8ec34a74.951e88","type":"ui_group","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"79286a9b.e92864","type":"ui_group","name":"gpioinput","tab":"","disp":true,"width":"6","collapse":false},{"id":"7a5d0b6b.156a24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8be2921c.a6a47","type":"ui_tab","name":"Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a3598685.c656f8","type":"ui_group","name":"SpaceStar","tab":"8be2921c.a6a47","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff3d23ed.851e","type":"ui_group","name":"Default","tab":"b0d4ebc5.f66f98","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0d4ebc5.f66f98","type":"ui_tab","name":"TESTS","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"ba2676d.9820d88","type":"ui_spacer","name":"spacer","group":"a3598685.c656f8","order":1,"width":1,"height":1},{"id":"cb226ed7.da6cc","type":"ui_group","name":"WERKSTÄTTE","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"478fd246.3eac8c","type":"ui_group","name":"WERKSTÄTTE","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f55534b.bfdfbc","type":"ui_group","name":"WERKSTÄTTE","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b0eb527.16d5ec","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"blackbox","tz":""},{"id":"395f2a47.6cfaf6","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"UDP_CMD","tz":""},{"id":"823ad22a.8e83e","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"sys","tz":""},{"id":"760a3e67.03abe","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"HTTP_CMD","tz":""},{"id":"7270f351.076f3c","type":"ui_tab","name":"Connectivity","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fb75f346.d7f78","type":"ui_group","name":"UDP (Smart Remote)","tab":"7270f351.076f3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5a966d8.d5c368","type":"ui_group","name":"HTTP (GoPro App)","tab":"7270f351.076f3c","order":3,"disp":true,"width":"6","collapse":false},{"id":"7193ba64.490654","type":"ui_group","name":"BLE (GoPro App)","tab":"7270f351.076f3c","order":5,"disp":true,"width":"6","collapse":false},{"id":"a61c1d23.04fe3","type":"ui_group","name":"Latency Guage","tab":"2806402b.f11e7","order":2,"disp":true,"width":"4","collapse":true},{"id":"5eaca1a3.15e28","type":"ui_group","name":"SERVER RACK","tab":"2806402b.f11e7","order":1,"disp":true,"width":"4","collapse":true},{"id":"2806402b.f11e7","type":"ui_tab","name":"Quick Overview","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ad805b2f.308398","type":"ui_group","name":"","tab":"7270f351.076f3c","order":2,"disp":true,"width":"1","collapse":false},{"id":"22f841fd.fe797e","type":"ui_group","name":"","tab":"7270f351.076f3c","order":4,"disp":true,"width":"1","collapse":false},{"id":"92dc2f25.cdcf4","type":"ui_spacer","name":"spacer","group":"f5a966d8.d5c368","order":1,"width":1,"height":1},{"id":"7247376.1528ec8","type":"ui_spacer","name":"spacer","group":"22f841fd.fe797e","order":1,"width":1,"height":1},{"id":"3e4e30cc.ab175","type":"ui_group","name":"","tab":"7270f351.076f3c","order":6,"disp":true,"width":"1","collapse":false},{"id":"92b5dd47.8a1a1","type":"ui_spacer","name":"spacer","group":"7193ba64.490654","order":1,"width":1,"height":1},{"id":"dcb7070f.a6f788","type":"ui_spacer","name":"spacer","group":"3e4e30cc.ab175","order":1,"width":1,"height":1},{"id":"e2b5c88a.499ec8","type":"Generic BLE","localName":"GoPro 8539","address":"c5:30:65:eb:97:26","uuid":"c53065eb9726","characteristics":[{"uuid":"2a07","name":"Tx Power Level","type":"org.bluetooth.characteristic.tx_power_level","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a50","name":"PnP ID","type":"org.bluetooth.characteristic.pnp_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a23","name":"System ID","type":"org.bluetooth.characteristic.system_id","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a28","name":"Software Revision String","type":"org.bluetooth.characteristic.software_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a26","name":"Firmware Revision String","type":"org.bluetooth.characteristic.firmware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a27","name":"Hardware Revision String","type":"org.bluetooth.characteristic.hardware_revision_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a25","name":"Serial Number String","type":"org.bluetooth.characteristic.serial_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a24","name":"Model Number String","type":"org.bluetooth.characteristic.model_number_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"2a29","name":"Manufacturer Name String","type":"org.bluetooth.characteristic.manufacturer_name_string","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"b5f90079aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"b5f90078aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"b5f90077aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"b5f90076aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"b5f90075aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"b5f90074aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"b5f90073aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"b5f90072aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"b5f90006aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"b5f90005aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":false,"writeWithoutResponse":false},{"uuid":"b5f90004aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false},{"uuid":"b5f90003aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"b5f90002aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":true,"writable":true,"writeWithoutResponse":false},{"uuid":"b5f90092aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":true,"readable":false,"writable":false,"writeWithoutResponse":false},{"uuid":"b5f90091aa8d11e390460002a5d5c51b","name":"<Unnamed>","type":"(Custom Type)","notifiable":false,"readable":false,"writable":true,"writeWithoutResponse":false}]},{"id":"ee100a13.3bb9e8","type":"rpi-gpio in","z":"fe9bd502.da1c48","name":"","pin":"15","intype":"tri","debounce":"25","read":false,"x":70,"y":160,"wires":[["dc5e458d.fe91c8"]]},{"id":"448fefa5.dfa64","type":"q-gate","z":"6f2009d6.0acd88","name":"q-gate demo","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","maxQueueLength":"5","keepNewest":false,"qToggle":false,"persist":false,"x":430,"y":240,"wires":[["f43e6dd4.4a09b"]]},{"id":"325e9fce.e72a4","type":"inject","z":"6f2009d6.0acd88","name":"input","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[["448fefa5.dfa64"]]},{"id":"5aebc459.1a32dc","type":"inject","z":"6f2009d6.0acd88","name":"open","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"open","payloadType":"str","x":190,"y":60,"wires":[["448fefa5.dfa64"]]},{"id":"1e67eaee.86a275","type":"inject","z":"6f2009d6.0acd88","name":"toggle","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":190,"y":140,"wires":[["448fefa5.dfa64"]]},{"id":"29dc06db.76384a","type":"inject","z":"6f2009d6.0acd88","name":"close","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"close","payloadType":"str","x":190,"y":100,"wires":[["448fefa5.dfa64"]]},{"id":"37fd4001.55728","type":"inject","z":"6f2009d6.0acd88","name":"default","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"default","payloadType":"str","x":190,"y":180,"wires":[["448fefa5.dfa64"]]},{"id":"f43e6dd4.4a09b","type":"debug","z":"6f2009d6.0acd88","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":240,"wires":[]},{"id":"e07cd047.9ebbc","type":"inject","z":"6f2009d6.0acd88","name":"queue","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"queue","payloadType":"str","x":190,"y":300,"wires":[["448fefa5.dfa64"]]},{"id":"bb91375f.eb7068","type":"inject","z":"6f2009d6.0acd88","name":"flush","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"flush","payloadType":"str","x":190,"y":380,"wires":[["448fefa5.dfa64"]]},{"id":"183a0088.975a7f","type":"inject","z":"6f2009d6.0acd88","name":"trigger","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"trigger","payloadType":"str","x":190,"y":340,"wires":[["448fefa5.dfa64"]]},{"id":"91c32e65.3ecda","type":"inject","z":"6f2009d6.0acd88","name":"reset","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"reset","payloadType":"str","x":190,"y":420,"wires":[["448fefa5.dfa64"]]},{"id":"dc5e458d.fe91c8","type":"function","z":"fe9bd502.da1c48","name":"setTimeStamp_State","func":"\nvar ts = new Date();\nmsg.payload = ts.toISOString() + \"_\" + msg.payload;\n//msg.payload = ts.toUTCString() + \"_\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["ab0dd927.46d468"]]},{"id":"d57da8a8.413958","type":"buffer-array","z":"fe9bd502.da1c48","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":630,"y":40,"wires":[["8948f159.430fc"]]},{"id":"8948f159.430fc","type":"function","z":"fe9bd502.da1c48","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Topic: \"ACTUALVALUE\", Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":840,"y":40,"wires":[["94b93c15.931bf","b83ce749.fea368","844284c6.d8c958"]]},{"id":"ab0dd927.46d468","type":"function","z":"fe9bd502.da1c48","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["d57da8a8.413958"]]},{"id":"3b391d03.ea14f2","type":"http request","z":"fe9bd502.da1c48","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":100,"wires":[[]]},{"id":"94b93c15.931bf","type":"switch","z":"fe9bd502.da1c48","name":"Hit_Clutch","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":100,"wires":[["ab1d2b64.86aa28"]]},{"id":"cd863607.6f7d18","type":"rpi-gpio in","z":"cfd7352b.de1028","d":true,"name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":130,"y":540,"wires":[["912bc373.06c73"]]},{"id":"78bd41e5.4eea6","type":"function","z":"cfd7352b.de1028","name":"SavedCounter","func":"var NewMsg = {savedcounter:0}\nvar count=context.get('mystorage') || 0;\nvar savedcounter = 0;\n\nif( msg.topic === 'signal' )\n{\n  count ++;\n}\n\nif( msg.topic === 'ResetCounter' )\n{\n  savedcounter = count;\n  count = 0;\n}\n\ncontext.set('mystorage',count);\nNewMsg.savedcounter = savedcounter; \n\nreturn NewMsg;\n\n","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["547d022c.ca8d0c","7d7e341c.b0a86c"]]},{"id":"547d022c.ca8d0c","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":320,"wires":[]},{"id":"1d7e9310.6bf2fd","type":"inject","z":"cfd7352b.de1028","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Signal","payload":"true","payloadType":"bool","x":180,"y":420,"wires":[["912bc373.06c73"]]},{"id":"7d7e341c.b0a86c","type":"function","z":"cfd7352b.de1028","name":"VelocitiyCalculation","func":"var NewMsg = {velocity:0};\nvar savedcounter = msg.payload;\nNewMsg.velocity = (20 / 17) * savedcounter + (60 / 17);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["93e322bc.6ae9c"]]},{"id":"93e322bc.6ae9c","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":240,"wires":[]},{"id":"caf8c4a3.b53d38","type":"inject","z":"cfd7352b.de1028","name":"","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ResetCounter","payload":"reset","payloadType":"str","x":140,"y":600,"wires":[["912bc373.06c73"]]},{"id":"1e4b2556.645e7b","type":"function","z":"1516d403.d6df1c","name":"VELOCITY_GATE","func":"var NewMsg = { payload : 0, Speed : 0};\nvar Counter = context.get('Counter') || 0;\nvar OpenSwitchNode = 1;\nvar CloseSwitchNode = 0;\n\nif( msg.topic == \"Signal\" )\n{\n    Counter++;\n}\n\nNewMsg.payload = CloseSwitchNode;\n\nif( msg.topic == \"ResetCounter\" )\n{ \n    \n    NewMsg.payload = OpenSwitchNode;\n    NewMsg.Speed = (20 / 17) * Counter * 5  + (60 / 17);\n  \n    Counter = 0;\n}\n\ncontext.set('Counter', Counter);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["31369dfb.4bd482"]]},{"id":"31369dfb.4bd482","type":"switch","z":"1516d403.d6df1c","name":"VELOCITY_FIRE","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":120,"wires":[[]]},{"id":"c9cad5df.c4aa38","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":540,"wires":[]},{"id":"912bc373.06c73","type":"subflow:1516d403.d6df1c","z":"cfd7352b.de1028","name":"","env":[],"x":430,"y":540,"wires":[["c9cad5df.c4aa38"]]},{"id":"605dd713.f84bd8","type":"inject","z":"1889e7f2.72f9e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":100,"wires":[["379695c3.6888da"]]},{"id":"b69b2621.e2a628","type":"inject","z":"1889e7f2.72f9e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":180,"wires":[["379695c3.6888da"]]},{"id":"379695c3.6888da","type":"rpi-gpio out","z":"1889e7f2.72f9e8","name":"","pin":"33","set":"","level":"0","freq":"","out":"out","x":310,"y":140,"wires":[]},{"id":"1cea54e.528f3ab","type":"file","z":"6f2009d6.0acd88","name":"","filename":"/home/odroid/PIN22/PIN22","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":180,"y":540,"wires":[[]]},{"id":"f315d132.96f28","type":"function","z":"6f2009d6.0acd88","d":true,"name":"reinjecttobuffer","func":"var NewArray = [];\nvar TimestampNewest = 0;\nvar SignalNewest = '0';\n\n\n//var d = msg.payload[3][0];\n  \nTimestampNewest = msg.payload[3][0];\nSignalNewest = msg.payload[3][1];\n\nNewArray.push(TimestampNewest);\nNewArray.push(SignalNewest);\n\nmsg.payload = NewArray;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":140,"y":600,"wires":[[]]},{"id":"f9cf1711.040cb8","type":"ui_numeric","z":"fe9bd502.da1c48","name":"OnClutchLimit","label":"OnClutchLimit","tooltip":"max. On Clutch Time before Tag","group":"a3598685.c656f8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"OnClutchLimit","format":"{{value}}","min":0,"max":10,"step":1,"x":400,"y":380,"wires":[["512d9694.955598"]]},{"id":"fe7e0163.315f2","type":"ui_numeric","z":"fdee7a45.860e48","name":"","label":"numeric","tooltip":"","group":"ff3d23ed.851e","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":0,"max":10,"step":1,"x":140,"y":200,"wires":[["577d15e3.d8ee7c"]]},{"id":"589b722d.0ae44c","type":"debug","z":"fdee7a45.860e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":80,"wires":[]},{"id":"577d15e3.d8ee7c","type":"function","z":"fdee7a45.860e48","name":"LEVEL_CHECK","func":"var NewMsg = { payload : 0, Information : ''};\nvar Level = context.get('Level') || 0;\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.topic == 'ACTUAL_VALUE')\n{\n    if( Level >= msg.payload   )\n    {\n        NewMsg.payload = PassActualValue;\n        NewMsg.Information = 'AnyInformation';\n    }\n    else\n    {\n        NewMsg.payload = BlockActualValue;\n    }\n}\nelse\n{\n   Level = msg.payload;\n}\n\ncontext.set('Level', Level);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["4e1950ff.c9a4e","116c0629.0ebd6a"]]},{"id":"66ef82d2.acd66c","type":"inject","z":"fdee7a45.860e48","name":"","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"ACTUAL_VALUE","payload":"3","payloadType":"num","x":120,"y":120,"wires":[["2d4682ef.728b7e"]]},{"id":"4e1950ff.c9a4e","type":"switch","z":"fdee7a45.860e48","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":140,"wires":[["4b6540c7.dba7c"]]},{"id":"4b6540c7.dba7c","type":"debug","z":"fdee7a45.860e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":140,"wires":[]},{"id":"116c0629.0ebd6a","type":"debug","z":"fdee7a45.860e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":200,"wires":[]},{"id":"2d4682ef.728b7e","type":"switch","z":"fdee7a45.860e48","name":"ANY","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":80,"wires":[["589b722d.0ae44c","577d15e3.d8ee7c"]]},{"id":"5e907e84.91bb8","type":"file","z":"fdee7a45.860e48","name":"","filename":"/home/odroid/.node-red/SpaceStarSettings.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":220,"y":380,"wires":[[]]},{"id":"2736ab5e.180214","type":"file in","z":"fe9bd502.da1c48","name":"LoadOnClutchLimit","filename":"SpaceStarSettings","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":410,"y":280,"wires":[["c3b74846.9ff038"]]},{"id":"c3b74846.9ff038","type":"json","z":"fe9bd502.da1c48","name":"","property":"payload","action":"","pretty":false,"x":570,"y":280,"wires":[["5917c30f.484d5c"]]},{"id":"cd46ecc9.b0f3f","type":"file","z":"fe9bd502.da1c48","name":"SaveOnClutchLimit","filename":"SpaceStarSettings","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":340,"wires":[[]]},{"id":"36cabe70.a496e2","type":"inject","z":"fe9bd502.da1c48","name":"Inject true after boot","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":140,"y":360,"wires":[["2736ab5e.180214"]]},{"id":"512d9694.955598","type":"join","z":"fe9bd502.da1c48","name":"CombineLimits","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":580,"y":380,"wires":[["cd46ecc9.b0f3f","ad6dbd2d.889f5"]]},{"id":"5917c30f.484d5c","type":"change","z":"fe9bd502.da1c48","name":"GetOnClutchLimit","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["f9cf1711.040cb8"]]},{"id":"9580cd86.d9557","type":"function","z":"4c0714ce.c8c0ac","name":"PassLimit","func":"var NewMsg = {payload : 0};\nvar OnClutchLimit = context.get('OnClutchLimit') || 0;\n\ncontext.set('OnClutchLimit') = msg.payload.OnClutchLimit;\n\ncontext.set('OnClutchLimit', OnClutchLimit);\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.Timespan >= 0)\n{\n    if( msg.Timespan >= OnClutchLimit)\n    {\n        NewMsg.payload = PassActualValue;\n    }\n    else\n    {\n        NewMsg.payload = BlockActualValue;\n    }\n}\n//if( msg.payload.OnClutchLimit == 'OnClutchLimit')\n//{\n//    context.set('OnClutchLimit', OnClutchLimit);\n//}\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":160,"y":40,"wires":[["ef28d4ab.10e658"]]},{"id":"ef28d4ab.10e658","type":"switch","z":"4c0714ce.c8c0ac","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":40,"wires":[[]]},{"id":"ab1d2b64.86aa28","type":"function","z":"fe9bd502.da1c48","name":"PassLimit","func":"var NewMsg = {payload: 0, OnClutchTimespan: 0, OnClutchLimit: 0};\nvar Settings = global.get(\"SpaceStarSettings\");\n\nNewMsg.OnClutchLimit = Settings.OnClutchLimit;\nNewMsg.OnClutchTimespan = msg.Timespan;\n    \nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\n    if( msg.Timespan >= Settings.OnClutchLimit)\n     {\n       NewMsg.payload = PassActualValue;\n     }\n    else\n     {\n       NewMsg.payload = BlockActualValue;\n     }\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["afc5b76c.9c5638","fba622ee.880f7"]]},{"id":"afc5b76c.9c5638","type":"switch","z":"fe9bd502.da1c48","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":100,"wires":[["3b391d03.ea14f2"]]},{"id":"fba622ee.880f7","type":"debug","z":"fe9bd502.da1c48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":160,"wires":[]},{"id":"ad6dbd2d.889f5","type":"function","z":"fe9bd502.da1c48","name":"GlobalSet","func":"global.set(\"SpaceStarSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":400,"wires":[[]]},{"id":"85ba0350.2569b","type":"rpi-gpio in","z":"60b4d38a.a1148c","d":true,"name":"","pin":"15","intype":"tri","debounce":"25","read":false,"x":110,"y":60,"wires":[["21cf92bf.ac86de","defae924.c14e78"]]},{"id":"21cf92bf.ac86de","type":"function","z":"60b4d38a.a1148c","name":"setTimeStamp_State","func":"\nvar ts = new Date();\nmsg.payload = ts.toISOString() + \"_\" + msg.payload;\n//msg.payload = ts.toUTCString() + \"_\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["84dd22c2.af9ee"]]},{"id":"63d03b8f.e82054","type":"buffer-array","z":"60b4d38a.a1148c","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":670,"y":60,"wires":[["86175588.8ba3f8"]]},{"id":"86175588.8ba3f8","type":"function","z":"60b4d38a.a1148c","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Topic: \"ACTUALVALUE\", Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":180,"y":140,"wires":[["efd482a6.5bc44"]]},{"id":"84dd22c2.af9ee","type":"function","z":"60b4d38a.a1148c","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["63d03b8f.e82054"]]},{"id":"382c3276.945cbe","type":"http request","z":"60b4d38a.a1148c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":140,"wires":[["fa19c65b.c820c8"]]},{"id":"efd482a6.5bc44","type":"switch","z":"60b4d38a.a1148c","name":"Hit_Clutch","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":140,"wires":[["43dc6eac.de64a","6d0c6136.236fa","7dbb5b61.bbee34"]]},{"id":"fa19c65b.c820c8","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":140,"wires":[]},{"id":"43dc6eac.de64a","type":"switch","z":"60b4d38a.a1148c","d":true,"name":"OnClutchTime","property":"Timespan","propertyType":"msg","rules":[{"t":"gte","v":"topic","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":140,"wires":[["382c3276.945cbe"]]},{"id":"f76856e.576c4a8","type":"ui_numeric","z":"60b4d38a.a1148c","d":true,"name":"OnClutchLimit","label":"OnClutchLimit","tooltip":"max. On Clutch Time before Tag","group":"a3598685.c656f8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"OnClutchLimit","format":"{{value}}","min":0,"max":10,"step":1,"x":420,"y":380,"wires":[["28b165a8.ae696a"]]},{"id":"defae924.c14e78","type":"file in","z":"60b4d38a.a1148c","name":"LoadOnClutchLimit","filename":"SpaceStarSettings","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":370,"y":320,"wires":[["fd58a259.abf52"]]},{"id":"fd58a259.abf52","type":"json","z":"60b4d38a.a1148c","name":"","property":"payload","action":"","pretty":false,"x":530,"y":320,"wires":[["df754145.49b7c"]]},{"id":"ae0a19ef.1a4898","type":"file","z":"60b4d38a.a1148c","name":"SaveOnClutchLimit","filename":"SpaceStarSettings","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":810,"y":380,"wires":[[]]},{"id":"55508c9e.f73e84","type":"inject","z":"60b4d38a.a1148c","d":true,"name":"Inject true after boot","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":140,"y":320,"wires":[["defae924.c14e78"]]},{"id":"28b165a8.ae696a","type":"join","z":"60b4d38a.a1148c","name":"CombineLimits","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":600,"y":380,"wires":[["ae0a19ef.1a4898","6d0c6136.236fa","18a0b49d.92060b"]]},{"id":"df754145.49b7c","type":"change","z":"60b4d38a.a1148c","name":"GetOnClutchLimit","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":380,"wires":[["f76856e.576c4a8"]]},{"id":"6d0c6136.236fa","type":"function","z":"60b4d38a.a1148c","name":"PassLimit","func":"var NewMsg = {payload: 0, Timespan: 0, OnClutchLimit: 0};\n//var Clutch = current.get('Clutch') || 0;\n//global.set(\"SpaceStarSettings\", msg.payload);\nvar Settings = global.get(\"SpaceStarSettings\");\n//var OnClutchLimit = SpaceStarSettings.OnClutchLimit;\n\nif ( msg.topic == \"OnClutchLimit\")\n\n{\n   NewMsg.OnClutchLimit = Settings.OnClutchLimit;\n    \n}\n\n\n//NewMsg.MinuteOn = Timesettings.MinuteOn;\n\n//parseFloat(parseFloat(OnClutchLimit).toFixed(3));\n\n//var Clutch = msg.payload;\n\n//context.set('mydata', msg.payload);\n//NewMsg.limit = msg.payload;\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.Topic == \"ACTUALVALUE\")\n\n{  NewMsg.Timespan = msg.Timespan;\n\n    if( msg.Timespan >= Settings.OnClutchLimit)\n    {\n       NewMsg.payload = PassActualValue;\n    }\n    else\n    {\n       NewMsg.payload = BlockActualValue;\n   }\n}\n//if( msg.payload.OnClutchLimit == 'OnClutchLimit')\n//{\n    //context.set('OnClutchLimit', OnClutchLimit);\n//}\nreturn NewMsg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["a02b8825.05b758","2b4e97ee.910658"]]},{"id":"a02b8825.05b758","type":"switch","z":"60b4d38a.a1148c","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":240,"wires":[["382c3276.945cbe"]]},{"id":"7dbb5b61.bbee34","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":220,"wires":[]},{"id":"2b4e97ee.910658","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":320,"wires":[]},{"id":"18a0b49d.92060b","type":"function","z":"60b4d38a.a1148c","name":"GlobalSet","func":"global.set(\"SpaceStarSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":480,"wires":[["b1c93504.9c55c8"]]},{"id":"b1c93504.9c55c8","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":480,"wires":[]},{"id":"4acef5c.85c7c0c","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":560,"wires":[]},{"id":"5ce393d3.af42dc","type":"function","z":"60b4d38a.a1148c","name":"","func":"var NewMsg = {payload: 0, timespan: 0, OnClutchLimit: 0};\nvar Settings = global.get(\"SpaceStarSettings\");\nNewMsg.OnClutchLimit = Settings.OnClutchLimit;\nNewMsg.payload = 1;\nNewMsg.timespan = 999; \nreturn NewMsg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["4acef5c.85c7c0c"]]},{"id":"89c325a3.8f2708","type":"inject","z":"60b4d38a.a1148c","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":170,"y":540,"wires":[["5ce393d3.af42dc"]]},{"id":"c12f3d6b.45515","type":"rpi-gpio in","z":"e1a94fdd.a1f8a","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":70,"y":160,"wires":[["f35cdcdb.43dee"]]},{"id":"f35cdcdb.43dee","type":"function","z":"e1a94fdd.a1f8a","name":"setTimeStamp_State","func":"\nvar ts = new Date();\nmsg.payload = ts.toISOString() + \"_\" + msg.payload;\n//msg.payload = ts.toUTCString() + \"_\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["8f797501.967878"]]},{"id":"d256d3c0.78001","type":"buffer-array","z":"e1a94fdd.a1f8a","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":630,"y":40,"wires":[["ddbd59f9.90cf48"]]},{"id":"ddbd59f9.90cf48","type":"function","z":"e1a94fdd.a1f8a","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Topic: \"ACTUALVALUE\", Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":840,"y":40,"wires":[["8978db7d.5ca328"]]},{"id":"8f797501.967878","type":"function","z":"e1a94fdd.a1f8a","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["d256d3c0.78001"]]},{"id":"b872bbd5.b50a18","type":"http request","z":"e1a94fdd.a1f8a","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":100,"wires":[[]]},{"id":"8978db7d.5ca328","type":"switch","z":"e1a94fdd.a1f8a","name":"Hit_Brake","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":100,"wires":[["5e06e8c.c0a2b18"]]},{"id":"6b4b90b5.1885e","type":"ui_numeric","z":"e1a94fdd.a1f8a","name":"OnBrakeLimit","label":"OnBrakeLimit","tooltip":"max. On Breake Time before Tag","group":"a3598685.c656f8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"OnBrakeLimit","format":"{{value}}","min":0,"max":10,"step":1,"x":400,"y":380,"wires":[["a6898064.4da51"]]},{"id":"b53e9cae.660e2","type":"file in","z":"e1a94fdd.a1f8a","name":"LoadOnBrakeLimit","filename":"SpaceStarSettings","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":410,"y":280,"wires":[["515dfd1e.ffde24"]]},{"id":"515dfd1e.ffde24","type":"json","z":"e1a94fdd.a1f8a","name":"","property":"payload","action":"","pretty":false,"x":570,"y":280,"wires":[["e68a8f43.67f79"]]},{"id":"76d7b125.f26db","type":"file","z":"e1a94fdd.a1f8a","name":"SaveOnBrakeLimit","filename":"SpaceStarSettings","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":340,"wires":[[]]},{"id":"e1a46d8c.7ac06","type":"inject","z":"e1a94fdd.a1f8a","name":"Inject true after boot","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":140,"y":360,"wires":[["b53e9cae.660e2"]]},{"id":"a6898064.4da51","type":"join","z":"e1a94fdd.a1f8a","name":"CombineLimits","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":580,"y":380,"wires":[["76d7b125.f26db","3fed5991.0699c6"]]},{"id":"e68a8f43.67f79","type":"change","z":"e1a94fdd.a1f8a","name":"GetOnBrakeLimit","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["6b4b90b5.1885e"]]},{"id":"5e06e8c.c0a2b18","type":"function","z":"e1a94fdd.a1f8a","name":"PassLimit","func":"var NewMsg = {payload: 0, OnBrakeTimespan: 0, OnBrakeLimit: 0};\nvar Settings = global.get(\"SpaceStarSettings\");\n\nNewMsg.OnBrakeLimit = Settings.OnBrakeLimit;\nNewMsg.OnBrakeTimespan = msg.Timespan;\n    \nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\n    if( msg.Timespan >= Settings.OnBrakeLimit)\n     {\n       NewMsg.payload = PassActualValue;\n     }\n    else\n     {\n       NewMsg.payload = BlockActualValue;\n     }\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["e2fb0203.4029f","153563e5.47c44c"]]},{"id":"e2fb0203.4029f","type":"switch","z":"e1a94fdd.a1f8a","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":100,"wires":[["b872bbd5.b50a18"]]},{"id":"153563e5.47c44c","type":"debug","z":"e1a94fdd.a1f8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":160,"wires":[]},{"id":"3fed5991.0699c6","type":"function","z":"e1a94fdd.a1f8a","name":"GlobalSet","func":"global.set(\"SpaceStarSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":400,"wires":[[]]},{"id":"b83ce749.fea368","type":"debug","z":"fe9bd502.da1c48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":180,"wires":[]},{"id":"f2cc5b5c.e245d8","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":790,"y":360,"wires":[]},{"id":"5da3cecc.2575f","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":320,"wires":[]},{"id":"a70e5ded.c0b1a","type":"function","z":"93d7b78b.d2d2d8","name":"SH1_UDP","func":"\nvar highCounter_SH1 = flow.get(\"highCounter_SH1\")||0;\nvar lowCounter_SH1 = flow.get(\"lowCounter_SH1\")||0;\n//highCounter = 0;\n//lowCounter = 0;\n\n//count up\nif (lowCounter_SH1 >= 255)\n{highCounter_SH1++; lowCounter_SH1 = 0;}\nif (highCounter_SH1 >= 255) {highCounter_SH1 = 0; lowCounter_SH1++;}\n\nlowCounter_SH1++;\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].Param1, msg.payload[0].Param2, msg.payload[0].DC]);\nmsg.payload[9] = highCounter_SH1;\nmsg.payload[10] = lowCounter_SH1;\n\n\nflow.set(\"highCounter_SH1\",highCounter_SH1);\nflow.set(\"lowCounter_SH1\",lowCounter_SH1);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["5da3cecc.2575f","f2cc5b5c.e245d8"]]},{"id":"8d3bb658.4ada48","type":"udp out","z":"89b9f172.e63fe","name":"GoProHero5black","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":630,"y":300,"wires":[]},{"id":"6fb463e9.40755c","type":"debug","z":"89b9f172.e63fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":180,"wires":[]},{"id":"368a4fa8.d54c4","type":"inject","z":"89b9f172.e63fe","d":true,"name":"","repeat":"1.55","crontab":"","once":false,"onceDelay":"0.5","topic":"","payload":"true","payloadType":"bool","x":140,"y":80,"wires":[["5e61020f.5fa4ac"]]},{"id":"5e61020f.5fa4ac","type":"function","z":"89b9f172.e63fe","name":"UDP_HeartBeat_batch","func":"\nvar highCounterStatusReport = flow.get(\"highCounterStatusReport\")||0;\nvar lowCounterStatusReport = flow.get(\"lowCounterStatusReport\")||0;\nvar highCounterLCDStatus = flow.get(\"highCounterLCDStatus\")||0;\nvar lowCounterLCDStatus = flow.get(\"lowCounterLCDStatus\")||0;\nvar Opener1 = {payload:new Buffer ([0x00])};\nvar Opener2 = {payload:new Buffer ([0x01])};\nvar LCDStatus = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x6C, 0x63]);\nvar StatusReport = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x73, 0x74])\n\n//send Opener1\n//node.send(Opener1);\n//node.done();\n\n//send Opener2\n//node.send(Opener2);\n//node.done();\n\n\n//count up and send LCDStatus 5 times\nfor (var i = 0; i < 5; i++)\n\n{\nif (lowCounterLCDStatus >= 255)\n{highCounterLCDStatus++; lowCounterLCDStatus = 0;}\nif (highCounterLCDStatus >= 255) {highCounterLCDStatus = 0; lowCounterLCDStatus++;}\n\nlowCounterLCDStatus++;\n\nLCDStatus[9] = highCounterLCDStatus;\nLCDStatus[10] = lowCounterLCDStatus;\n\nvar NewLCDStatus = {payload:LCDStatus};\n\nnode.send(NewLCDStatus);\nnode.done();\n\nflow.set(\"highCounterLCDStatus\",highCounterLCDStatus);\nflow.set(\"lowCounterLCDStatus\",lowCounterLCDStatus);\n}\n\n\n//count up StatusReport\nif (lowCounterStatusReport >= 255)\n{highCounterStatusReport++; lowCounterStatusReport = 0;}\nif (highCounterStatusReport >= 255) {highCounterStatusReport = 0; lowCounterStatusReport++;}\n\nlowCounterStatusReport++;\n\nStatusReport[9] = highCounterStatusReport;\nStatusReport[10] = lowCounterStatusReport;\n\n\nflow.set(\"highCounterStatusReport\",highCounterStatusReport);\nflow.set(\"lowCounterStatusReport\",lowCounterStatusReport);\n\nreturn {payload:StatusReport};","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["6fb463e9.40755c","8d3bb658.4ada48"]]},{"id":"f7dd97da.158c18","type":"function","z":"89b9f172.e63fe","name":"UDP_HeartBeat_singel","func":"\nvar highCounterStatusReport = flow.get(\"highCounterStatusReport\")||0;\nvar lowCounterStatusReport = flow.get(\"lowCounterStatusReport\")||0;\nvar highCounterLCDStatus = flow.get(\"highCounterLCDStatus\")||0;\nvar lowCounterLCDStatus = flow.get(\"lowCounterLCDStatus\")||0;\nvar Opener1 = {payload:new Buffer ([0x00])};\nvar Opener2 = {payload:new Buffer ([0x01])};\nvar LCDStatus = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x6C, 0x63]);\nvar StatusReport = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x73, 0x74])\nvar delay = 800;\n\n\n//send Opener1\nsetTimeout(()=>{\nnode.send(Opener1);\nnode.done();\n}, delay);\n\n\n//send Opener2\nsetTimeout(()=>{\nnode.send(Opener2);\nnode.done();\n}, 2 * delay)\n\n//count up and send LCDStatus 5 times\n\n\nfor (var i = 0; i < 5; i++)\n{setTimeout(()=>\n{\nif (lowCounterLCDStatus >= 255)\n{highCounterLCDStatus++; lowCounterLCDStatus = 0;}\nif (highCounterLCDStatus >= 255) {highCounterLCDStatus = 0; lowCounterLCDStatus++;}\n\nlowCounterLCDStatus++;\n\nLCDStatus[9] = highCounterLCDStatus;\nLCDStatus[10] = lowCounterLCDStatus;\n\nvar NewLCDStatus = {payload:LCDStatus};\n\nnode.send(NewLCDStatus);\nnode.done();\n\nflow.set(\"highCounterLCDStatus\",highCounterLCDStatus);\nflow.set(\"lowCounterLCDStatus\",lowCounterLCDStatus);\n    \n}, 3 * delay + i * delay)}\n\n\n//count up StatusReport\nif (lowCounterStatusReport >= 255)\n{highCounterStatusReport++; lowCounterStatusReport = 0;}\nif (highCounterStatusReport >= 255) {highCounterStatusReport = 0; lowCounterStatusReport++;}\n\nlowCounterStatusReport++;\n\nStatusReport[9] = highCounterStatusReport;\nStatusReport[10] = lowCounterStatusReport;\n\n\nflow.set(\"highCounterStatusReport\",highCounterStatusReport);\nflow.set(\"lowCounterStatusReport\",lowCounterStatusReport);\n\nsetTimeout(()=>{\nnode.send({payload:StatusReport});\nnode.done();\n}, 8 * delay);","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["5316125d.25b53c","212d622b.85f77e"]]},{"id":"6768f82f.e5de68","type":"inject","z":"89b9f172.e63fe","d":true,"name":"","repeat":"6.4","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"true","payloadType":"bool","x":90,"y":340,"wires":[["f7dd97da.158c18"]]},{"id":"5316125d.25b53c","type":"debug","z":"89b9f172.e63fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":380,"wires":[]},{"id":"212d622b.85f77e","type":"udp out","z":"89b9f172.e63fe","name":"GoProHero5black","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":630,"y":520,"wires":[]},{"id":"42bb9fad.e2d86","type":"function","z":"89b9f172.e63fe","name":"UDP_HeartBeat_sepp89117","func":"var LCDStatus = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x6c, 0x63]);\nvar StatusReport = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x73, 0x74]);\nvar Wait = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x77, 0x74]);\n\n//Intervall für Nachrichten senden\nvar delay = 800;\n\n// ein 2-Byte-Zähler für alle Nachrichten\nvar highCounter = 0;\nvar lowCounter = 0;\n\n// ein Indikator welche Nachricht diesesmal zu senden ist\nvar indicator = 0;\n\n//Setze Timer der gemäß Intervall ausführt\nsetInterval(()=>{\n    switch(indicator){\n        case 0:\n            Wait[9] = highCounter;\n            Wait[10] = lowCounter;\n            node.send({payload:Wait});\n            node.done();\n            indicator++; //Indikator hochzählen\n            break;\n        case 1:\n            StatusReport[9] = highCounter;\n            StatusReport[10] = lowCounter;\n            node.send({payload:StatusReport});\n            node.done();\n            indicator++; //Indikator hochzählen\n            break;\n        case 2:\n            LCDStatus[9] = highCounter;\n            LCDStatus[10] = lowCounter;            \n            node.send({payload:LCDStatus});\n            node.done();\n            indicator++; //Indikator hochzählen\n            break;\n        case 3:\n            StatusReport[9] = highCounter;\n            StatusReport[10] = lowCounter;\n            node.send({payload:StatusReport});\n            node.done();\n            indicator++; //Indikator zurücksetzen\n            break;\n    }\n\n    //Nachrichtenzähler hochzählen nachdem Nachricht gesendet wurde\n    lowCounter++;\n\n    //Sollte lowCounter > 255 sein (lowCounter > 0xFF), wird der highCounter erhöht und der lowCounter zurück auf 0 gesetzt\n    if (lowCounter > 255) {\n        highCounter++;\n        lowCounter = 0;\n    }\n    //Sollte highCounter > 255 sein (highCounter > 0xFF), wird auch der highCounter zurück auf 0 gesetzt\n    if (highCounter > 255) {\n        highCounter = 0;\n    }\n}, delay);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":660,"wires":[["a4ce7172.89ca1","3ab68782.f99848","a861b82e.17c0b8"]]},{"id":"5f62ac67.66dd14","type":"inject","z":"89b9f172.e63fe","name":"","repeat":"3.2","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"true","payloadType":"bool","x":110,"y":580,"wires":[["42bb9fad.e2d86"]]},{"id":"a4ce7172.89ca1","type":"debug","z":"89b9f172.e63fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":620,"wires":[]},{"id":"3ab68782.f99848","type":"udp out","z":"89b9f172.e63fe","name":"GoProHero5black","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":650,"y":760,"wires":[]},{"id":"a358be1b.cf4f8","type":"function","z":"89b9f172.e63fe","name":"UDP_HeartBeat_sepp_merged_singel","func":"\nvar highCounterWait = flow.get(\"highCounterWait\")||0;\nvar lowCounterWait = flow.get(\"lowCounterWait\")||0;\nvar highCounterStatusReport = flow.get(\"highCounterStatusReport\")||0;\nvar lowCounterStatusReport = flow.get(\"lowCounterStatusReport\")||0;\nvar highCounterLCDStatus = flow.get(\"highCounterLCDStatus\")||0;\nvar lowCounterLCDStatus = flow.get(\"lowCounterLCDStatus\")||0;\nvar Wait = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01, 0x00, 0x00, 0x77, 0x74]);\nvar StatusReport = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x73, 0x74])\nvar LCDStatus = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x6C, 0x63, 0x05]);\nvar delay = 800;\n\n//count up Wait\n\nif (lowCounterWait >= 255)\n{highCounterWait++; lowCounterWait = 0;}\nif (highCounterWait >= 255) {highCounterWait = 0; lowCounterWait++;}\n\nlowCounterWait++;\n\nStatusReport[9] = highCounterWait;\nStatusReport[10] = lowCounterWait;\n\n\nflow.set(\"highCounterWait\",highCounterWait);\nflow.set(\"lowCounterWait\",lowCounterWait);\n\nsetTimeout(()=>{\nnode.send({payload:Wait});\nnode.done();\n}, delay);\n\n\n\n\n//count up StatusReport\n\nif (lowCounterStatusReport >= 255)\n{highCounterStatusReport++; lowCounterStatusReport = 0;}\nif (highCounterStatusReport >= 255) {highCounterStatusReport = 0; lowCounterStatusReport++;}\n\nlowCounterStatusReport++;\n\nStatusReport[9] = highCounterStatusReport;\nStatusReport[10] = lowCounterStatusReport;\n\n\nflow.set(\"highCounterStatusReport\",highCounterStatusReport);\nflow.set(\"lowCounterStatusReport\",lowCounterStatusReport);\n\nsetTimeout(()=>{\nnode.send({payload:StatusReport});\nnode.done();\n}, 2 * delay);\n\n\n\n//count up and send LCDStatus 2 times\n\nfor (var i = 0; i < 2; i++)\n{setTimeout(()=>\n{\nif (lowCounterLCDStatus >= 255)\n{highCounterLCDStatus++; lowCounterLCDStatus = 0;}\nif (highCounterLCDStatus >= 255) {highCounterLCDStatus = 0; lowCounterLCDStatus++;}\n\nlowCounterLCDStatus++;\n\nLCDStatus[9] = highCounterLCDStatus;\nLCDStatus[10] = lowCounterLCDStatus;\n\nvar NewLCDStatus = {payload:LCDStatus};\n\nnode.send(NewLCDStatus);\nnode.done();\n\nflow.set(\"highCounterLCDStatus\",highCounterLCDStatus);\nflow.set(\"lowCounterLCDStatus\",lowCounterLCDStatus);\n    \n}, 3 * delay + i * delay)};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":900,"wires":[["d50ac62c.d85e18","dbbce4dd.89ee78"]]},{"id":"6004adf1.594074","type":"inject","z":"89b9f172.e63fe","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3.2","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"true","payloadType":"bool","x":90,"y":820,"wires":[["a358be1b.cf4f8"]]},{"id":"d50ac62c.d85e18","type":"debug","z":"89b9f172.e63fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":860,"wires":[]},{"id":"dbbce4dd.89ee78","type":"udp out","z":"89b9f172.e63fe","name":"GoProHero5black","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":630,"y":1000,"wires":[]},{"id":"ce536a46.7d6eb8","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"multi","x":790,"y":80,"wires":[]},{"id":"5902dd22.936594","type":"function","z":"93d7b78b.d2d2d8","name":"PW0_UDP","func":"\nvar highCounter_PW0 = flow.get(\"highCounter_PW0\")||0;\nvar lowCounter_PW0 = flow.get(\"lowCounter_PW0\")||0;\n//highCounter = 0;\n//lowCounter = 0;\n\n//count up\nif (lowCounter_PW0 >= 255)\n{highCounter_PW0++; lowCounter_PW0 = 0;}\nif (highCounter_PW0 >= 255) {highCounter_PW0 = 0; lowCounter_PW0++;}\n\nlowCounter_PW0++;\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].Param1, msg.payload[0].Param2, msg.payload[0].DC]);\nmsg.payload[9] = highCounter_PW0;\nmsg.payload[10] = lowCounter_PW0;\n\n\nflow.set(\"highCounter_PW0\",highCounter_PW0);\nflow.set(\"lowCounter_PW0\",lowCounter_PW0);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["ce536a46.7d6eb8","1375a5de.59c95a"]]},{"id":"774008af.b12d28","type":"exec","z":"bffdc47c.00e2b8","command":"sudo service hostapd stop && sudo service hostapd start","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"AP stop/start","x":870,"y":180,"wires":[[],[],[]]},{"id":"74c54fcc.7892c","type":"udp in","z":"bffdc47c.00e2b8","name":"GoProHero5black receive","iface":"","port":"8383","ipv":"udp4","multicast":"true","group":"10.71.79.100","datatype":"buffer","x":110,"y":220,"wires":[["267c4f26.18714","919dc491.0fd218"]]},{"id":"267c4f26.18714","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":130,"y":160,"wires":[]},{"id":"1ea5f37f.f9dd7d","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":120,"wires":[]},{"id":"6792e53f.592dbc","type":"trigger","z":"bffdc47c.00e2b8","name":"Watchdog2","op1":"","op2":"GoProOffline","op1type":"nul","op2type":"str","duration":"3.4","extend":true,"overrideDelay":false,"units":"s","reset":"GoProOnline","bytopic":"all","topic":"topic","outputs":1,"x":650,"y":180,"wires":[["1ea5f37f.f9dd7d","774008af.b12d28","361974a2.a6fe8c"]],"info":"setze \n\"dann\" \"warten auf\" auf 3 x var:delay des Heartbeats für beste Ergebnisse (nicht kürzer sonst beginnt er zu flappen!)\n\nDieses WakeUp Gopro bewirkt:\n1.) Overruled sozusagen die \"Automatische Kammeraabschaltung\" der GoPro - Settings und\n2.) dedektiert und behebt Abrisse in der UDP Kommunikation zwischen Node-red und GoProHero5Black"},{"id":"4c79bcae.17b294","type":"comment","z":"bffdc47c.00e2b8","name":"from sleep","info":"","x":110,"y":60,"wires":[]},{"id":"4672e707.47a5f8","type":"mysql","z":"a71d92ae.7639a","mydb":"4b0eb527.16d5ec","name":"","x":540,"y":220,"wires":[["f921478b.d22178"]]},{"id":"844284c6.d8c958","type":"link out","z":"fe9bd502.da1c48","name":"CLUTCH","links":["b92fed1a.7c89"],"x":660,"y":200,"wires":[]},{"id":"b92fed1a.7c89","type":"link in","z":"a71d92ae.7639a","name":"CLUTCH","links":["844284c6.d8c958"],"x":75,"y":220,"wires":[["dea918b1.712018","668f3c9e.6affa4"]]},{"id":"dea918b1.712018","type":"debug","z":"a71d92ae.7639a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":150,"y":280,"wires":[]},{"id":"668f3c9e.6affa4","type":"function","z":"a71d92ae.7639a","name":"Insert CLUTCH","func":"var onoff1 = msg.Signal1.replace(\"1\", \"OFF\").replace(\"0\", \"ON\");\nvar onoff2 = msg.Signal2.replace(\"1\", \"OFF\").replace(\"0\", \"ON\");\nconst reg = /\\.\\d{3}Z/;\n\nmsg.timestamp = new Date(msg.Timestamp2).toISOString().replace(\"T\", \" \").replace(reg, \"\");\nmsg.topic = \"INSERT INTO clutch(Timestamp_at_end, Signal1, Signal2, Timespan) VALUES( '\"+msg.timestamp+\"', '\"+onoff1+\"', '\"+onoff2+\"', '\"+msg.Timespan+\"' );\";\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[["4672e707.47a5f8","d37e318b.ea619"]]},{"id":"d37e318b.ea619","type":"debug","z":"a71d92ae.7639a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":280,"wires":[]},{"id":"f921478b.d22178","type":"debug","z":"a71d92ae.7639a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":220,"wires":[]},{"id":"31fa38e7.ec2ee8","type":"mysql","z":"a71d92ae.7639a","mydb":"395f2a47.6cfaf6","name":"","x":570,"y":460,"wires":[["e28cd4de.a80628"]]},{"id":"b49543d5.2ef48","type":"comment","z":"a71d92ae.7639a","name":"INSERT","info":"","x":110,"y":100,"wires":[]},{"id":"7590ddb1.667e34","type":"comment","z":"a71d92ae.7639a","name":"SELECT","info":"","x":100,"y":380,"wires":[]},{"id":"1dd1b78a.ae42f8","type":"function","z":"a71d92ae.7639a","name":"SELECT PW0","func":"//var onoff1 = msg.Signal1.replace(\"1\", \"OFF\").replace(\"0\", \"ON\");\n//var onoff2 = msg.Signal2.replace(\"1\", \"OFF\").replace(\"0\", \"ON\");\n//const reg = /\\.\\d{3}Z/;\n\n//msg.timestamp = new Date(msg.Timestamp2).toISOString().replace(\"T\", \" \").replace(reg, \"\");\n//msg.topic = \"INSERT INTO clutch(Timestamp_at_end, Signal1, Signal2, Timespan) VALUES( '\"+msg.timestamp+\"', '\"+onoff1+\"', '\"+onoff2+\"', '\"+msg.Timespan+\"' );\";\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Param1, Param2, DC FROM sepp89117 WHERE UniqueID = 16\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":460,"wires":[["31fa38e7.ec2ee8","b665934c.b6568"]]},{"id":"e619e57e.62e168","type":"inject","z":"a71d92ae.7639a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":480,"wires":[["1dd1b78a.ae42f8"]]},{"id":"b665934c.b6568","type":"debug","z":"a71d92ae.7639a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":540,"wires":[]},{"id":"e28cd4de.a80628","type":"debug","z":"a71d92ae.7639a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":540,"wires":[]},{"id":"617ee4ca.5518ac","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":80,"wires":[["5902dd22.936594"]]},{"id":"5bc23bd4.72bb44","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT PW0","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Param1, Param2, DC FROM sepp89117 WHERE UniqueID = 16\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":80,"wires":[["617ee4ca.5518ac"]]},{"id":"75afe49e.b09dac","type":"inject","z":"93d7b78b.d2d2d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":80,"wires":[["5bc23bd4.72bb44"]]},{"id":"1375a5de.59c95a","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":40,"wires":[]},{"id":"218ac4fc.7f49dc","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":360,"wires":[["a70e5ded.c0b1a","105e2bd2.1e8f44"]]},{"id":"78df025d.595e2c","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT SH1","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Param1, Param2, DC FROM sepp89117 WHERE UniqueID = 19\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":360,"wires":[["218ac4fc.7f49dc"]]},{"id":"67e6fa7d.fe39d4","type":"inject","z":"93d7b78b.d2d2d8","name":"","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":360,"wires":[["78df025d.595e2c"]]},{"id":"7b9050f2.cbb5d","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":790,"y":520,"wires":[]},{"id":"20f6d8d0.575768","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":480,"wires":[]},{"id":"d42b2663.3383b8","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":520,"wires":[["b1837ec5.0461a"]]},{"id":"60680ce2.da8a54","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT TAG","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, P, A, DC, `14` FROM PA WHERE UniqueID = 1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":520,"wires":[["d42b2663.3383b8"]]},{"id":"1621f145.aee1ff","type":"inject","z":"93d7b78b.d2d2d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":520,"wires":[["60680ce2.da8a54"]]},{"id":"b1837ec5.0461a","type":"function","z":"93d7b78b.d2d2d8","name":"TAG_UDP","func":"\nvar highCounter_TAG = flow.get(\"highCounter_TAG\")||0;\nvar lowCounter_TAG = flow.get(\"lowCounter_TAG\")||0;\n//lowCounter_TAG=0;\n\n//count up\nif (lowCounter_TAG >= 255)\n{highCounter_TAG++; lowCounter_TAG = 0;}\nif (highCounter_TAG >= 255) {highCounter_TAG = 0; lowCounter_TAG++;}\n\nlowCounter_TAG++;\n\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].P, msg.payload[0].A, msg.payload[0].DC, msg.payload[0][\"14\"]]);\nmsg.payload[9] = highCounter_TAG;\nmsg.payload[10] = lowCounter_TAG;\n\nflow.set(\"highCounter_TAG\",highCounter_TAG);\nflow.set(\"lowCounter_TAG\",lowCounter_TAG);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["7b9050f2.cbb5d","20f6d8d0.575768"]]},{"id":"75b5fea0.4a916","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":790,"y":680,"wires":[]},{"id":"65733c9d.b82024","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":640,"wires":[]},{"id":"37d6e955.24aec6","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":680,"wires":[["704903a7.d15fac"]]},{"id":"832c9299.605ee","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT SH0","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Param1, Param2, DC FROM sepp89117 WHERE UniqueID = 20\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":680,"wires":[["37d6e955.24aec6"]]},{"id":"cb3190ff.cc314","type":"inject","z":"93d7b78b.d2d2d8","name":"","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":680,"wires":[["832c9299.605ee"]]},{"id":"704903a7.d15fac","type":"function","z":"93d7b78b.d2d2d8","name":"SH0_UDP","func":"\nvar highCounter_SH0 = flow.get(\"highCounter_SH0\")||0;\nvar lowCounter_SH0 = flow.get(\"lowCounter_SH0\")||0;\n\n\n//count up\nif (lowCounter_SH0 >= 255)\n{highCounter_SH0++; lowCounter_SH0 = 0;}\nif (highCounter_SH0 >= 255) {highCounter_SH0 = 0; lowCounter_SH0++;}\n \nlowCounter_SH0++;\n\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].Param1, msg.payload[0].Param2, msg.payload[0].DC]);\nmsg.payload[9] = highCounter_SH0;\nmsg.payload[10] = lowCounter_SH0;\n\n\nflow.set(\"highCounter_SH0\",highCounter_SH0);\nflow.set(\"lowCounter_SH0\",lowCounter_SH0);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":680,"wires":[["75b5fea0.4a916","65733c9d.b82024"]]},{"id":"38b09824.3716a8","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":790,"y":840,"wires":[]},{"id":"c9a1ad3.ddd645","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":800,"wires":[]},{"id":"de8879d5.6739e8","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":840,"wires":[["524bf47d.e5aebc"]]},{"id":"f0dfd245.aad12","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT YY_SV","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Y1, Y2, DC, `14`, `15`, `16`, `17`, `18`, `19`, `20` FROM YY WHERE UniqueID = 185\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":840,"wires":[["de8879d5.6739e8"]]},{"id":"8719e4d.43d3f18","type":"inject","z":"93d7b78b.d2d2d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":840,"wires":[["f0dfd245.aad12"]]},{"id":"524bf47d.e5aebc","type":"function","z":"93d7b78b.d2d2d8","name":"YY_SuperView","func":"\nvar highCounter_YY = flow.get(\"highCounter_YY\")||0;\nvar lowCounter_YY = flow.get(\"lowCounter_YY\")||0;\n//highCounter_YY = 0;\n//lowCounter_YY = 0;\n\n//count up\nif (lowCounter_YY >= 255)\n{highCounter_YY++; lowCounter_YY = 0;}\nif (highCounter_YY >= 255) {highCounter_YY = 0; lowCounter_YY++;}\n\nlowCounter_YY++;\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].Y1, msg.payload[0].Y2, msg.payload[0].DC, msg.payload[0][\"14\"], msg.payload[0][\"15\"], msg.payload[0][\"16\"], msg.payload[0][\"17\"], msg.payload[0][\"18\"], msg.payload[0][\"19\"], msg.payload[0][\"20\"]]);\nmsg.payload[9] = highCounter_YY;\nmsg.payload[10] = lowCounter_YY;\n\n\nflow.set(\"highCounter_YY\",highCounter_YY);\nflow.set(\"lowCounter_YY\",lowCounter_YY);\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":840,"wires":[["38b09824.3716a8","c9a1ad3.ddd645"]]},{"id":"2cf3cb35.810924","type":"inject","z":"bffdc47c.00e2b8","name":"GoProCheck","repeat":"6.7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GoProCheck","payloadType":"str","x":180,"y":320,"wires":[["a7821d19.993b1"]]},{"id":"d919defe.16ab3","type":"http request","z":"bffdc47c.00e2b8","name":"Connect to GoProAP","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.5.5.9/gp/gpControl/command/wireless/pair/complete?success=1&deviceName=GP24718539","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":420,"wires":[["1d21c62c.57ac9a"]]},{"id":"cf346528.3c5508","type":"inject","z":"bffdc47c.00e2b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":420,"wires":[["d919defe.16ab3"]]},{"id":"1d21c62c.57ac9a","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":420,"wires":[]},{"id":"b483e7ba.81c6a8","type":"http request","z":"bffdc47c.00e2b8","name":"WifiStreaming ON","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/execute?p1=gpStream&a1=proto_v2&c1=restart","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":480,"wires":[["c62f08f2.8c3968"]]},{"id":"6adcaeaf.c2c8d","type":"http request","z":"bffdc47c.00e2b8","name":"WifiStreaming OFF","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/execute?p1=gpStream&a1=proto_v2&c1=stop","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":540,"wires":[["e1f5207b.4867"]]},{"id":"a5490bd3.c74d98","type":"inject","z":"bffdc47c.00e2b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":480,"wires":[["b483e7ba.81c6a8"]]},{"id":"1a4f689b.e77297","type":"inject","z":"bffdc47c.00e2b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":540,"wires":[["6adcaeaf.c2c8d"]]},{"id":"c62f08f2.8c3968","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":480,"wires":[]},{"id":"e1f5207b.4867","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":540,"wires":[]},{"id":"a7821d19.993b1","type":"trigger","z":"bffdc47c.00e2b8","name":"WatchDog1","op1":"","op2":"GoPro Dead","op1type":"nul","op2type":"str","duration":"6.5","extend":true,"units":"s","reset":"GoProOnline","bytopic":"all","outputs":1,"x":650,"y":280,"wires":[["6792e53f.592dbc","1b5f62b4.44c7ad"]]},{"id":"1b5f62b4.44c7ad","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":340,"wires":[]},{"id":"9bab2c6.e7fd8d","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":160,"wires":[]},{"id":"919dc491.0fd218","type":"change","z":"bffdc47c.00e2b8","name":"GoProOnline - Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"GoProOnline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":220,"wires":[["a7821d19.993b1","9bab2c6.e7fd8d","6792e53f.592dbc","e674fa56.5827c8"]]},{"id":"ffe9e901.8ff958","type":"BLE Scan","z":"bffdc47c.00e2b8","d":true,"name":"","x":180,"y":1040,"wires":[["f04e5ecc.bc54e"]]},{"id":"f04e5ecc.bc54e","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":1040,"wires":[]},{"id":"46255c71.69da64","type":"BLE scanner","z":"bffdc47c.00e2b8","d":true,"name":"","services":"","servicesType":"str","continuous":true,"x":350,"y":1100,"wires":[["e979c723.f2dc58","56ceaa4a.788fa4","fa838519.bf1818"]]},{"id":"e979c723.f2dc58","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":1000,"wires":[]},{"id":"e161f3f1.6f923","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","x":170,"y":1100,"wires":[["46255c71.69da64"]]},{"id":"56ceaa4a.788fa4","type":"BLE device","z":"bffdc47c.00e2b8","d":true,"name":"","x":570,"y":1100,"wires":[["48378de1.a06624"]]},{"id":"48378de1.a06624","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":1000,"wires":[]},{"id":"fa838519.bf1818","type":"BLE in","z":"bffdc47c.00e2b8","d":true,"topic":"subscribe","characteristic":"0000fea6-0000-1000-8000-00805f9b34fb","name":"","x":510,"y":1160,"wires":[["f7eabe45.0064d"]]},{"id":"f7eabe45.0064d","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":1160,"wires":[]},{"id":"a28a881f.ce45d8","type":"http request","z":"bffdc47c.00e2b8","name":"Initiate PairingMode","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.5.5.9/gp/gpControl/command/wireless/pair/","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":600,"wires":[["b71a2430.b4cc28"]]},{"id":"da50891.ffd4578","type":"inject","z":"bffdc47c.00e2b8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":600,"wires":[["a28a881f.ce45d8"]]},{"id":"b71a2430.b4cc28","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":600,"wires":[]},{"id":"6cf9db16.107ca4","type":"http request","z":"bffdc47c.00e2b8","name":"Shutter Start","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":720,"wires":[["a2e51ead.52e5f"]]},{"id":"a2e51ead.52e5f","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":720,"wires":[]},{"id":"eb07a39e.6e486","type":"function","z":"bffdc47c.00e2b8","name":"SELECT SH1","func":"msg.topic = \"SELECT info, http FROM HTTP WHERE UniqueID = 1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":720,"wires":[["3e7604a.33c80fc"]]},{"id":"deabd42f.295638","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":720,"wires":[["eb07a39e.6e486"]]},{"id":"3e7604a.33c80fc","type":"mysql","z":"bffdc47c.00e2b8","mydb":"760a3e67.03abe","name":"","x":510,"y":720,"wires":[["a9e669bf.a65e68"]]},{"id":"105e2bd2.1e8f44","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":440,"wires":[]},{"id":"a9e669bf.a65e68","type":"change","z":"bffdc47c.00e2b8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload[0].http","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":720,"wires":[["6cf9db16.107ca4"]]},{"id":"ce30db16.3b3548","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"multi","x":790,"y":220,"wires":[]},{"id":"8de5bdc3.ef90f","type":"function","z":"93d7b78b.d2d2d8","name":"WT_UDP","func":"\nvar highCounter_PW0 = flow.get(\"highCounter_PW0\")||0;\nvar lowCounter_PW0 = flow.get(\"lowCounter_PW0\")||0;\n//highCounter = 0;\n//lowCounter = 0;\n\n//count up\nif (lowCounter_PW0 >= 255)\n{highCounter_PW0++; lowCounter_PW0 = 0;}\nif (highCounter_PW0 >= 255) {highCounter_PW0 = 0; lowCounter_PW0++;}\n\nlowCounter_PW0++;\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].Param1, msg.payload[0].Param2]);\nmsg.payload[9] = highCounter_PW0;\nmsg.payload[10] = lowCounter_PW0;\n\n\nflow.set(\"highCounter_PW0\",highCounter_PW0);\nflow.set(\"lowCounter_PW0\",lowCounter_PW0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":220,"wires":[["ce30db16.3b3548","b05aa66d.91f878"]]},{"id":"a04effc7.9722b","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":220,"wires":[["8de5bdc3.ef90f"]]},{"id":"50a436fa.ce1fc8","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT WT","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Param1, Param2 FROM sepp89117 WHERE UniqueID = 26\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":220,"wires":[["a04effc7.9722b"]]},{"id":"d65ffa4d.943628","type":"inject","z":"93d7b78b.d2d2d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":220,"wires":[["50a436fa.ce1fc8"]]},{"id":"b05aa66d.91f878","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":180,"wires":[]},{"id":"caba2397.015bf","type":"http request","z":"bffdc47c.00e2b8","name":"Shutter Stop","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":780,"wires":[["fd36bf55.829f8"]]},{"id":"fd36bf55.829f8","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":780,"wires":[]},{"id":"1f407e52.7ab252","type":"function","z":"bffdc47c.00e2b8","name":"SELECT SH0","func":"msg.topic = \"SELECT info, http FROM HTTP WHERE UniqueID = 2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":780,"wires":[["a6857d16.4a682"]]},{"id":"333d63a3.6469cc","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":780,"wires":[["1f407e52.7ab252"]]},{"id":"a6857d16.4a682","type":"mysql","z":"bffdc47c.00e2b8","mydb":"760a3e67.03abe","name":"","x":510,"y":780,"wires":[["9f310e15.73839"]]},{"id":"9f310e15.73839","type":"change","z":"bffdc47c.00e2b8","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload[0].http","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":780,"wires":[["caba2397.015bf"]]},{"id":"e674fa56.5827c8","type":"link out","z":"bffdc47c.00e2b8","name":"UDP_GoProOnline->DB_connectivity","links":["d810a272.2ce32"],"x":495,"y":260,"wires":[]},{"id":"d810a272.2ce32","type":"link in","z":"d3786684.caf558","name":"UDP_GoProOnline->DB-connectivity","links":["361974a2.a6fe8c","e674fa56.5827c8"],"x":215,"y":480,"wires":[["852ba70.cfdc558","13ab4bfd.cb8724"]]},{"id":"852ba70.cfdc558","type":"ui_text","z":"d3786684.caf558","group":"fb75f346.d7f78","order":2,"width":0,"height":0,"name":"","label":"UDP connected","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":480,"wires":[]},{"id":"361974a2.a6fe8c","type":"link out","z":"bffdc47c.00e2b8","name":"UDP_GoProOffline->DB_connectivity","links":["d810a272.2ce32"],"x":755,"y":220,"wires":[]},{"id":"13ab4bfd.cb8724","type":"ui_led","z":"d3786684.caf558","order":2,"group":"ad805b2f.308398","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"#ff0000","value":"GoProOffline","valueType":"str"},{"color":"#008000","value":"GoProOnline","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_UDP connected","x":920,"y":540,"wires":[]},{"id":"8590d124.137bc","type":"ping","z":"d3786684.caf558","protocol":"Automatic","mode":null,"name":"HERO-RC-800001","host":"10.71.79.1","timer":"3","inputs":0,"x":290,"y":720,"wires":[["e0f86a4f.221668"]]},{"id":"a7a40755.cd14d8","type":"ui_led","z":"d3786684.caf558","order":3,"group":"ad805b2f.308398","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"down","valueType":"str"},{"color":"#008000","value":"online","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_OdroidAP","x":900,"y":740,"wires":[]},{"id":"e3e977a3.5288a8","type":"ui_text","z":"d3786684.caf558","group":"fb75f346.d7f78","order":3,"width":0,"height":0,"name":"","label":"Odroid AccessPoint (ping)","format":"{{msg.topic}}","layout":"row-spread","x":930,"y":680,"wires":[]},{"id":"e0f86a4f.221668","type":"function","z":"d3786684.caf558","name":"","func":"msg.topic = msg.payload +' ms';\n  if (msg.payload > 0) {\n    msg.payload = 'online';\n  } else {\n    msg.payload = 'down';\n    msg.topic = msg.payload;\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":720,"wires":[["a7a40755.cd14d8","e3e977a3.5288a8"]]},{"id":"a861b82e.17c0b8","type":"link out","z":"89b9f172.e63fe","name":"UDP_Heartbeat->DB_connectivity","links":["1315e90e.09bc97"],"x":585,"y":700,"wires":[]},{"id":"1315e90e.09bc97","type":"link in","z":"d3786684.caf558","name":"UDP_Heartbeat->DB_conenctivity","links":["a861b82e.17c0b8"],"x":215,"y":200,"wires":[["bb4c6010.3831","5daf6247.21002c","49814b0c.ee06e4"]]},{"id":"ef3946ba.04ae18","type":"ui_led","z":"d3786684.caf558","order":1,"group":"ad805b2f.308398","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"down","valueType":"str"},{"color":"#fbf304","value":"on","valueType":"str"},{"color":"#9da49d","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_UDP Heartbeat","x":920,"y":340,"wires":[]},{"id":"4da0bc55.c49d24","type":"ui_text","z":"d3786684.caf558","group":"fb75f346.d7f78","order":1,"width":0,"height":0,"name":"","label":"UDP Heartbeat","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":200,"wires":[]},{"id":"5daf6247.21002c","type":"trigger","z":"d3786684.caf558","name":"Watchdog-Heartbeat","op1":"","op2":"down","op1type":"nul","op2type":"str","duration":"820","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":340,"wires":[["ef3946ba.04ae18","4da0bc55.c49d24"]],"info":"setze \n\"dann\" \"warten auf\" auf 3 x var:delay des Heartbeats für beste Ergebnisse (nicht kürzer sonst beginnt er zu flappen!)\n\nDieses WakeUp Gopro bewirkt:\n1.) Overruled sozusagen die \"Automatische Kammeraabschaltung\" der GoPro - Settings und\n2.) dedektiert und behebt Abrisse in der UDP Kommunikation zwischen Node-red und GoProHero5Black"},{"id":"bb4c6010.3831","type":"function","z":"d3786684.caf558","name":"Led on","func":"\nmsg.payload = 'on'; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":200,"wires":[["ef3946ba.04ae18","4da0bc55.c49d24"]]},{"id":"73f5e24c.e1970c","type":"function","z":"d3786684.caf558","name":"Led off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":260,"wires":[["ef3946ba.04ae18"]]},{"id":"49814b0c.ee06e4","type":"delay","z":"d3786684.caf558","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":260,"wires":[["73f5e24c.e1970c"]]},{"id":"4d04c00.156254","type":"comment","z":"d3786684.caf558","name":"UDP (Smart Remote)","info":"","x":180,"y":120,"wires":[]},{"id":"f6e873b0.4694b","type":"comment","z":"d3786684.caf558","name":"HTTP (GoPro APP)","info":"","x":190,"y":840,"wires":[]},{"id":"1a5c1a7.1c9d9e6","type":"ui_led","z":"d3786684.caf558","order":3,"group":"22f841fd.fe797e","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"GoPro Down","valueType":"str"},{"color":"#008000","value":"GoPro Up","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_GoProAP","x":900,"y":1320,"wires":[]},{"id":"1e07a178.11b99f","type":"ui_text","z":"d3786684.caf558","group":"f5a966d8.d5c368","order":3,"width":0,"height":0,"name":"","label":"GoPro AccessPoint (tcp)","format":"{{msg.topic}}","layout":"row-spread","x":930,"y":1260,"wires":[]},{"id":"9491a9aa.74ba18","type":"ping","z":"d3786684.caf558","protocol":"IPv4","mode":"timed","name":"Odroid_HTTPClient","host":"10.5.5.100","timer":"3","inputs":0,"x":290,"y":960,"wires":[["b929c0d5.c4c31","93c2fe7.c41d4"]]},{"id":"90e461ec.8db21","type":"ui_led","z":"d3786684.caf558","order":2,"group":"22f841fd.fe797e","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"down","valueType":"str"},{"color":"#008000","value":"online","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_Odroid HTTPClient","x":930,"y":980,"wires":[]},{"id":"43733e8e.ca766","type":"ui_text","z":"d3786684.caf558","group":"f5a966d8.d5c368","order":2,"width":0,"height":0,"name":"","label":"HTTP connected","format":"{{msg.topic}}","layout":"row-spread","x":910,"y":920,"wires":[]},{"id":"b929c0d5.c4c31","type":"function","z":"d3786684.caf558","name":"","func":"msg.topic = 'OdroidOnline';\n  if (msg.payload > 0) {\n    msg.payload = 'online';\n  } else {\n    msg.payload = 'down';\n    msg.topic = msg.payload;\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":960,"wires":[["90e461ec.8db21","43733e8e.ca766"]]},{"id":"93c2fe7.c41d4","type":"debug","z":"d3786684.caf558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":1060,"wires":[]},{"id":"9fdf854a.bb7c98","type":"comment","z":"d3786684.caf558","name":"BLE (GoPro App)","info":"","x":180,"y":1480,"wires":[]},{"id":"65286718.6a83b8","type":"comment","z":"bffdc47c.00e2b8","name":"from DEEP-sleep","info":"","x":120,"y":940,"wires":[]},{"id":"d0934d9f.1df27","type":"Generic BLE in","z":"bffdc47c.00e2b8","name":"","genericBle":"e2b5c88a.499ec8","useString":true,"notification":true,"x":470,"y":1360,"wires":[["7dc731d0.b555d"]]},{"id":"3ebcad4e.c7c642","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"connect","payload":"","payloadType":"date","x":210,"y":1260,"wires":[["d0934d9f.1df27"]]},{"id":"54753b17.dc2bf4","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","payload":"","payloadType":"date","x":200,"y":1420,"wires":[["d0934d9f.1df27"]]},{"id":"d44a2f86.76368","type":"tcp request","z":"bffdc47c.00e2b8","server":"10.5.5.9","port":"8080","out":"time","splitc":"200","name":"","x":570,"y":880,"wires":[["e691b1ef.f8a5e"]]},{"id":"3f7b02e4.f39f1e","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"ping","payloadType":"str","x":390,"y":880,"wires":[["d44a2f86.76368"]]},{"id":"e691b1ef.f8a5e","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":900,"wires":[]},{"id":"183913f0.fe15cc","type":"inject","z":"bffdc47c.00e2b8","name":"ShutterStart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"b5f90072aa8d11e390460002a5d5c51b\":\"03010101\"}","payloadType":"json","x":210,"y":1960,"wires":[["f19251e3.f6b87"]]},{"id":"7dc731d0.b555d","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1360,"wires":[]},{"id":"4f0acd3.30d5234","type":"Generic BLE in","z":"8e787ad.6aa1688","name":"","genericBle":"","useString":false,"notification":true,"x":570,"y":360,"wires":[["feeba80a.a3064"]]},{"id":"94a959c7.4c4c7","type":"inject","z":"8e787ad.6aa1688","name":"Get Temperature (AA01)","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"f000aa0104514000b000000000000000","payload":"","payloadType":"date","x":180,"y":300,"wires":[["4f0acd3.30d5234"]]},{"id":"feeba80a.a3064","type":"debug","z":"8e787ad.6aa1688","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":360,"wires":[]},{"id":"7efff245.e4d254","type":"Generic BLE out","z":"8e787ad.6aa1688","name":"","genericBle":"","x":790,"y":180,"wires":[]},{"id":"769a559a.dc9a4c","type":"inject","z":"8e787ad.6aa1688","name":"Start Temperature Measurement","props":[{"p":"payload","v":"{\"f000aa0204514000b000000000000000\":\"01\"}","vt":"json"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"{\"f000aa0204514000b000000000000000\":\"01\"}","payloadType":"json","x":510,"y":120,"wires":[["7efff245.e4d254"]]},{"id":"174514e3.b64d63","type":"inject","z":"8e787ad.6aa1688","name":"Get All Readable Attributes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["4f0acd3.30d5234"]]},{"id":"e4653fa6.1df4f8","type":"inject","z":"8e787ad.6aa1688","name":"Start Temperature Notify Events for 5 seconds","props":[{"p":"payload","v":"{\"notify\":true,\"period\":5000}","vt":"json"},{"p":"topic","v":"f000aa0104514000b000000000000000","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"f000aa0104514000b000000000000000","payload":"{\"notify\":true,\"period\":5000}","payloadType":"json","x":250,"y":340,"wires":[["4f0acd3.30d5234"]]},{"id":"81b85e32.1b8c68","type":"inject","z":"8e787ad.6aa1688","name":"Connect a CC2650 SensorTag","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"connect","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"connect","payload":"","payloadType":"date","x":500,"y":80,"wires":[["7efff245.e4d254"]]},{"id":"ea53fb2c.8f1cb8","type":"inject","z":"8e787ad.6aa1688","name":"Disonnect a CC2650 SensorTag","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"disconnect","payload":"","payloadType":"date","x":210,"y":440,"wires":[["4f0acd3.30d5234"]]},{"id":"fca7f32.52ff19","type":"comment","z":"8e787ad.6aa1688","name":"Perform after connected","info":"","x":190,"y":160,"wires":[]},{"id":"42bd68d3.b93bc8","type":"comment","z":"8e787ad.6aa1688","name":"Perform after Temperature Measurement Started","info":"","x":260,"y":260,"wires":[]},{"id":"39802692.3d633a","type":"comment","z":"8e787ad.6aa1688","name":"Disconnect a peripheral device","info":"","x":210,"y":400,"wires":[]},{"id":"d3cf629c.017a98","type":"comment","z":"8e787ad.6aa1688","name":"Set up a peripheral device","info":"","x":490,"y":40,"wires":[]},{"id":"e55eb771.fbbc78","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"scanStart","payload":"","payloadType":"date","x":230,"y":1180,"wires":[["d0934d9f.1df27"]]},{"id":"ba970dfb.147e4","type":"exec","z":"bffdc47c.00e2b8","command":"sudo service bluetooth restart","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth.service restart","x":490,"y":1820,"wires":[["eea77031.c9bfd"],[],[]]},{"id":"d6a3b79d.ce04e8","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":260,"y":1760,"wires":[["ba970dfb.147e4"]]},{"id":"33979c2f.60bca4","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":730,"y":60,"wires":[["774008af.b12d28"]]},{"id":"eea77031.c9bfd","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1820,"wires":[]},{"id":"3835eb6d.008854","type":"BLE scanner","z":"bffdc47c.00e2b8","d":true,"name":"","services":"","servicesType":"str","continuous":false,"x":430,"y":2320,"wires":[["d2f4ca03.d682f8","782cd2c5.d5b20c"]]},{"id":"d2f4ca03.d682f8","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":2320,"wires":[]},{"id":"fc52325a.8abfd","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"timeout","v":"10000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"","payloadType":"date","x":230,"y":2320,"wires":[["3835eb6d.008854"]]},{"id":"782cd2c5.d5b20c","type":"BLE device","z":"bffdc47c.00e2b8","d":true,"name":"","x":560,"y":2420,"wires":[["7e016e5d.08f4"]]},{"id":"7e016e5d.08f4","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":2480,"wires":[]},{"id":"ba15022b.cd0a1","type":"exec","z":"bffdc47c.00e2b8","command":"bash -x BLE_connection.sh connect","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"BLE_connection.sh connect","x":480,"y":2260,"wires":[["1e62e6be.d11589"],[],[]]},{"id":"3066c99e.4f3f96","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2260,"wires":[["ba15022b.cd0a1"]]},{"id":"1e62e6be.d11589","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":2240,"wires":[]},{"id":"a927d564.3f16f8","type":"exec","z":"bffdc47c.00e2b8","command":"timeout 15s bluetoothctl scan on","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"bluetoothctl scan on","x":460,"y":2180,"wires":[["ff1066af.f7ee18"],[],[]]},{"id":"1cc98f9.08c4c7","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2180,"wires":[["a927d564.3f16f8"]]},{"id":"ff1066af.f7ee18","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":2160,"wires":[]},{"id":"7c81048e.b767bc","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"read","payload":"","payloadType":"date","x":220,"y":1340,"wires":[["d0934d9f.1df27"]]},{"id":"74eb2685.46a438","type":"inject","z":"bffdc47c.00e2b8","name":"ShutterStop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"b5f90072aa8d11e390460002a5d5c51b\":\"03010100\"}","payloadType":"json","x":210,"y":2060,"wires":[["f19251e3.f6b87"]]},{"id":"f2a1db2.73ba028","type":"status","z":"bffdc47c.00e2b8","name":"Status BLE out GoPro 8539","scope":["f19251e3.f6b87"],"x":520,"y":1300,"wires":[["c748025e.3b26e","fce1d654.8072a8","a02439b9.b2f028"]]},{"id":"ecb82265.b3833","type":"ui_text","z":"d3786684.caf558","group":"7193ba64.490654","order":2,"width":0,"height":0,"name":"","label":"BLE connected","format":"{{msg.topic}}","layout":"row-spread","x":880,"y":1580,"wires":[]},{"id":"ef25c9cc.31f3b8","type":"function","z":"d3786684.caf558","name":"","func":"\n  if (msg.status.text == \"generic-ble.status.disconnected\") {\n    msg.topic = 'GoPro disconnected';\n  } else \n  if (msg.status.text == \"generic-ble.status.connected\") {\n    msg.topic = 'GoPro connected';\n  } else \n  if (msg.status.text == 'generic-ble.status.connecting') {\n    msg.topic = 'GoPro connecting';\n  } else \n  if (msg.status.text == 'generic-ble.status.disconnecting') {\n    msg.topic = 'GoPro disconnecting';\n  } else \n  if (msg.status.text == 'generic-ble.status.missing') {\n    msg.topic = 'GoPro missing';\n  }\nmsg.payload = msg.topic\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":1580,"wires":[["9ee56321.dc991","ecb82265.b3833","66234f5b.e763c","6bce446b.edd5ec"]]},{"id":"9ee56321.dc991","type":"debug","z":"d3786684.caf558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":1700,"wires":[]},{"id":"c748025e.3b26e","type":"link out","z":"bffdc47c.00e2b8","name":"BLE_Status->DB_connectivity","links":["ccc52554.62e3e8"],"x":735,"y":1300,"wires":[]},{"id":"ccc52554.62e3e8","type":"link in","z":"d3786684.caf558","name":"","links":["c748025e.3b26e"],"x":265,"y":1580,"wires":[["ef25c9cc.31f3b8"]]},{"id":"66234f5b.e763c","type":"ui_led","z":"d3786684.caf558","order":2,"group":"3e4e30cc.ab175","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"GoPro missing","valueType":"str"},{"color":"#008000","value":"GoPro connected","valueType":"str"},{"color":"#000000","value":"GoPro disconnected","valueType":"str"},{"color":"#878787","value":"GoPro disconnecting","valueType":"str"},{"color":"#baf2ba","value":"GoPro connecting","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_GoPro BLE","x":890,"y":1640,"wires":[]},{"id":"6bce446b.edd5ec","type":"link out","z":"d3786684.caf558","name":"DB_connectivity->WakeUP GoPro Bluetoothctl restart","links":["6e30a5ea.da068c"],"x":815,"y":1500,"wires":[]},{"id":"6e30a5ea.da068c","type":"link in","z":"bffdc47c.00e2b8","name":"","links":["6bce446b.edd5ec"],"x":95,"y":1860,"wires":[["8973af5f.8674a","53008621.0f9ba8"]]},{"id":"8973af5f.8674a","type":"switch","z":"bffdc47c.00e2b8","d":true,"name":"GoPro missing","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"GoPro missing","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":240,"y":1860,"wires":[["ba970dfb.147e4","61de4757.f4c4a8"]]},{"id":"61de4757.f4c4a8","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":1900,"wires":[]},{"id":"a418ae8.c87d75","type":"change","z":"bffdc47c.00e2b8","name":"GoPro reconnect","rules":[{"t":"set","p":"topic","pt":"msg","to":"connect","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":1500,"wires":[["d0934d9f.1df27","5e975290.d3522c"]]},{"id":"53008621.0f9ba8","type":"switch","z":"bffdc47c.00e2b8","d":true,"name":"GoPro disconnected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"GoPro disconnected","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":1540,"wires":[["a418ae8.c87d75"]]},{"id":"5e975290.d3522c","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":150,"y":1560,"wires":[]},{"id":"f19251e3.f6b87","type":"Generic BLE out","z":"bffdc47c.00e2b8","name":"","genericBle":"e2b5c88a.499ec8","x":460,"y":2000,"wires":[]},{"id":"b2ab3502.345ff8","type":"tcp request","z":"d3786684.caf558","server":"10.5.5.9","port":"80","out":"time","splitc":"1000","name":"GP24718539","x":450,"y":1200,"wires":[["13d2674b.805169"]]},{"id":"13d2674b.805169","type":"debug","z":"d3786684.caf558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1200,"wires":[]},{"id":"3986847b.44444c","type":"inject","z":"d3786684.caf558","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1200,"wires":[["b2ab3502.345ff8"]]},{"id":"b1808bb3.2cd828","type":"status","z":"d3786684.caf558","name":"Status tcp request GP24718539","scope":["b2ab3502.345ff8"],"x":330,"y":1300,"wires":[["89e8a11c.5fd0c"]]},{"id":"89e8a11c.5fd0c","type":"function","z":"d3786684.caf558","name":"","func":"\n  if (msg.status.text == \"common.status.disconnected\") {\n    msg.topic = 'GoPro Down';\n  } else \n  if (msg.status.text == \"common.status.connected\") {\n    msg.topic = 'GoPro Up';\n  } \n  \nmsg.payload = msg.topic\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1300,"wires":[["1e07a178.11b99f","1a5c1a7.1c9d9e6"]]},{"id":"fce1d654.8072a8","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":1240,"wires":[]},{"id":"873ce0c3.579e7","type":"switch","z":"bffdc47c.00e2b8","name":"generic-ble.status.disconnected","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"generic-ble.status.disconnected","vt":"str"},{"t":"eq","v":"generic-ble.status.missing","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1620,"wires":[["8d18b4b9.f68508","e2cb9b06.4f9a58"],["ba970dfb.147e4"]]},{"id":"8d18b4b9.f68508","type":"change","z":"bffdc47c.00e2b8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"connect","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1600,"wires":[["d0934d9f.1df27"]]},{"id":"e2cb9b06.4f9a58","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":1720,"wires":[]},{"id":"cd1f1c98.c6baf","type":"change","z":"bffdc47c.00e2b8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":1640,"wires":[[]]},{"id":"a02439b9.b2f028","type":"delay","z":"bffdc47c.00e2b8","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":1500,"wires":[["873ce0c3.579e7"]]}]