flows_odroid.json
[{"id":"fe9bd502.da1c48","type":"tab","label":"CLUTCH","disabled":false,"info":"# Frage: Wie lange steht der Fahrer auf der Kupplung?\n\n"},{"id":"e1a94fdd.a1f8a","type":"tab","label":"BRAKE","disabled":false,"info":"# Wie lange steht der Fahrer auf der Bremse?"},{"id":"60b4d38a.a1148c","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"6f2009d6.0acd88","type":"tab","label":"q-gate und Junk","disabled":false,"info":""},{"id":"1889e7f2.72f9e8","type":"tab","label":"SWITCH OUTPUT","disabled":false,"info":""},{"id":"cfd7352b.de1028","type":"tab","label":"Tachosignal","disabled":false,"info":""},{"id":"fdee7a45.860e48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"93d7b78b.d2d2d8","type":"tab","label":"UDP_from_MySQL","disabled":false,"info":""},{"id":"3b3462fd.256a6e","type":"tab","label":"HTTP_from_MySQL","disabled":false,"info":""},{"id":"c1d663c3.e4762","type":"tab","label":"BLE_from_MySQL","disabled":false,"info":""},{"id":"bffdc47c.00e2b8","type":"tab","label":"WakeUp GoPro","disabled":false,"info":""},{"id":"89b9f172.e63fe","type":"tab","label":"UDP Heartbeat","disabled":false,"info":""},{"id":"a71d92ae.7639a","type":"tab","label":"BlackBox_to_MySQL","disabled":false,"info":""},{"id":"d3786684.caf558","type":"tab","label":"DB_Connectivity","disabled":false,"info":""},{"id":"c31f75c1.823298","type":"tab","label":"DB_Parameter","disabled":false,"info":""},{"id":"9004c20f.8cb68","type":"tab","label":"DB_DashCamSettings","disabled":false,"info":""},{"id":"b99a57ec.925fb8","type":"tab","label":"Global_Variable_Backup","disabled":false,"info":""},{"id":"1516d403.d6df1c","type":"subflow","name":"VELOCITY","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"1e4b2556.645e7b"}]}],"out":[{"x":700,"y":120,"wires":[{"id":"31369dfb.4bd482","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4c0714ce.c8c0ac","type":"subflow","name":"PassLimit","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"9580cd86.d9557"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"ef28d4ab.10e658","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4e0f19c0.e836e8","type":"subflow","name":"BLE WifiON","info":"","category":"","in":[{"x":100,"y":160,"wires":[{"id":"1ef5b91.70f4247"}]}],"out":[{"x":960,"y":80,"wires":[{"id":"189437f3.c162c8","port":0}]},{"x":820,"y":160,"wires":[{"id":"ae822933.ff54d8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"bcd7ab10.7fcb08","type":"subflow","name":"BLE ShutterStart","info":"","category":"","in":[{"x":140,"y":80,"wires":[{"id":"64c033f6.224f1c"}]}],"out":[{"x":880,"y":80,"wires":[{"id":"189437f3.c162c8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"5df884bd.7da3ac","type":"subflow","name":"BLE ShutterStop","info":"","category":"","in":[{"x":80,"y":120,"wires":[{"id":"4b90a18c.a24db"}]}],"out":[{"x":840,"y":120,"wires":[{"id":"8bc5a774.2371e8","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"8ec34a74.951e88","type":"ui_group","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"79286a9b.e92864","type":"ui_group","name":"gpioinput","tab":"","disp":true,"width":"6","collapse":false},{"id":"7a5d0b6b.156a24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8be2921c.a6a47","type":"ui_tab","name":"DashCam Settings","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a3598685.c656f8","type":"ui_group","name":"Tag Limits","tab":"8be2921c.a6a47","order":1,"disp":true,"width":"6","collapse":false},{"id":"ff3d23ed.851e","type":"ui_group","name":"Default","tab":"b0d4ebc5.f66f98","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0d4ebc5.f66f98","type":"ui_tab","name":"TESTS","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"cb226ed7.da6cc","type":"ui_group","name":"WERKSTÄTTE","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"478fd246.3eac8c","type":"ui_group","name":"WERKSTÄTTE","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"2f55534b.bfdfbc","type":"ui_group","name":"WERKSTÄTTE","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b0eb527.16d5ec","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"blackbox","tz":""},{"id":"395f2a47.6cfaf6","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"UDP_CMD","tz":""},{"id":"823ad22a.8e83e","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"sys","tz":""},{"id":"760a3e67.03abe","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"HTTP_CMD","tz":""},{"id":"7270f351.076f3c","type":"ui_tab","name":"Connectivity","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fb75f346.d7f78","type":"ui_group","name":"UDP (Smart Remote)","tab":"7270f351.076f3c","order":1,"disp":true,"width":"6","collapse":false},{"id":"f5a966d8.d5c368","type":"ui_group","name":"HTTP (GoPro App)","tab":"7270f351.076f3c","order":3,"disp":true,"width":"6","collapse":false},{"id":"7193ba64.490654","type":"ui_group","name":"BLE (GoPro App)","tab":"7270f351.076f3c","order":5,"disp":true,"width":"6","collapse":false},{"id":"a61c1d23.04fe3","type":"ui_group","name":"Latency Guage","tab":"2806402b.f11e7","order":2,"disp":true,"width":"4","collapse":true},{"id":"5eaca1a3.15e28","type":"ui_group","name":"SERVER RACK","tab":"2806402b.f11e7","order":1,"disp":true,"width":"4","collapse":true},{"id":"2806402b.f11e7","type":"ui_tab","name":"Quick Overview","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"ad805b2f.308398","type":"ui_group","name":"","tab":"7270f351.076f3c","order":2,"disp":true,"width":"1","collapse":false},{"id":"22f841fd.fe797e","type":"ui_group","name":"","tab":"7270f351.076f3c","order":4,"disp":true,"width":"1","collapse":false},{"id":"92dc2f25.cdcf4","type":"ui_spacer","name":"spacer","group":"f5a966d8.d5c368","order":1,"width":1,"height":1},{"id":"7247376.1528ec8","type":"ui_spacer","name":"spacer","group":"22f841fd.fe797e","order":1,"width":1,"height":1},{"id":"3e4e30cc.ab175","type":"ui_group","name":"","tab":"7270f351.076f3c","order":6,"disp":true,"width":"1","collapse":false},{"id":"92b5dd47.8a1a1","type":"ui_spacer","name":"spacer","group":"7193ba64.490654","order":1,"width":1,"height":1},{"id":"dcb7070f.a6f788","type":"ui_spacer","name":"spacer","group":"3e4e30cc.ab175","order":1,"width":1,"height":1},{"id":"230fd081.affe6","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"BLE_CMD","tz":""},{"id":"420bd5ef.83b06c","type":"Generic BLE","localName":"GoPro 8539","address":"c0:e4:80:ca:a3:f0","uuid":"c0e480caa3f0","characteristics":[]},{"id":"62967dc9.bffff4","type":"ui_tab","name":"Parameter","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"c63c3171.75836","type":"ui_group","name":"GoPro","tab":"62967dc9.bffff4","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee100a13.3bb9e8","type":"rpi-gpio in","z":"fe9bd502.da1c48","name":"","pin":"15","intype":"tri","debounce":"25","read":false,"x":70,"y":160,"wires":[["dc5e458d.fe91c8"]]},{"id":"448fefa5.dfa64","type":"q-gate","z":"6f2009d6.0acd88","name":"q-gate demo","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","maxQueueLength":"5","keepNewest":false,"qToggle":false,"persist":false,"x":430,"y":240,"wires":[["f43e6dd4.4a09b"]]},{"id":"325e9fce.e72a4","type":"inject","z":"6f2009d6.0acd88","name":"input","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":240,"wires":[["448fefa5.dfa64"]]},{"id":"5aebc459.1a32dc","type":"inject","z":"6f2009d6.0acd88","name":"open","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"open","payloadType":"str","x":190,"y":60,"wires":[["448fefa5.dfa64"]]},{"id":"1e67eaee.86a275","type":"inject","z":"6f2009d6.0acd88","name":"toggle","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"toggle","payloadType":"str","x":190,"y":140,"wires":[["448fefa5.dfa64"]]},{"id":"29dc06db.76384a","type":"inject","z":"6f2009d6.0acd88","name":"close","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"close","payloadType":"str","x":190,"y":100,"wires":[["448fefa5.dfa64"]]},{"id":"37fd4001.55728","type":"inject","z":"6f2009d6.0acd88","name":"default","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"default","payloadType":"str","x":190,"y":180,"wires":[["448fefa5.dfa64"]]},{"id":"f43e6dd4.4a09b","type":"debug","z":"6f2009d6.0acd88","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":240,"wires":[]},{"id":"e07cd047.9ebbc","type":"inject","z":"6f2009d6.0acd88","name":"queue","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"queue","payloadType":"str","x":190,"y":300,"wires":[["448fefa5.dfa64"]]},{"id":"bb91375f.eb7068","type":"inject","z":"6f2009d6.0acd88","name":"flush","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"flush","payloadType":"str","x":190,"y":380,"wires":[["448fefa5.dfa64"]]},{"id":"183a0088.975a7f","type":"inject","z":"6f2009d6.0acd88","name":"trigger","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"trigger","payloadType":"str","x":190,"y":340,"wires":[["448fefa5.dfa64"]]},{"id":"91c32e65.3ecda","type":"inject","z":"6f2009d6.0acd88","name":"reset","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"control","payload":"reset","payloadType":"str","x":190,"y":420,"wires":[["448fefa5.dfa64"]]},{"id":"dc5e458d.fe91c8","type":"function","z":"fe9bd502.da1c48","name":"setTimeStamp_State","func":"\nvar ts = new Date();\nvar offset = ts.getTimezoneOffset()*60000;\n\nmsg.payload = (new Date(Date.now() - offset)).toISOString()+ \"_\" + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":40,"wires":[["ab0dd927.46d468"]]},{"id":"d57da8a8.413958","type":"buffer-array","z":"fe9bd502.da1c48","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":630,"y":40,"wires":[["8948f159.430fc"]]},{"id":"8948f159.430fc","type":"function","z":"fe9bd502.da1c48","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Topic: \"ACTUALVALUE\", Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":840,"y":40,"wires":[["94b93c15.931bf","b83ce749.fea368","844284c6.d8c958"]]},{"id":"ab0dd927.46d468","type":"function","z":"fe9bd502.da1c48","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":40,"wires":[["d57da8a8.413958"]]},{"id":"3b391d03.ea14f2","type":"http request","z":"fe9bd502.da1c48","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":890,"y":100,"wires":[[]]},{"id":"94b93c15.931bf","type":"switch","z":"fe9bd502.da1c48","name":"Hit_Clutch","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":100,"wires":[["ab1d2b64.86aa28","9368d57c.83cd58"]]},{"id":"cd863607.6f7d18","type":"rpi-gpio in","z":"cfd7352b.de1028","d":true,"name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":130,"y":540,"wires":[["912bc373.06c73"]]},{"id":"78bd41e5.4eea6","type":"function","z":"cfd7352b.de1028","name":"SavedCounter","func":"var NewMsg = {savedcounter:0}\nvar count=context.get('mystorage') || 0;\nvar savedcounter = 0;\n\nif( msg.topic === 'signal' )\n{\n  count ++;\n}\n\nif( msg.topic === 'ResetCounter' )\n{\n  savedcounter = count;\n  count = 0;\n}\n\ncontext.set('mystorage',count);\nNewMsg.savedcounter = savedcounter; \n\nreturn NewMsg;\n\n","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["547d022c.ca8d0c","7d7e341c.b0a86c"]]},{"id":"547d022c.ca8d0c","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":320,"wires":[]},{"id":"1d7e9310.6bf2fd","type":"inject","z":"cfd7352b.de1028","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Signal","payload":"true","payloadType":"bool","x":180,"y":420,"wires":[["912bc373.06c73"]]},{"id":"7d7e341c.b0a86c","type":"function","z":"cfd7352b.de1028","name":"VelocitiyCalculation","func":"var NewMsg = {velocity:0};\nvar savedcounter = msg.payload;\nNewMsg.velocity = (20 / 17) * savedcounter + (60 / 17);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["93e322bc.6ae9c"]]},{"id":"93e322bc.6ae9c","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":240,"wires":[]},{"id":"caf8c4a3.b53d38","type":"inject","z":"cfd7352b.de1028","name":"","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"ResetCounter","payload":"reset","payloadType":"str","x":140,"y":600,"wires":[["912bc373.06c73"]]},{"id":"1e4b2556.645e7b","type":"function","z":"1516d403.d6df1c","name":"VELOCITY_GATE","func":"var NewMsg = { payload : 0, Speed : 0};\nvar Counter = context.get('Counter') || 0;\nvar OpenSwitchNode = 1;\nvar CloseSwitchNode = 0;\n\nif( msg.topic == \"Signal\" )\n{\n    Counter++;\n}\n\nNewMsg.payload = CloseSwitchNode;\n\nif( msg.topic == \"ResetCounter\" )\n{ \n    \n    NewMsg.payload = OpenSwitchNode;\n    NewMsg.Speed = (20 / 17) * Counter * 5  + (60 / 17);\n  \n    Counter = 0;\n}\n\ncontext.set('Counter', Counter);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["31369dfb.4bd482"]]},{"id":"31369dfb.4bd482","type":"switch","z":"1516d403.d6df1c","name":"VELOCITY_FIRE","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":120,"wires":[[]]},{"id":"c9cad5df.c4aa38","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":540,"wires":[]},{"id":"912bc373.06c73","type":"subflow:1516d403.d6df1c","z":"cfd7352b.de1028","name":"","env":[],"x":430,"y":540,"wires":[["c9cad5df.c4aa38"]]},{"id":"605dd713.f84bd8","type":"inject","z":"1889e7f2.72f9e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":130,"y":100,"wires":[["379695c3.6888da"]]},{"id":"b69b2621.e2a628","type":"inject","z":"1889e7f2.72f9e8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":130,"y":180,"wires":[["379695c3.6888da"]]},{"id":"379695c3.6888da","type":"rpi-gpio out","z":"1889e7f2.72f9e8","name":"","pin":"33","set":"","level":"0","freq":"","out":"out","x":310,"y":140,"wires":[]},{"id":"1cea54e.528f3ab","type":"file","z":"6f2009d6.0acd88","name":"","filename":"/home/odroid/PIN22/PIN22","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":180,"y":540,"wires":[[]]},{"id":"f315d132.96f28","type":"function","z":"6f2009d6.0acd88","d":true,"name":"reinjecttobuffer","func":"var NewArray = [];\nvar TimestampNewest = 0;\nvar SignalNewest = '0';\n\n\n//var d = msg.payload[3][0];\n  \nTimestampNewest = msg.payload[3][0];\nSignalNewest = msg.payload[3][1];\n\nNewArray.push(TimestampNewest);\nNewArray.push(SignalNewest);\n\nmsg.payload = NewArray;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":140,"y":600,"wires":[[]]},{"id":"fe7e0163.315f2","type":"ui_numeric","z":"fdee7a45.860e48","name":"","label":"numeric","tooltip":"","group":"ff3d23ed.851e","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","topicType":"str","format":"{{value}}","min":0,"max":10,"step":1,"x":140,"y":200,"wires":[["577d15e3.d8ee7c"]]},{"id":"589b722d.0ae44c","type":"debug","z":"fdee7a45.860e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":80,"wires":[]},{"id":"577d15e3.d8ee7c","type":"function","z":"fdee7a45.860e48","name":"LEVEL_CHECK","func":"var NewMsg = { payload : 0, Information : ''};\nvar Level = context.get('Level') || 0;\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.topic == 'ACTUAL_VALUE')\n{\n    if( Level >= msg.payload   )\n    {\n        NewMsg.payload = PassActualValue;\n        NewMsg.Information = 'AnyInformation';\n    }\n    else\n    {\n        NewMsg.payload = BlockActualValue;\n    }\n}\nelse\n{\n   Level = msg.payload;\n}\n\ncontext.set('Level', Level);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["4e1950ff.c9a4e","116c0629.0ebd6a"]]},{"id":"66ef82d2.acd66c","type":"inject","z":"fdee7a45.860e48","name":"","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"topic":"ACTUAL_VALUE","payload":"3","payloadType":"num","x":120,"y":120,"wires":[["2d4682ef.728b7e"]]},{"id":"4e1950ff.c9a4e","type":"switch","z":"fdee7a45.860e48","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":140,"wires":[["4b6540c7.dba7c"]]},{"id":"4b6540c7.dba7c","type":"debug","z":"fdee7a45.860e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":140,"wires":[]},{"id":"116c0629.0ebd6a","type":"debug","z":"fdee7a45.860e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":200,"wires":[]},{"id":"2d4682ef.728b7e","type":"switch","z":"fdee7a45.860e48","name":"ANY","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":80,"wires":[["589b722d.0ae44c","577d15e3.d8ee7c"]]},{"id":"5e907e84.91bb8","type":"file","z":"fdee7a45.860e48","name":"","filename":"/home/odroid/.node-red/SpaceStarSettings.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":220,"y":380,"wires":[[]]},{"id":"9580cd86.d9557","type":"function","z":"4c0714ce.c8c0ac","name":"PassLimit","func":"var NewMsg = {payload : 0};\nvar OnClutchLimit = context.get('OnClutchLimit') || 0;\n\ncontext.set('OnClutchLimit') = msg.payload.OnClutchLimit;\n\ncontext.set('OnClutchLimit', OnClutchLimit);\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.Timespan >= 0)\n{\n    if( msg.Timespan >= OnClutchLimit)\n    {\n        NewMsg.payload = PassActualValue;\n    }\n    else\n    {\n        NewMsg.payload = BlockActualValue;\n    }\n}\n//if( msg.payload.OnClutchLimit == 'OnClutchLimit')\n//{\n//    context.set('OnClutchLimit', OnClutchLimit);\n//}\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":160,"y":40,"wires":[["ef28d4ab.10e658"]]},{"id":"ef28d4ab.10e658","type":"switch","z":"4c0714ce.c8c0ac","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":40,"wires":[[]]},{"id":"ab1d2b64.86aa28","type":"function","z":"fe9bd502.da1c48","name":"PassOnClutchLimit","func":"var NewMsg = {payload: 0, OnClutchTimespan: 0, OnClutchLimit: 0};\nvar Settings = global.get('OnClutchLimit');\n\n//NewMsg.OnClutchLimit = Settings.OnClutchLimit;\nNewMsg.OnClutchLimit = Settings;\nNewMsg.OnClutchTimespan = msg.Timespan;\n    \nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\n    if( msg.Timespan >= Settings)\n     {\n       NewMsg.payload = PassActualValue;\n     }\n    else\n     {\n       NewMsg.payload = BlockActualValue;\n     }\n\nreturn NewMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":100,"wires":[["afc5b76c.9c5638","fba622ee.880f7"]]},{"id":"afc5b76c.9c5638","type":"switch","z":"fe9bd502.da1c48","name":"initiate Tag","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":100,"wires":[["3b391d03.ea14f2"]]},{"id":"fba622ee.880f7","type":"debug","z":"fe9bd502.da1c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":160,"wires":[]},{"id":"85ba0350.2569b","type":"rpi-gpio in","z":"60b4d38a.a1148c","d":true,"name":"","pin":"15","intype":"tri","debounce":"25","read":false,"x":110,"y":60,"wires":[["21cf92bf.ac86de","defae924.c14e78"]]},{"id":"21cf92bf.ac86de","type":"function","z":"60b4d38a.a1148c","name":"setTimeStamp_State","func":"\nvar ts = new Date();\nmsg.payload = ts.toISOString() + \"_\" + msg.payload;\n//msg.payload = ts.toUTCString() + \"_\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["84dd22c2.af9ee"]]},{"id":"63d03b8f.e82054","type":"buffer-array","z":"60b4d38a.a1148c","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":670,"y":60,"wires":[["86175588.8ba3f8"]]},{"id":"86175588.8ba3f8","type":"function","z":"60b4d38a.a1148c","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Topic: \"ACTUALVALUE\", Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":180,"y":140,"wires":[["efd482a6.5bc44"]]},{"id":"84dd22c2.af9ee","type":"function","z":"60b4d38a.a1148c","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["63d03b8f.e82054"]]},{"id":"382c3276.945cbe","type":"http request","z":"60b4d38a.a1148c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":140,"wires":[["fa19c65b.c820c8"]]},{"id":"efd482a6.5bc44","type":"switch","z":"60b4d38a.a1148c","name":"Hit_Clutch","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":140,"wires":[["43dc6eac.de64a","6d0c6136.236fa","7dbb5b61.bbee34"]]},{"id":"fa19c65b.c820c8","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":140,"wires":[]},{"id":"43dc6eac.de64a","type":"switch","z":"60b4d38a.a1148c","d":true,"name":"OnClutchTime","property":"Timespan","propertyType":"msg","rules":[{"t":"gte","v":"topic","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":140,"wires":[["382c3276.945cbe"]]},{"id":"defae924.c14e78","type":"file in","z":"60b4d38a.a1148c","name":"LoadOnClutchLimit","filename":"SpaceStarSettings","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":370,"y":320,"wires":[["fd58a259.abf52"]]},{"id":"fd58a259.abf52","type":"json","z":"60b4d38a.a1148c","name":"","property":"payload","action":"","pretty":false,"x":530,"y":320,"wires":[["df754145.49b7c"]]},{"id":"ae0a19ef.1a4898","type":"file","z":"60b4d38a.a1148c","name":"SaveOnClutchLimit","filename":"SpaceStarSettings","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":810,"y":380,"wires":[[]]},{"id":"55508c9e.f73e84","type":"inject","z":"60b4d38a.a1148c","d":true,"name":"Inject true after boot","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":140,"y":320,"wires":[["defae924.c14e78"]]},{"id":"28b165a8.ae696a","type":"join","z":"60b4d38a.a1148c","name":"CombineLimits","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":600,"y":380,"wires":[["ae0a19ef.1a4898","6d0c6136.236fa","18a0b49d.92060b"]]},{"id":"df754145.49b7c","type":"change","z":"60b4d38a.a1148c","name":"GetOnClutchLimit","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":380,"wires":[[]]},{"id":"6d0c6136.236fa","type":"function","z":"60b4d38a.a1148c","name":"PassLimit","func":"var NewMsg = {payload: 0, Timespan: 0, OnClutchLimit: 0};\n//var Clutch = current.get('Clutch') || 0;\n//global.set(\"SpaceStarSettings\", msg.payload);\nvar Settings = global.get(\"SpaceStarSettings\");\n//var OnClutchLimit = SpaceStarSettings.OnClutchLimit;\n\nif ( msg.topic == \"OnClutchLimit\")\n\n{\n   NewMsg.OnClutchLimit = Settings.OnClutchLimit;\n    \n}\n\n\n//NewMsg.MinuteOn = Timesettings.MinuteOn;\n\n//parseFloat(parseFloat(OnClutchLimit).toFixed(3));\n\n//var Clutch = msg.payload;\n\n//context.set('mydata', msg.payload);\n//NewMsg.limit = msg.payload;\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.Topic == \"ACTUALVALUE\")\n\n{  NewMsg.Timespan = msg.Timespan;\n\n    if( msg.Timespan >= Settings.OnClutchLimit)\n    {\n       NewMsg.payload = PassActualValue;\n    }\n    else\n    {\n       NewMsg.payload = BlockActualValue;\n   }\n}\n//if( msg.payload.OnClutchLimit == 'OnClutchLimit')\n//{\n    //context.set('OnClutchLimit', OnClutchLimit);\n//}\nreturn NewMsg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["a02b8825.05b758","2b4e97ee.910658"]]},{"id":"a02b8825.05b758","type":"switch","z":"60b4d38a.a1148c","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":240,"wires":[["382c3276.945cbe"]]},{"id":"7dbb5b61.bbee34","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":220,"wires":[]},{"id":"2b4e97ee.910658","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":320,"wires":[]},{"id":"18a0b49d.92060b","type":"function","z":"60b4d38a.a1148c","name":"GlobalSet","func":"global.set(\"SpaceStarSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":480,"wires":[["b1c93504.9c55c8"]]},{"id":"b1c93504.9c55c8","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":480,"wires":[]},{"id":"4acef5c.85c7c0c","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":560,"wires":[]},{"id":"5ce393d3.af42dc","type":"function","z":"60b4d38a.a1148c","name":"","func":"var NewMsg = {payload: 0, timespan: 0, OnClutchLimit: 0};\nvar Settings = global.get(\"SpaceStarSettings\");\nNewMsg.OnClutchLimit = Settings.OnClutchLimit;\nNewMsg.payload = 1;\nNewMsg.timespan = 999; \nreturn NewMsg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["4acef5c.85c7c0c"]]},{"id":"89c325a3.8f2708","type":"inject","z":"60b4d38a.a1148c","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":170,"y":540,"wires":[["5ce393d3.af42dc"]]},{"id":"c12f3d6b.45515","type":"rpi-gpio in","z":"e1a94fdd.a1f8a","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":70,"y":160,"wires":[["f35cdcdb.43dee"]]},{"id":"f35cdcdb.43dee","type":"function","z":"e1a94fdd.a1f8a","name":"setTimeStamp_State","func":"var ts = new Date();\nvar offset = ts.getTimezoneOffset()*60000;\n\nmsg.payload = (new Date(Date.now() - offset)).toISOString()+ \"_\" + msg.payload;\n\nreturn msg;\n\n\n//orig\n\n//var ts = new Date();\n//msg.payload = ts.toISOString() + \"_\" + msg.payload;\n////msg.payload = ts.toUTCString() + \"_\" + msg.payload;\n//return msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":40,"wires":[["8f797501.967878"]]},{"id":"d256d3c0.78001","type":"buffer-array","z":"e1a94fdd.a1f8a","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":630,"y":40,"wires":[["ddbd59f9.90cf48"]]},{"id":"ddbd59f9.90cf48","type":"function","z":"e1a94fdd.a1f8a","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Topic: \"ACTUALVALUE\", Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":840,"y":40,"wires":[["8978db7d.5ca328","a1934b83.ac2d28","d27c894f.850d18"]]},{"id":"8f797501.967878","type":"function","z":"e1a94fdd.a1f8a","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["d256d3c0.78001"]]},{"id":"b872bbd5.b50a18","type":"http request","z":"e1a94fdd.a1f8a","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":100,"wires":[[]]},{"id":"8978db7d.5ca328","type":"switch","z":"e1a94fdd.a1f8a","name":"Hit_Brake","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":100,"wires":[["5e06e8c.c0a2b18"]]},{"id":"5e06e8c.c0a2b18","type":"function","z":"e1a94fdd.a1f8a","name":"PassLimit","func":"var NewMsg = {payload: 0, OnBrakeTimespan: 0, OnBrakeLimit: 0};\nvar Settings = global.get('OnBrakeLimit');\n\n//NewMsg.OnClutchLimit = Settings.OnClutchLimit;\nNewMsg.OnBrakeLimit = Settings;\nNewMsg.OnBrakeTimespan = msg.Timespan;\n    \nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\n    if( msg.Timespan >= Settings)\n     {\n       NewMsg.payload = PassActualValue;\n     }\n    else\n     {\n       NewMsg.payload = BlockActualValue;\n     }\n\nreturn NewMsg;\n\n//var NewMsg = {payload: 0, OnBrakeTimespan: 0, OnBrakeLimit: 0};\n//var Settings = global.get(\"SpaceStarSettings\");\n\n//NewMsg.OnBrakeLimit = Settings.OnBrakeLimit;\n//NewMsg.OnBrakeTimespan = msg.Timespan;\n    \n//var PassActualValue  = 1;\n//var BlockActualValue = 0;\n\n  //  if( msg.Timespan >= Settings.OnBrakeLimit)\n  //   {\n   //    NewMsg.payload = PassActualValue;\n   //  }\n  //  else\n  //   {\n  //     NewMsg.payload = BlockActualValue;\n  //   }\n\n//return NewMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":100,"wires":[["e2fb0203.4029f","153563e5.47c44c"]]},{"id":"e2fb0203.4029f","type":"switch","z":"e1a94fdd.a1f8a","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":100,"wires":[["b872bbd5.b50a18"]]},{"id":"153563e5.47c44c","type":"debug","z":"e1a94fdd.a1f8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":160,"wires":[]},{"id":"b83ce749.fea368","type":"debug","z":"fe9bd502.da1c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":180,"wires":[]},{"id":"f2cc5b5c.e245d8","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":790,"y":360,"wires":[]},{"id":"5da3cecc.2575f","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":320,"wires":[]},{"id":"a70e5ded.c0b1a","type":"function","z":"93d7b78b.d2d2d8","name":"SH1_UDP","func":"\nvar highCounter_SH1 = flow.get(\"highCounter_SH1\")||0;\nvar lowCounter_SH1 = flow.get(\"lowCounter_SH1\")||0;\n//highCounter = 0;\n//lowCounter = 0;\n\n//count up\nif (lowCounter_SH1 >= 255)\n{highCounter_SH1++; lowCounter_SH1 = 0;}\nif (highCounter_SH1 >= 255) {highCounter_SH1 = 0; lowCounter_SH1++;}\n\nlowCounter_SH1++;\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].Param1, msg.payload[0].Param2, msg.payload[0].DC]);\nmsg.payload[9] = highCounter_SH1;\nmsg.payload[10] = lowCounter_SH1;\n\n\nflow.set(\"highCounter_SH1\",highCounter_SH1);\nflow.set(\"lowCounter_SH1\",lowCounter_SH1);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":360,"wires":[["5da3cecc.2575f","f2cc5b5c.e245d8"]]},{"id":"8d3bb658.4ada48","type":"udp out","z":"89b9f172.e63fe","name":"GoProHero5black","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":630,"y":300,"wires":[]},{"id":"6fb463e9.40755c","type":"debug","z":"89b9f172.e63fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":180,"wires":[]},{"id":"368a4fa8.d54c4","type":"inject","z":"89b9f172.e63fe","d":true,"name":"","repeat":"1.55","crontab":"","once":false,"onceDelay":"0.5","topic":"","payload":"true","payloadType":"bool","x":140,"y":80,"wires":[["5e61020f.5fa4ac"]]},{"id":"5e61020f.5fa4ac","type":"function","z":"89b9f172.e63fe","name":"UDP_HeartBeat_batch","func":"\nvar highCounterStatusReport = flow.get(\"highCounterStatusReport\")||0;\nvar lowCounterStatusReport = flow.get(\"lowCounterStatusReport\")||0;\nvar highCounterLCDStatus = flow.get(\"highCounterLCDStatus\")||0;\nvar lowCounterLCDStatus = flow.get(\"lowCounterLCDStatus\")||0;\nvar Opener1 = {payload:new Buffer ([0x00])};\nvar Opener2 = {payload:new Buffer ([0x01])};\nvar LCDStatus = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x6C, 0x63]);\nvar StatusReport = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x73, 0x74])\n\n//send Opener1\n//node.send(Opener1);\n//node.done();\n\n//send Opener2\n//node.send(Opener2);\n//node.done();\n\n\n//count up and send LCDStatus 5 times\nfor (var i = 0; i < 5; i++)\n\n{\nif (lowCounterLCDStatus >= 255)\n{highCounterLCDStatus++; lowCounterLCDStatus = 0;}\nif (highCounterLCDStatus >= 255) {highCounterLCDStatus = 0; lowCounterLCDStatus++;}\n\nlowCounterLCDStatus++;\n\nLCDStatus[9] = highCounterLCDStatus;\nLCDStatus[10] = lowCounterLCDStatus;\n\nvar NewLCDStatus = {payload:LCDStatus};\n\nnode.send(NewLCDStatus);\nnode.done();\n\nflow.set(\"highCounterLCDStatus\",highCounterLCDStatus);\nflow.set(\"lowCounterLCDStatus\",lowCounterLCDStatus);\n}\n\n\n//count up StatusReport\nif (lowCounterStatusReport >= 255)\n{highCounterStatusReport++; lowCounterStatusReport = 0;}\nif (highCounterStatusReport >= 255) {highCounterStatusReport = 0; lowCounterStatusReport++;}\n\nlowCounterStatusReport++;\n\nStatusReport[9] = highCounterStatusReport;\nStatusReport[10] = lowCounterStatusReport;\n\n\nflow.set(\"highCounterStatusReport\",highCounterStatusReport);\nflow.set(\"lowCounterStatusReport\",lowCounterStatusReport);\n\nreturn {payload:StatusReport};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":220,"wires":[["6fb463e9.40755c","8d3bb658.4ada48"]]},{"id":"f7dd97da.158c18","type":"function","z":"89b9f172.e63fe","name":"UDP_HeartBeat_singel","func":"\nvar highCounterStatusReport = flow.get(\"highCounterStatusReport\")||0;\nvar lowCounterStatusReport = flow.get(\"lowCounterStatusReport\")||0;\nvar highCounterLCDStatus = flow.get(\"highCounterLCDStatus\")||0;\nvar lowCounterLCDStatus = flow.get(\"lowCounterLCDStatus\")||0;\nvar Opener1 = {payload:new Buffer ([0x00])};\nvar Opener2 = {payload:new Buffer ([0x01])};\nvar LCDStatus = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x6C, 0x63]);\nvar StatusReport = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x73, 0x74])\nvar delay = 800;\n\n\n//send Opener1\nsetTimeout(()=>{\nnode.send(Opener1);\nnode.done();\n}, delay);\n\n\n//send Opener2\nsetTimeout(()=>{\nnode.send(Opener2);\nnode.done();\n}, 2 * delay)\n\n//count up and send LCDStatus 5 times\n\n\nfor (var i = 0; i < 5; i++)\n{setTimeout(()=>\n{\nif (lowCounterLCDStatus >= 255)\n{highCounterLCDStatus++; lowCounterLCDStatus = 0;}\nif (highCounterLCDStatus >= 255) {highCounterLCDStatus = 0; lowCounterLCDStatus++;}\n\nlowCounterLCDStatus++;\n\nLCDStatus[9] = highCounterLCDStatus;\nLCDStatus[10] = lowCounterLCDStatus;\n\nvar NewLCDStatus = {payload:LCDStatus};\n\nnode.send(NewLCDStatus);\nnode.done();\n\nflow.set(\"highCounterLCDStatus\",highCounterLCDStatus);\nflow.set(\"lowCounterLCDStatus\",lowCounterLCDStatus);\n    \n}, 3 * delay + i * delay)}\n\n\n//count up StatusReport\nif (lowCounterStatusReport >= 255)\n{highCounterStatusReport++; lowCounterStatusReport = 0;}\nif (highCounterStatusReport >= 255) {highCounterStatusReport = 0; lowCounterStatusReport++;}\n\nlowCounterStatusReport++;\n\nStatusReport[9] = highCounterStatusReport;\nStatusReport[10] = lowCounterStatusReport;\n\n\nflow.set(\"highCounterStatusReport\",highCounterStatusReport);\nflow.set(\"lowCounterStatusReport\",lowCounterStatusReport);\n\nsetTimeout(()=>{\nnode.send({payload:StatusReport});\nnode.done();\n}, 8 * delay);","outputs":1,"noerr":0,"x":250,"y":420,"wires":[["5316125d.25b53c","212d622b.85f77e"]]},{"id":"6768f82f.e5de68","type":"inject","z":"89b9f172.e63fe","d":true,"name":"","repeat":"6.4","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"true","payloadType":"bool","x":90,"y":340,"wires":[["f7dd97da.158c18"]]},{"id":"5316125d.25b53c","type":"debug","z":"89b9f172.e63fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":380,"wires":[]},{"id":"212d622b.85f77e","type":"udp out","z":"89b9f172.e63fe","name":"GoProHero5black","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":630,"y":520,"wires":[]},{"id":"42bb9fad.e2d86","type":"function","z":"89b9f172.e63fe","name":"UDP_HeartBeat_sepp89117","func":"var LCDStatus = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x6c, 0x63]);\nvar StatusReport = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x73, 0x74]);\nvar Wait = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x77, 0x74]);\n\n//Intervall für Nachrichten senden\nvar delay = 800;\n\n// ein 2-Byte-Zähler für alle Nachrichten\nvar highCounter = 0;\nvar lowCounter = 0;\n\n// ein Indikator welche Nachricht diesesmal zu senden ist\nvar indicator = 0;\n\n//Setze Timer der gemäß Intervall ausführt\nsetInterval(()=>{\n    switch(indicator){\n        case 0:\n            Wait[9] = highCounter;\n            Wait[10] = lowCounter;\n            node.send({payload:Wait});\n            node.done();\n            indicator++; //Indikator hochzählen\n            break;\n        case 1:\n            StatusReport[9] = highCounter;\n            StatusReport[10] = lowCounter;\n            node.send({payload:StatusReport});\n            node.done();\n            indicator++; //Indikator hochzählen\n            break;\n        case 2:\n            LCDStatus[9] = highCounter;\n            LCDStatus[10] = lowCounter;            \n            node.send({payload:LCDStatus});\n            node.done();\n            indicator++; //Indikator hochzählen\n            break;\n        case 3:\n            StatusReport[9] = highCounter;\n            StatusReport[10] = lowCounter;\n            node.send({payload:StatusReport});\n            node.done();\n            indicator++; //Indikator zurücksetzen\n            break;\n    }\n\n    //Nachrichtenzähler hochzählen nachdem Nachricht gesendet wurde\n    lowCounter++;\n\n    //Sollte lowCounter > 255 sein (lowCounter > 0xFF), wird der highCounter erhöht und der lowCounter zurück auf 0 gesetzt\n    if (lowCounter > 255) {\n        highCounter++;\n        lowCounter = 0;\n    }\n    //Sollte highCounter > 255 sein (highCounter > 0xFF), wird auch der highCounter zurück auf 0 gesetzt\n    if (highCounter > 255) {\n        highCounter = 0;\n    }\n}, delay);","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":660,"wires":[["a4ce7172.89ca1","3ab68782.f99848","a861b82e.17c0b8"]]},{"id":"5f62ac67.66dd14","type":"inject","z":"89b9f172.e63fe","name":"","repeat":"3.2","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"true","payloadType":"bool","x":110,"y":580,"wires":[["42bb9fad.e2d86"]]},{"id":"a4ce7172.89ca1","type":"debug","z":"89b9f172.e63fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":620,"wires":[]},{"id":"3ab68782.f99848","type":"udp out","z":"89b9f172.e63fe","name":"GoProHero5black","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":650,"y":760,"wires":[]},{"id":"a358be1b.cf4f8","type":"function","z":"89b9f172.e63fe","name":"UDP_HeartBeat_sepp_merged_singel","func":"\nvar highCounterWait = flow.get(\"highCounterWait\")||0;\nvar lowCounterWait = flow.get(\"lowCounterWait\")||0;\nvar highCounterStatusReport = flow.get(\"highCounterStatusReport\")||0;\nvar lowCounterStatusReport = flow.get(\"lowCounterStatusReport\")||0;\nvar highCounterLCDStatus = flow.get(\"highCounterLCDStatus\")||0;\nvar lowCounterLCDStatus = flow.get(\"lowCounterLCDStatus\")||0;\nvar Wait = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01, 0x00, 0x00, 0x77, 0x74]);\nvar StatusReport = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x73, 0x74])\nvar LCDStatus = new Buffer ([0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x6C, 0x63, 0x05]);\nvar delay = 800;\n\n//count up Wait\n\nif (lowCounterWait >= 255)\n{highCounterWait++; lowCounterWait = 0;}\nif (highCounterWait >= 255) {highCounterWait = 0; lowCounterWait++;}\n\nlowCounterWait++;\n\nStatusReport[9] = highCounterWait;\nStatusReport[10] = lowCounterWait;\n\n\nflow.set(\"highCounterWait\",highCounterWait);\nflow.set(\"lowCounterWait\",lowCounterWait);\n\nsetTimeout(()=>{\nnode.send({payload:Wait});\nnode.done();\n}, delay);\n\n\n\n\n//count up StatusReport\n\nif (lowCounterStatusReport >= 255)\n{highCounterStatusReport++; lowCounterStatusReport = 0;}\nif (highCounterStatusReport >= 255) {highCounterStatusReport = 0; lowCounterStatusReport++;}\n\nlowCounterStatusReport++;\n\nStatusReport[9] = highCounterStatusReport;\nStatusReport[10] = lowCounterStatusReport;\n\n\nflow.set(\"highCounterStatusReport\",highCounterStatusReport);\nflow.set(\"lowCounterStatusReport\",lowCounterStatusReport);\n\nsetTimeout(()=>{\nnode.send({payload:StatusReport});\nnode.done();\n}, 2 * delay);\n\n\n\n//count up and send LCDStatus 2 times\n\nfor (var i = 0; i < 2; i++)\n{setTimeout(()=>\n{\nif (lowCounterLCDStatus >= 255)\n{highCounterLCDStatus++; lowCounterLCDStatus = 0;}\nif (highCounterLCDStatus >= 255) {highCounterLCDStatus = 0; lowCounterLCDStatus++;}\n\nlowCounterLCDStatus++;\n\nLCDStatus[9] = highCounterLCDStatus;\nLCDStatus[10] = lowCounterLCDStatus;\n\nvar NewLCDStatus = {payload:LCDStatus};\n\nnode.send(NewLCDStatus);\nnode.done();\n\nflow.set(\"highCounterLCDStatus\",highCounterLCDStatus);\nflow.set(\"lowCounterLCDStatus\",lowCounterLCDStatus);\n    \n}, 3 * delay + i * delay)};\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":900,"wires":[["d50ac62c.d85e18","dbbce4dd.89ee78"]]},{"id":"6004adf1.594074","type":"inject","z":"89b9f172.e63fe","d":true,"name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3.2","crontab":"","once":true,"onceDelay":"0","topic":"","payload":"true","payloadType":"bool","x":90,"y":820,"wires":[["a358be1b.cf4f8"]]},{"id":"d50ac62c.d85e18","type":"debug","z":"89b9f172.e63fe","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":860,"wires":[]},{"id":"dbbce4dd.89ee78","type":"udp out","z":"89b9f172.e63fe","name":"GoProHero5black","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":630,"y":1000,"wires":[]},{"id":"ce536a46.7d6eb8","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"multi","x":790,"y":80,"wires":[]},{"id":"5902dd22.936594","type":"function","z":"93d7b78b.d2d2d8","name":"PW0_UDP","func":"\nvar highCounter_PW0 = flow.get(\"highCounter_PW0\")||0;\nvar lowCounter_PW0 = flow.get(\"lowCounter_PW0\")||0;\n//highCounter = 0;\n//lowCounter = 0;\n\n//count up\nif (lowCounter_PW0 >= 255)\n{highCounter_PW0++; lowCounter_PW0 = 0;}\nif (highCounter_PW0 >= 255) {highCounter_PW0 = 0; lowCounter_PW0++;}\n\nlowCounter_PW0++;\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].Param1, msg.payload[0].Param2, msg.payload[0].DC]);\nmsg.payload[9] = highCounter_PW0;\nmsg.payload[10] = lowCounter_PW0;\n\n\nflow.set(\"highCounter_PW0\",highCounter_PW0);\nflow.set(\"lowCounter_PW0\",lowCounter_PW0);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["ce536a46.7d6eb8","1375a5de.59c95a"]]},{"id":"774008af.b12d28","type":"exec","z":"bffdc47c.00e2b8","command":"sudo service hostapd stop && sudo service hostapd start","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"AP stop/start","x":1030,"y":180,"wires":[[],[],[]]},{"id":"74c54fcc.7892c","type":"udp in","z":"bffdc47c.00e2b8","name":"GoProHero5black receive","iface":"","port":"8383","ipv":"udp4","multicast":"true","group":"10.71.79.100","datatype":"buffer","x":170,"y":220,"wires":[["267c4f26.18714","919dc491.0fd218"]]},{"id":"267c4f26.18714","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":210,"y":160,"wires":[]},{"id":"1ea5f37f.f9dd7d","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":120,"wires":[]},{"id":"6792e53f.592dbc","type":"trigger","z":"bffdc47c.00e2b8","name":"Watchdog2","op1":"","op2":"GoProOffline","op1type":"nul","op2type":"str","duration":"3.4","extend":true,"overrideDelay":false,"units":"s","reset":"GoProOnline","bytopic":"all","topic":"topic","outputs":1,"x":770,"y":180,"wires":[["1ea5f37f.f9dd7d","774008af.b12d28","361974a2.a6fe8c"]],"info":"setze \n\"dann\" \"warten auf\" auf 3 x var:delay des Heartbeats für beste Ergebnisse (nicht kürzer sonst beginnt er zu flappen!)\n\nDieses WakeUp Gopro bewirkt:\n1.) Overruled sozusagen die \"Automatische Kammeraabschaltung\" der GoPro - Settings und\n2.) dedektiert und behebt Abrisse in der UDP Kommunikation zwischen Node-red und GoProHero5Black"},{"id":"4c79bcae.17b294","type":"comment","z":"bffdc47c.00e2b8","name":"building UDP Connection","info":"","x":130,"y":80,"wires":[]},{"id":"4672e707.47a5f8","type":"mysql","z":"a71d92ae.7639a","mydb":"4b0eb527.16d5ec","name":"","x":520,"y":220,"wires":[["f921478b.d22178"]]},{"id":"844284c6.d8c958","type":"link out","z":"fe9bd502.da1c48","name":"CLUTCH","links":["b92fed1a.7c89"],"x":675,"y":200,"wires":[]},{"id":"b92fed1a.7c89","type":"link in","z":"a71d92ae.7639a","name":"BlackBox_to_MySQL_insertCLUTCH","links":["844284c6.d8c958"],"x":75,"y":220,"wires":[["dea918b1.712018","668f3c9e.6affa4"]]},{"id":"dea918b1.712018","type":"debug","z":"a71d92ae.7639a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":190,"y":300,"wires":[]},{"id":"668f3c9e.6affa4","type":"function","z":"a71d92ae.7639a","name":"Insert CLUTCH","func":"var onoff1 = msg.Signal1.replace(\"1\", \"OFF\").replace(\"0\", \"ON\");\nvar onoff2 = msg.Signal2.replace(\"1\", \"OFF\").replace(\"0\", \"ON\");\nconst reg = /\\.\\d{3}Z/;\n\nmsg.timestamp = new Date(msg.Timestamp2).toISOString().replace(\"T\", \" \").replace(reg, \"\");\nmsg.topic = \"INSERT INTO clutch(Timestamp_at_end, Signal1, Signal2, Timespan) VALUES( '\"+msg.timestamp+\"', '\"+onoff1+\"', '\"+onoff2+\"', '\"+msg.Timespan+\"' );\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":220,"wires":[["4672e707.47a5f8","d37e318b.ea619"]]},{"id":"d37e318b.ea619","type":"debug","z":"a71d92ae.7639a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":300,"wires":[]},{"id":"f921478b.d22178","type":"debug","z":"a71d92ae.7639a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":220,"wires":[]},{"id":"31fa38e7.ec2ee8","type":"mysql","z":"a71d92ae.7639a","mydb":"395f2a47.6cfaf6","name":"","x":570,"y":740,"wires":[["e28cd4de.a80628"]]},{"id":"b49543d5.2ef48","type":"comment","z":"a71d92ae.7639a","name":"INSERT","info":"","x":110,"y":100,"wires":[]},{"id":"7590ddb1.667e34","type":"comment","z":"a71d92ae.7639a","name":"SELECT","info":"","x":100,"y":660,"wires":[]},{"id":"1dd1b78a.ae42f8","type":"function","z":"a71d92ae.7639a","name":"SELECT PW0","func":"//var onoff1 = msg.Signal1.replace(\"1\", \"OFF\").replace(\"0\", \"ON\");\n//var onoff2 = msg.Signal2.replace(\"1\", \"OFF\").replace(\"0\", \"ON\");\n//const reg = /\\.\\d{3}Z/;\n\n//msg.timestamp = new Date(msg.Timestamp2).toISOString().replace(\"T\", \" \").replace(reg, \"\");\n//msg.topic = \"INSERT INTO clutch(Timestamp_at_end, Signal1, Signal2, Timespan) VALUES( '\"+msg.timestamp+\"', '\"+onoff1+\"', '\"+onoff2+\"', '\"+msg.Timespan+\"' );\";\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Param1, Param2, DC FROM sepp89117 WHERE UniqueID = 16\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":740,"wires":[["31fa38e7.ec2ee8","b665934c.b6568"]]},{"id":"e619e57e.62e168","type":"inject","z":"a71d92ae.7639a","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":760,"wires":[["1dd1b78a.ae42f8"]]},{"id":"b665934c.b6568","type":"debug","z":"a71d92ae.7639a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":820,"wires":[]},{"id":"e28cd4de.a80628","type":"debug","z":"a71d92ae.7639a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":780,"y":820,"wires":[]},{"id":"617ee4ca.5518ac","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":80,"wires":[["5902dd22.936594"]]},{"id":"5bc23bd4.72bb44","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT PW0","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Param1, Param2, DC FROM sepp89117 WHERE UniqueID = 16\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":80,"wires":[["617ee4ca.5518ac"]]},{"id":"75afe49e.b09dac","type":"inject","z":"93d7b78b.d2d2d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":80,"wires":[["5bc23bd4.72bb44"]]},{"id":"1375a5de.59c95a","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":40,"wires":[]},{"id":"218ac4fc.7f49dc","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":360,"wires":[["a70e5ded.c0b1a","105e2bd2.1e8f44"]]},{"id":"78df025d.595e2c","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT SH1","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Param1, Param2, DC FROM sepp89117 WHERE UniqueID = 19\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":360,"wires":[["218ac4fc.7f49dc"]]},{"id":"67e6fa7d.fe39d4","type":"inject","z":"93d7b78b.d2d2d8","name":"","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":360,"wires":[["78df025d.595e2c"]]},{"id":"7b9050f2.cbb5d","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":790,"y":520,"wires":[]},{"id":"20f6d8d0.575768","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":480,"wires":[]},{"id":"d42b2663.3383b8","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":520,"wires":[["b1837ec5.0461a"]]},{"id":"60680ce2.da8a54","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT TAG","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, P, A, DC, `14` FROM PA WHERE UniqueID = 1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":520,"wires":[["d42b2663.3383b8"]]},{"id":"1621f145.aee1ff","type":"inject","z":"93d7b78b.d2d2d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":520,"wires":[["60680ce2.da8a54"]]},{"id":"b1837ec5.0461a","type":"function","z":"93d7b78b.d2d2d8","name":"TAG_UDP","func":"\nvar highCounter_TAG = flow.get(\"highCounter_TAG\")||0;\nvar lowCounter_TAG = flow.get(\"lowCounter_TAG\")||0;\n//lowCounter_TAG=0;\n\n//count up\nif (lowCounter_TAG >= 255)\n{highCounter_TAG++; lowCounter_TAG = 0;}\nif (highCounter_TAG >= 255) {highCounter_TAG = 0; lowCounter_TAG++;}\n\nlowCounter_TAG++;\n\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].P, msg.payload[0].A, msg.payload[0].DC, msg.payload[0][\"14\"]]);\nmsg.payload[9] = highCounter_TAG;\nmsg.payload[10] = lowCounter_TAG;\n\nflow.set(\"highCounter_TAG\",highCounter_TAG);\nflow.set(\"lowCounter_TAG\",lowCounter_TAG);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["7b9050f2.cbb5d","20f6d8d0.575768"]]},{"id":"75b5fea0.4a916","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":790,"y":680,"wires":[]},{"id":"65733c9d.b82024","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":640,"wires":[]},{"id":"37d6e955.24aec6","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":680,"wires":[["704903a7.d15fac"]]},{"id":"832c9299.605ee","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT SH0","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Param1, Param2, DC FROM sepp89117 WHERE UniqueID = 20\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":680,"wires":[["37d6e955.24aec6"]]},{"id":"cb3190ff.cc314","type":"inject","z":"93d7b78b.d2d2d8","name":"","props":[{"p":"payload","v":"true","vt":"bool"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":680,"wires":[["832c9299.605ee"]]},{"id":"704903a7.d15fac","type":"function","z":"93d7b78b.d2d2d8","name":"SH0_UDP","func":"\nvar highCounter_SH0 = flow.get(\"highCounter_SH0\")||0;\nvar lowCounter_SH0 = flow.get(\"lowCounter_SH0\")||0;\n\n\n//count up\nif (lowCounter_SH0 >= 255)\n{highCounter_SH0++; lowCounter_SH0 = 0;}\nif (highCounter_SH0 >= 255) {highCounter_SH0 = 0; lowCounter_SH0++;}\n \nlowCounter_SH0++;\n\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].Param1, msg.payload[0].Param2, msg.payload[0].DC]);\nmsg.payload[9] = highCounter_SH0;\nmsg.payload[10] = lowCounter_SH0;\n\n\nflow.set(\"highCounter_SH0\",highCounter_SH0);\nflow.set(\"lowCounter_SH0\",lowCounter_SH0);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":680,"wires":[["75b5fea0.4a916","65733c9d.b82024"]]},{"id":"38b09824.3716a8","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"false","x":790,"y":840,"wires":[]},{"id":"c9a1ad3.ddd645","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":800,"wires":[]},{"id":"de8879d5.6739e8","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":840,"wires":[["524bf47d.e5aebc"]]},{"id":"f0dfd245.aad12","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT YY_SV","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Y1, Y2, DC, `14`, `15`, `16`, `17`, `18`, `19`, `20` FROM YY WHERE UniqueID = 185\";\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":840,"wires":[["de8879d5.6739e8"]]},{"id":"8719e4d.43d3f18","type":"inject","z":"93d7b78b.d2d2d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":840,"wires":[["f0dfd245.aad12"]]},{"id":"524bf47d.e5aebc","type":"function","z":"93d7b78b.d2d2d8","name":"YY_SuperView","func":"\nvar highCounter_YY = flow.get(\"highCounter_YY\")||0;\nvar lowCounter_YY = flow.get(\"lowCounter_YY\")||0;\n//highCounter_YY = 0;\n//lowCounter_YY = 0;\n\n//count up\nif (lowCounter_YY >= 255)\n{highCounter_YY++; lowCounter_YY = 0;}\nif (highCounter_YY >= 255) {highCounter_YY = 0; lowCounter_YY++;}\n\nlowCounter_YY++;\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].Y1, msg.payload[0].Y2, msg.payload[0].DC, msg.payload[0][\"14\"], msg.payload[0][\"15\"], msg.payload[0][\"16\"], msg.payload[0][\"17\"], msg.payload[0][\"18\"], msg.payload[0][\"19\"], msg.payload[0][\"20\"]]);\nmsg.payload[9] = highCounter_YY;\nmsg.payload[10] = lowCounter_YY;\n\n\nflow.set(\"highCounter_YY\",highCounter_YY);\nflow.set(\"lowCounter_YY\",lowCounter_YY);\n\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":840,"wires":[["38b09824.3716a8","c9a1ad3.ddd645"]]},{"id":"2cf3cb35.810924","type":"inject","z":"bffdc47c.00e2b8","name":"GoProCheck","repeat":"6.7","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"GoProCheck","payloadType":"str","x":460,"y":320,"wires":[["a7821d19.993b1"]]},{"id":"a7821d19.993b1","type":"trigger","z":"bffdc47c.00e2b8","name":"WatchDog1","op1":"","op2":"GoPro Dead","op1type":"nul","op2type":"str","duration":"6.5","extend":true,"units":"s","reset":"GoProOnline","bytopic":"all","outputs":1,"x":770,"y":280,"wires":[["6792e53f.592dbc","1b5f62b4.44c7ad"]]},{"id":"1b5f62b4.44c7ad","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":340,"wires":[]},{"id":"9bab2c6.e7fd8d","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":160,"wires":[]},{"id":"919dc491.0fd218","type":"change","z":"bffdc47c.00e2b8","name":"GoProOnline - Reset","rules":[{"t":"set","p":"payload","pt":"msg","to":"GoProOnline","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":220,"wires":[["a7821d19.993b1","9bab2c6.e7fd8d","6792e53f.592dbc","e674fa56.5827c8"]]},{"id":"105e2bd2.1e8f44","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":440,"wires":[]},{"id":"ce30db16.3b3548","type":"udp out","z":"93d7b78b.d2d2d8","name":"GoProHero5black send","addr":"10.71.79.100","iface":"","port":"8484","ipv":"udp4","outport":"8383","base64":false,"multicast":"multi","x":790,"y":220,"wires":[]},{"id":"8de5bdc3.ef90f","type":"function","z":"93d7b78b.d2d2d8","name":"WT_UDP","func":"\nvar highCounter_PW0 = flow.get(\"highCounter_PW0\")||0;\nvar lowCounter_PW0 = flow.get(\"lowCounter_PW0\")||0;\n//highCounter = 0;\n//lowCounter = 0;\n\n//count up\nif (lowCounter_PW0 >= 255)\n{highCounter_PW0++; lowCounter_PW0 = 0;}\nif (highCounter_PW0 >= 255) {highCounter_PW0 = 0; lowCounter_PW0++;}\n\nlowCounter_PW0++;\n\nmsg.payload = new Buffer([msg.payload[0][\"0\"], msg.payload[0][\"1\"], msg.payload[0][\"2\"], msg.payload[0][\"3\"], msg.payload[0][\"4\"], msg.payload[0][\"5\"], msg.payload[0][\"6\"], msg.payload[0][\"7\"], msg.payload[0].Flag, msg.payload[0].HC, msg.payload[0].LC, msg.payload[0].Param1, msg.payload[0].Param2]);\nmsg.payload[9] = highCounter_PW0;\nmsg.payload[10] = lowCounter_PW0;\n\n\nflow.set(\"highCounter_PW0\",highCounter_PW0);\nflow.set(\"lowCounter_PW0\",lowCounter_PW0);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":560,"y":220,"wires":[["ce30db16.3b3548","b05aa66d.91f878"]]},{"id":"a04effc7.9722b","type":"mysql","z":"93d7b78b.d2d2d8","mydb":"395f2a47.6cfaf6","name":"","x":410,"y":220,"wires":[["8de5bdc3.ef90f"]]},{"id":"50a436fa.ce1fc8","type":"function","z":"93d7b78b.d2d2d8","name":"SELECT WT","func":"\nmsg.topic = \"SELECT `0`, `1`, `2`, `3`, `4`, `5`, `6`, `7`, Flag, HC, LC, Param1, Param2 FROM sepp89117 WHERE UniqueID = 26\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":220,"wires":[["a04effc7.9722b"]]},{"id":"d65ffa4d.943628","type":"inject","z":"93d7b78b.d2d2d8","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":90,"y":220,"wires":[["50a436fa.ce1fc8"]]},{"id":"b05aa66d.91f878","type":"debug","z":"93d7b78b.d2d2d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":180,"wires":[]},{"id":"e674fa56.5827c8","type":"link out","z":"bffdc47c.00e2b8","name":"WakeUp GoPro UDP_GoProOnline->DB_connectivity","links":["d810a272.2ce32"],"x":575,"y":260,"wires":[]},{"id":"d810a272.2ce32","type":"link in","z":"d3786684.caf558","name":"UDP_GoProOnline->DB-Connectivity","links":["361974a2.a6fe8c","e674fa56.5827c8"],"x":215,"y":480,"wires":[["852ba70.cfdc558","13ab4bfd.cb8724"]]},{"id":"852ba70.cfdc558","type":"ui_text","z":"d3786684.caf558","group":"fb75f346.d7f78","order":2,"width":0,"height":0,"name":"","label":"UDP connected","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":480,"wires":[]},{"id":"361974a2.a6fe8c","type":"link out","z":"bffdc47c.00e2b8","name":"WakeUp GoPro UDP_GoProOffline->DB_connectivity","links":["d810a272.2ce32"],"x":875,"y":220,"wires":[]},{"id":"13ab4bfd.cb8724","type":"ui_led","z":"d3786684.caf558","order":2,"group":"ad805b2f.308398","width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"#ff0000","value":"GoProOffline","valueType":"str"},{"color":"#008000","value":"GoProOnline","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_UDP connected","x":920,"y":540,"wires":[]},{"id":"8590d124.137bc","type":"ping","z":"d3786684.caf558","protocol":"Automatic","mode":null,"name":"HERO-RC-800001","host":"10.71.79.1","timer":"3","inputs":0,"x":290,"y":720,"wires":[["e0f86a4f.221668"]]},{"id":"a7a40755.cd14d8","type":"ui_led","z":"d3786684.caf558","order":3,"group":"ad805b2f.308398","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"down","valueType":"str"},{"color":"#008000","value":"online","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_OdroidAP","x":900,"y":740,"wires":[]},{"id":"e3e977a3.5288a8","type":"ui_text","z":"d3786684.caf558","group":"fb75f346.d7f78","order":3,"width":0,"height":0,"name":"","label":"Odroid AccessPoint (ping)","format":"{{msg.topic}}","layout":"row-spread","x":930,"y":680,"wires":[]},{"id":"e0f86a4f.221668","type":"function","z":"d3786684.caf558","name":"","func":"msg.topic = msg.payload +' ms';\n  if (msg.payload > 0) {\n    msg.payload = 'online';\n  } else {\n    msg.payload = 'down';\n    msg.topic = msg.payload;\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":720,"wires":[["a7a40755.cd14d8","e3e977a3.5288a8"]]},{"id":"a861b82e.17c0b8","type":"link out","z":"89b9f172.e63fe","name":"UDP_Heartbeat->DB_connectivity","links":["1315e90e.09bc97"],"x":585,"y":700,"wires":[]},{"id":"1315e90e.09bc97","type":"link in","z":"d3786684.caf558","name":"UDP_Heartbeat->DB_Connenctivity","links":["a861b82e.17c0b8"],"x":215,"y":200,"wires":[["bb4c6010.3831","5daf6247.21002c","49814b0c.ee06e4"]]},{"id":"ef3946ba.04ae18","type":"ui_led","z":"d3786684.caf558","order":1,"group":"ad805b2f.308398","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"down","valueType":"str"},{"color":"#fbf304","value":"on","valueType":"str"},{"color":"#9da49d","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_UDP Heartbeat","x":920,"y":340,"wires":[]},{"id":"4da0bc55.c49d24","type":"ui_text","z":"d3786684.caf558","group":"fb75f346.d7f78","order":1,"width":0,"height":0,"name":"","label":"UDP Heartbeat","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":200,"wires":[]},{"id":"5daf6247.21002c","type":"trigger","z":"d3786684.caf558","name":"Watchdog-Heartbeat","op1":"","op2":"down","op1type":"nul","op2type":"str","duration":"820","extend":true,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":420,"y":340,"wires":[["ef3946ba.04ae18","4da0bc55.c49d24"]],"info":"setze \n\"dann\" \"warten auf\" auf 3 x var:delay des Heartbeats für beste Ergebnisse (nicht kürzer sonst beginnt er zu flappen!)\n\nDieses WakeUp Gopro bewirkt:\n1.) Overruled sozusagen die \"Automatische Kammeraabschaltung\" der GoPro - Settings und\n2.) dedektiert und behebt Abrisse in der UDP Kommunikation zwischen Node-red und GoProHero5Black"},{"id":"bb4c6010.3831","type":"function","z":"d3786684.caf558","name":"Led on","func":"\nmsg.payload = 'on'; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":200,"wires":[["ef3946ba.04ae18","4da0bc55.c49d24"]]},{"id":"73f5e24c.e1970c","type":"function","z":"d3786684.caf558","name":"Led off","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":590,"y":260,"wires":[["ef3946ba.04ae18"]]},{"id":"49814b0c.ee06e4","type":"delay","z":"d3786684.caf558","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":420,"y":260,"wires":[["73f5e24c.e1970c"]]},{"id":"4d04c00.156254","type":"comment","z":"d3786684.caf558","name":"UDP (Smart Remote)","info":"","x":180,"y":120,"wires":[]},{"id":"f6e873b0.4694b","type":"comment","z":"d3786684.caf558","name":"HTTP (GoPro APP)","info":"","x":190,"y":840,"wires":[]},{"id":"1a5c1a7.1c9d9e6","type":"ui_led","z":"d3786684.caf558","order":3,"group":"22f841fd.fe797e","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"GoPro Down","valueType":"str"},{"color":"#008000","value":"GoPro Up","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_GoProAP","x":900,"y":1320,"wires":[]},{"id":"1e07a178.11b99f","type":"ui_text","z":"d3786684.caf558","group":"f5a966d8.d5c368","order":3,"width":0,"height":0,"name":"","label":"GoPro AccessPoint (tcp)","format":"{{msg.topic}}","layout":"row-spread","x":930,"y":1260,"wires":[]},{"id":"9491a9aa.74ba18","type":"ping","z":"d3786684.caf558","protocol":"IPv4","mode":"timed","name":"Odroid_HTTPClient","host":"10.5.5.100","timer":"3","inputs":0,"x":290,"y":960,"wires":[["b929c0d5.c4c31","93c2fe7.c41d4"]]},{"id":"90e461ec.8db21","type":"ui_led","z":"d3786684.caf558","order":2,"group":"22f841fd.fe797e","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"down","valueType":"str"},{"color":"#008000","value":"online","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_Odroid HTTPClient","x":930,"y":980,"wires":[]},{"id":"43733e8e.ca766","type":"ui_text","z":"d3786684.caf558","group":"f5a966d8.d5c368","order":2,"width":0,"height":0,"name":"","label":"HTTP connected","format":"{{msg.topic}}","layout":"row-spread","x":910,"y":920,"wires":[]},{"id":"b929c0d5.c4c31","type":"function","z":"d3786684.caf558","name":"","func":"msg.topic = 'OdroidOnline';\n  if (msg.payload > 0) {\n    msg.payload = 'online';\n  } else {\n    msg.payload = 'down';\n    msg.topic = msg.payload;\n  }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":960,"wires":[["90e461ec.8db21","43733e8e.ca766"]]},{"id":"93c2fe7.c41d4","type":"debug","z":"d3786684.caf558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":1060,"wires":[]},{"id":"9fdf854a.bb7c98","type":"comment","z":"d3786684.caf558","name":"BLE (GoPro App)","info":"","x":180,"y":1480,"wires":[]},{"id":"65286718.6a83b8","type":"comment","z":"bffdc47c.00e2b8","name":"building BLE Connection","info":"","x":130,"y":620,"wires":[]},{"id":"d0934d9f.1df27","type":"Generic BLE in","z":"bffdc47c.00e2b8","name":"","genericBle":"420bd5ef.83b06c","useString":true,"notification":true,"x":910,"y":820,"wires":[["7dc731d0.b555d"]]},{"id":"3ebcad4e.c7c642","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","payload":"","payloadType":"date","x":890,"y":1000,"wires":[["d0934d9f.1df27"]]},{"id":"54753b17.dc2bf4","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","payload":"","payloadType":"date","x":880,"y":1080,"wires":[["d0934d9f.1df27"]]},{"id":"183913f0.fe15cc","type":"inject","z":"bffdc47c.00e2b8","name":"ShutterStart","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"b5f90072aa8d11e390460002a5d5c51b\":\"03010101\"}","payloadType":"json","x":270,"y":1420,"wires":[["f19251e3.f6b87"]]},{"id":"7dc731d0.b555d","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":820,"wires":[]},{"id":"e55eb771.fbbc78","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"scanStart","payload":"","payloadType":"date","x":890,"y":960,"wires":[["d0934d9f.1df27"]]},{"id":"ba970dfb.147e4","type":"exec","z":"bffdc47c.00e2b8","d":true,"command":"sudo service bluetooth restart","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Bluetooth.service restart","x":750,"y":740,"wires":[["eea77031.c9bfd"],[],[]]},{"id":"d6a3b79d.ce04e8","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":520,"y":680,"wires":[["ba970dfb.147e4"]]},{"id":"33979c2f.60bca4","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":940,"y":60,"wires":[["774008af.b12d28"]]},{"id":"eea77031.c9bfd","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":720,"wires":[]},{"id":"3835eb6d.008854","type":"BLE scanner","z":"bffdc47c.00e2b8","d":true,"name":"","services":"","servicesType":"str","continuous":false,"x":430,"y":2720,"wires":[["d2f4ca03.d682f8","782cd2c5.d5b20c"]]},{"id":"d2f4ca03.d682f8","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":660,"y":2720,"wires":[]},{"id":"fc52325a.8abfd","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"timeout","v":"10000","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"start","payload":"","payloadType":"date","x":230,"y":2720,"wires":[["3835eb6d.008854"]]},{"id":"782cd2c5.d5b20c","type":"BLE device","z":"bffdc47c.00e2b8","d":true,"name":"","x":570,"y":2800,"wires":[["7e016e5d.08f4"]]},{"id":"7e016e5d.08f4","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":2840,"wires":[]},{"id":"ba15022b.cd0a1","type":"exec","z":"bffdc47c.00e2b8","command":"bash -x BLE_connection.sh connect","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"BLE_connection.sh connect","x":480,"y":2660,"wires":[["1e62e6be.d11589"],[],[]]},{"id":"3066c99e.4f3f96","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2660,"wires":[["ba15022b.cd0a1"]]},{"id":"1e62e6be.d11589","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":2640,"wires":[]},{"id":"a927d564.3f16f8","type":"exec","z":"bffdc47c.00e2b8","command":"timeout 15s bluetoothctl scan on","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"bluetoothctl scan on","x":460,"y":2580,"wires":[["ff1066af.f7ee18"],[],[]]},{"id":"1cc98f9.08c4c7","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2580,"wires":[["a927d564.3f16f8"]]},{"id":"ff1066af.f7ee18","type":"debug","z":"bffdc47c.00e2b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":2560,"wires":[]},{"id":"7c81048e.b767bc","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"read","payload":"","payloadType":"date","x":900,"y":1040,"wires":[["d0934d9f.1df27"]]},{"id":"74eb2685.46a438","type":"inject","z":"bffdc47c.00e2b8","name":"ShutterStop","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"b5f90072aa8d11e390460002a5d5c51b\":\"03010100\"}","payloadType":"json","x":270,"y":1480,"wires":[["f19251e3.f6b87"]]},{"id":"f2a1db2.73ba028","type":"status","z":"bffdc47c.00e2b8","name":"Status BLE out GoPro 8539","scope":["e21b68b1.7f4d08"],"x":140,"y":780,"wires":[["c748025e.3b26e","fce1d654.8072a8","873ce0c3.579e7"]]},{"id":"ecb82265.b3833","type":"ui_text","z":"d3786684.caf558","group":"7193ba64.490654","order":2,"width":0,"height":0,"name":"","label":"BLE connected","format":"{{msg.topic}}","layout":"row-spread","x":900,"y":1640,"wires":[]},{"id":"ef25c9cc.31f3b8","type":"function","z":"d3786684.caf558","name":"","func":"\n  if (msg.status.text == \"generic-ble.status.disconnected\") {\n    msg.topic = 'GoPro disconnected';\n  } else \n  if (msg.status.text == \"generic-ble.status.connected\") {\n    msg.topic = 'GoPro connected';\n  } else \n  if (msg.status.text == 'generic-ble.status.connecting') {\n    msg.topic = 'GoPro connecting';\n  } else \n  if (msg.status.text == 'generic-ble.status.disconnecting') {\n    msg.topic = 'GoPro disconnecting';\n  } else \n  if (msg.status.text == 'generic-ble.status.missing') {\n    msg.topic = 'GoPro missing';\n  }\nmsg.payload = msg.topic\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1660,"wires":[["9ee56321.dc991","ecb82265.b3833","66234f5b.e763c","6bce446b.edd5ec"]]},{"id":"9ee56321.dc991","type":"debug","z":"d3786684.caf558","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":680,"y":1780,"wires":[]},{"id":"c748025e.3b26e","type":"link out","z":"bffdc47c.00e2b8","name":"WakeUp GoPro BLE_Status->DB_connectivity","links":["ccc52554.62e3e8"],"x":295,"y":860,"wires":[]},{"id":"ccc52554.62e3e8","type":"link in","z":"d3786684.caf558","name":"DB_Connectivity->WakeUp BLE_Status","links":["c748025e.3b26e"],"x":205,"y":1660,"wires":[["ef25c9cc.31f3b8"]]},{"id":"66234f5b.e763c","type":"ui_led","z":"d3786684.caf558","order":2,"group":"3e4e30cc.ab175","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"GoPro missing","valueType":"str"},{"color":"#008000","value":"GoPro connected","valueType":"str"},{"color":"#000000","value":"GoPro disconnected","valueType":"str"},{"color":"#878787","value":"GoPro disconnecting","valueType":"str"},{"color":"#baf2ba","value":"GoPro connecting","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"LED_GoPro BLE","x":910,"y":1580,"wires":[]},{"id":"6bce446b.edd5ec","type":"link out","z":"d3786684.caf558","name":"DB_Connectivity->WakeUP GoPro Bluetoothctl restart","links":[],"x":835,"y":1700,"wires":[]},{"id":"f19251e3.f6b87","type":"Generic BLE out","z":"bffdc47c.00e2b8","name":"","genericBle":"420bd5ef.83b06c","x":710,"y":1400,"wires":[]},{"id":"89e8a11c.5fd0c","type":"function","z":"d3786684.caf558","name":"","func":"\n  if (msg.status.text == \"common.status.disconnected\") {\n    msg.topic = 'GoPro Down';\n  } else \n  if (msg.status.text == \"common.status.connected\") {\n    msg.topic = 'GoPro Up';\n  } else\n  if (msg.payload ==\"common.status.error\"){\n    msg.topic = 'GoPro Down';\n  }\n  \nmsg.payload = msg.topic\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1300,"wires":[["1e07a178.11b99f","1a5c1a7.1c9d9e6","f3add184.9a58f","f9d44bec.94e2a8"]]},{"id":"fce1d654.8072a8","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":150,"y":720,"wires":[]},{"id":"873ce0c3.579e7","type":"switch","z":"bffdc47c.00e2b8","name":"GoPro BLE reconnect","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"generic-ble.status.missing","vt":"str"},{"t":"eq","v":"generic-ble.status.disconnected","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":780,"wires":[["ba970dfb.147e4"],["8d18b4b9.f68508"]]},{"id":"8d18b4b9.f68508","type":"change","z":"bffdc47c.00e2b8","name":"Connect","rules":[{"t":"set","p":"topic","pt":"msg","to":"connect","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":820,"wires":[["d0934d9f.1df27"]]},{"id":"66f6f985.ae63c8","type":"inject","z":"bffdc47c.00e2b8","name":"WifiOn","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"b5f90072aa8d11e390460002a5d5c51b\":\"03170101\"}","payloadType":"json","x":250,"y":1360,"wires":[["f19251e3.f6b87"]]},{"id":"f3add184.9a58f","type":"link out","z":"d3786684.caf558","name":"DB_Connectivity->WakeUp GoPro BLEsetWifion","links":["b5541da9.0a8cd"],"x":835,"y":1380,"wires":[]},{"id":"b5541da9.0a8cd","type":"link in","z":"bffdc47c.00e2b8","name":"WakeUp GoPro BLE_BLEsetWifion->DB_connectivity","links":["f3add184.9a58f"],"x":95,"y":1300,"wires":[["c3bbbd29.76f34"]]},{"id":"136fd2f7.36ed4d","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":1300,"wires":[]},{"id":"c3bbbd29.76f34","type":"switch","z":"bffdc47c.00e2b8","name":"GoPro APP (HTTP) down","property":"status.text","propertyType":"msg","rules":[{"t":"eq","v":"common.status.disconnected","vt":"str"},{"t":"eq","v":"common.status.error","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":1300,"wires":[["6bbbe086.3abfc","f3160d01.5b0b4"],["f3160d01.5b0b4"]]},{"id":"f9d44bec.94e2a8","type":"debug","z":"d3786684.caf558","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":740,"y":1440,"wires":[]},{"id":"b80043b5.24988","type":"http request","z":"bffdc47c.00e2b8","name":"WifiStreaming ON","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.5.5.9/gp/gpControl/execute?p1=gpStream&a1=proto_v2&c1=restart","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":1220,"wires":[["c37174c.c7f4888"]]},{"id":"c37174c.c7f4888","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":1220,"wires":[]},{"id":"6bbbe086.3abfc","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":1220,"wires":[]},{"id":"e21b68b1.7f4d08","type":"Generic BLE in","z":"bffdc47c.00e2b8","name":"","genericBle":"420bd5ef.83b06c","useString":false,"notification":true,"x":430,"y":2400,"wires":[["99f6d0df.fbaa4"]]},{"id":"7a983943.241b18","type":"inject","z":"bffdc47c.00e2b8","d":true,"name":"Get Camera Info","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"b5f90072aa8d11e390460002a5d5c51b\":\"3C\"}","payloadType":"json","x":230,"y":2400,"wires":[["e21b68b1.7f4d08"]]},{"id":"99f6d0df.fbaa4","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":640,"y":2380,"wires":[]},{"id":"64c033f6.224f1c","type":"function","z":"bcd7ab10.7fcb08","name":"SELECT ShutterStart","func":"msg.topic = \"SELECT BLE FROM BLE WHERE UniqueID = 1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":80,"wires":[["85388f60.6a279"]]},{"id":"85388f60.6a279","type":"mysql","z":"bcd7ab10.7fcb08","mydb":"230fd081.affe6","name":"","x":530,"y":80,"wires":[["189437f3.c162c8"]]},{"id":"189437f3.c162c8","type":"change","z":"bcd7ab10.7fcb08","name":"BLE Command","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"b5f90072aa8d11e390460002a5d5c51b\":$.payload[0].BLE}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":80,"wires":[[]]},{"id":"f3160d01.5b0b4","type":"subflow:4e0f19c0.e836e8","z":"bffdc47c.00e2b8","name":"","x":470,"y":1300,"wires":[["f19251e3.f6b87","b80043b5.24988","136fd2f7.36ed4d"],[]]},{"id":"1ef5b91.70f4247","type":"function","z":"4e0f19c0.e836e8","name":"SELECT WifiON","func":"msg.topic = \"SELECT BLE FROM BLE WHERE UniqueID = 21\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["36bb8285.73521e"]]},{"id":"36bb8285.73521e","type":"mysql","z":"4e0f19c0.e836e8","mydb":"230fd081.affe6","name":"","x":470,"y":160,"wires":[["ae822933.ff54d8"]]},{"id":"ae822933.ff54d8","type":"change","z":"4e0f19c0.e836e8","name":"BLE Command","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"b5f90072aa8d11e390460002a5d5c51b\":$.payload[0].BLE}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":160,"wires":[[]]},{"id":"4b90a18c.a24db","type":"function","z":"5df884bd.7da3ac","name":"SELECT ShutterStop","func":"msg.topic = \"SELECT BLE FROM BLE WHERE UniqueID = 2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":120,"wires":[["79828421.29144c"]]},{"id":"79828421.29144c","type":"mysql","z":"5df884bd.7da3ac","mydb":"230fd081.affe6","name":"","x":490,"y":120,"wires":[["8bc5a774.2371e8"]]},{"id":"8bc5a774.2371e8","type":"change","z":"5df884bd.7da3ac","name":"BLE Command","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"b5f90072aa8d11e390460002a5d5c51b\":$.payload[0].BLE}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":120,"wires":[[]]},{"id":"e47d6455.773be8","type":"http request","z":"3b3462fd.256a6e","name":"Shutter Start","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":120,"wires":[["70822b34.c32404"]]},{"id":"70822b34.c32404","type":"debug","z":"3b3462fd.256a6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":120,"wires":[]},{"id":"274f8f68.39c53","type":"function","z":"3b3462fd.256a6e","name":"SELECT SH1","func":"msg.topic = \"SELECT info, http FROM HTTP WHERE UniqueID = 1\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":120,"wires":[["90abbff8.af722"]]},{"id":"4bc40838.c74af8","type":"inject","z":"3b3462fd.256a6e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":120,"wires":[["274f8f68.39c53"]]},{"id":"90abbff8.af722","type":"mysql","z":"3b3462fd.256a6e","mydb":"760a3e67.03abe","name":"","x":570,"y":120,"wires":[["c59c303e.2238a"]]},{"id":"c59c303e.2238a","type":"change","z":"3b3462fd.256a6e","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload[0].http","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":120,"wires":[["e47d6455.773be8"]]},{"id":"4c1adc33.0ed7d4","type":"http request","z":"3b3462fd.256a6e","name":"Shutter Stop","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":180,"wires":[["4136d792.1fc7b8"]]},{"id":"4136d792.1fc7b8","type":"debug","z":"3b3462fd.256a6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":180,"wires":[]},{"id":"41441899.8ee758","type":"function","z":"3b3462fd.256a6e","name":"SELECT SH0","func":"msg.topic = \"SELECT info, http FROM HTTP WHERE UniqueID = 2\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":180,"wires":[["7912c291.f1c57c"]]},{"id":"70e3aee1.b1dfd","type":"inject","z":"3b3462fd.256a6e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":180,"wires":[["41441899.8ee758"]]},{"id":"7912c291.f1c57c","type":"mysql","z":"3b3462fd.256a6e","mydb":"760a3e67.03abe","name":"","x":570,"y":180,"wires":[["4fce188d.2f1218"]]},{"id":"4fce188d.2f1218","type":"change","z":"3b3462fd.256a6e","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload[0].http","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":180,"wires":[["4c1adc33.0ed7d4"]]},{"id":"f083a9d0.a573e8","type":"comment","z":"bffdc47c.00e2b8","name":"building HTTP Connection","info":"","x":150,"y":1140,"wires":[]},{"id":"983722dd.bc165","type":"tcp request","z":"bffdc47c.00e2b8","server":"10.5.5.9","port":"80","out":"time","splitc":"10000","name":"GP24718539","x":510,"y":1600,"wires":[["3e9b712d.c55c8e"]]},{"id":"3e9b712d.c55c8e","type":"debug","z":"bffdc47c.00e2b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":1520,"wires":[]},{"id":"83b25e4a.b90b6","type":"inject","z":"bffdc47c.00e2b8","name":"","props":[{"p":"payload"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":270,"y":1600,"wires":[["983722dd.bc165"]]},{"id":"f9a420b5.f7d6a","type":"status","z":"bffdc47c.00e2b8","name":"Status tcp GP24718539","scope":["983722dd.bc165"],"x":760,"y":1600,"wires":[["10c80e5b.c623e2"]]},{"id":"10c80e5b.c623e2","type":"link out","z":"bffdc47c.00e2b8","name":"WakeUp Gopro HTTP tcp Status->DB_connectivity","links":["a4bef44c.c585c8"],"x":935,"y":1600,"wires":[]},{"id":"a4bef44c.c585c8","type":"link in","z":"d3786684.caf558","name":"DB_Connectivity->WakeUp GoPro HTTP tcp Status","links":["10c80e5b.c623e2"],"x":235,"y":1300,"wires":[["89e8a11c.5fd0c"]]},{"id":"64da25aa.82f38c","type":"function","z":"c1d663c3.e4762","name":"SELECT WifiOn","func":"msg.topic = \"SELECT BLE FROM BLE WHERE UniqueID = 21\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":220,"wires":[["de70d997.690d88"]]},{"id":"de70d997.690d88","type":"mysql","z":"c1d663c3.e4762","mydb":"230fd081.affe6","name":"","x":610,"y":220,"wires":[["f549749f.d26208","9efaeeb.317661"]]},{"id":"f549749f.d26208","type":"change","z":"c1d663c3.e4762","name":"BLE Command","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"b5f90072aa8d11e390460002a5d5c51b\":$.payload[0].BLE}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":220,"wires":[["137bf514.62b8fb"]]},{"id":"6f89d689.f15268","type":"inject","z":"c1d663c3.e4762","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":220,"wires":[["64da25aa.82f38c"]]},{"id":"137bf514.62b8fb","type":"debug","z":"c1d663c3.e4762","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"9efaeeb.317661","type":"debug","z":"c1d663c3.e4762","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":630,"y":160,"wires":[]},{"id":"53c0c2df.efa81c","type":"http request","z":"3b3462fd.256a6e","name":"Shutter Stop","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":240,"wires":[["f853b92d.c19b68"]]},{"id":"f853b92d.c19b68","type":"debug","z":"3b3462fd.256a6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":240,"wires":[]},{"id":"66139b9b.9b5794","type":"function","z":"3b3462fd.256a6e","name":"SELECT Wifi Streamin ON","func":"msg.topic = \"SELECT info, http FROM HTTP WHERE UniqueID = 3\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":240,"wires":[["78e60035.2ac58"]]},{"id":"4a47f36.c380f0c","type":"inject","z":"3b3462fd.256a6e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":240,"wires":[["66139b9b.9b5794"]]},{"id":"78e60035.2ac58","type":"mysql","z":"3b3462fd.256a6e","mydb":"760a3e67.03abe","name":"","x":570,"y":240,"wires":[["9356c9de.95baf8"]]},{"id":"9356c9de.95baf8","type":"change","z":"3b3462fd.256a6e","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload[0].http","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":240,"wires":[["53c0c2df.efa81c"]]},{"id":"416dc56c.d88b9c","type":"http request","z":"3b3462fd.256a6e","name":"Shutter Stop","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":930,"y":300,"wires":[["1224d8c.7d01227"]]},{"id":"1224d8c.7d01227","type":"debug","z":"3b3462fd.256a6e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":300,"wires":[]},{"id":"62c03c45.bc68c4","type":"function","z":"3b3462fd.256a6e","name":"SELECT Wifi Streamin OFF","func":"msg.topic = \"SELECT info, http FROM HTTP WHERE UniqueID = 4\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":300,"wires":[["61ce09ab.747bb8"]]},{"id":"d6654b6b.37b148","type":"inject","z":"3b3462fd.256a6e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":300,"wires":[["62c03c45.bc68c4"]]},{"id":"61ce09ab.747bb8","type":"mysql","z":"3b3462fd.256a6e","mydb":"760a3e67.03abe","name":"","x":570,"y":300,"wires":[["f865749f.a475a8"]]},{"id":"f865749f.a475a8","type":"change","z":"3b3462fd.256a6e","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload[0].http","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[["416dc56c.d88b9c"]]},{"id":"59f04859.656478","type":"ui_text_input","z":"c31f75c1.823298","name":"Gerätenummer","label":"","tooltip":"","group":"c63c3171.75836","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":270,"y":240,"wires":[["3e051b12.52fb24"]]},{"id":"3e051b12.52fb24","type":"function","z":"c31f75c1.823298","name":"DeviceName declaration","func":"global.set('DeviceName',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":240,"wires":[["95c9a2cb.8a9dd"]]},{"id":"95c9a2cb.8a9dd","type":"debug","z":"c31f75c1.823298","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":240,"wires":[]},{"id":"43f75a01.74e884","type":"inject","z":"b99a57ec.925fb8","name":"Periodically Backup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":260,"y":140,"wires":[["d547483e.775438"]]},{"id":"d547483e.775438","type":"function","z":"b99a57ec.925fb8","name":"Prep data","func":"// global variables separated by semicolon to be saved\nvar globallist = \"DeviceName;OnClutchLimit;OnBrakeLimit;timeminute;start;irrenable;irrdays;alert1_triggered;alert1_value;alert2_triggered;alert2_value;torrent_keywords;tonernotification\";\nvar mylist = globallist.split(\";\");\n\nvar outputs = [];\n\nfor (i=0; i<mylist.length; i++) {\n    outputs.push({ key : mylist[i], type: typeof global.get(mylist[i]), value: global.get(mylist[i])});\n}\n      \n      \nmsg.payload = outputs;\nreturn msg;\n\n//msg.payload=typeof global.get(\"torrent_keywords\");\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":140,"wires":[["2c2d4269.a876de"]]},{"id":"9cec5c0d.e6de","type":"comment","z":"b99a57ec.925fb8","name":"Save global variables","info":"","x":260,"y":100,"wires":[]},{"id":"666ca426.5be96c","type":"comment","z":"b99a57ec.925fb8","name":"Restore global variables","info":"","x":260,"y":200,"wires":[]},{"id":"4cb14d0.afc25b4","type":"file","z":"b99a57ec.925fb8","name":"","filename":"/home/odroid/nodered-globalvariables.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":870,"y":140,"wires":[[]]},{"id":"d8fa7064.9f60a","type":"file in","z":"b99a57ec.925fb8","name":"","filename":"/home/odroid/nodered-globalvariables.json","format":"utf8","x":550,"y":240,"wires":[["3cdb4133.0d461e"]]},{"id":"14b4208c.99aaaf","type":"function","z":"b99a57ec.925fb8","name":"Restore","func":"var output = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    switch (msg.payload[i].type) {\n        case 'undefined': \n            // the global variable probably had no value, nothing needs to be restored\n            output.push(msg.payload[i].key + \" is undefined.\");\n            break;\n        case 'number':\n            if (msg.payload[i].value===\"NaN\") {\n                // there is no valid value to be restored, skip this variable\n                output.push(msg.payload[i].key + \" is NaN.\");\n            } else {\n                if (msg.payload[i].value.toString().indexOf(\".\")>-1) {\n                    // the value appears to be a float\n                    global.set(msg.payload[i].key,parseFloat(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                } else {\n                    global.set(msg.payload[i].key,parseInt(msg.payload[i].value));\n                    output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n                }\n            }\n            break;\n        case 'string':\n            global.set(msg.payload[i].key,msg.payload[i].value);\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n        case 'boolean':\n            global.set(msg.payload[i].key,msg.payload[i].value===\"true\");\n            output.push(msg.payload[i].key + \" is restored to \" + msg.payload[i].value);\n            break;\n    }\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":320,"wires":[["13dbc787.3648b8","700f64c7.16704c","3c1c5d80.84cb92","4b5389e8.7ec3f8","eabd9285.07a73","d0d41491.fa7428","b7839544.79e088","ddef5cc2.2a6c4"]]},{"id":"2c2d4269.a876de","type":"json","z":"b99a57ec.925fb8","name":"","x":610,"y":140,"wires":[["4cb14d0.afc25b4"]]},{"id":"3cdb4133.0d461e","type":"json","z":"b99a57ec.925fb8","name":"","x":790,"y":240,"wires":[["14b4208c.99aaaf"]]},{"id":"13dbc787.3648b8","type":"function","z":"b99a57ec.925fb8","name":"OnClutchLimit restore","func":"msg.topic = \"OnClutchLimit\";\nmsg.payload = global.get(\"OnClutchLimit\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":380,"wires":[["fa6f14b5.9e8898"]]},{"id":"700f64c7.16704c","type":"function","z":"b99a57ec.925fb8","name":"OnBrakeLimit restore","func":"\nmsg.topic = \"OnBrakeLimit\";\nmsg.payload = global.get(\"OnBrakeLimit\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":440,"wires":[["441c4e8e.0d9c9"]]},{"id":"fa6f14b5.9e8898","type":"link out","z":"b99a57ec.925fb8","name":"Global_variable_Backup_OnCltchLimit->DB_DashCam_Settings","links":["90235181.1bd48","cabbed93.9bb77"],"x":795,"y":380,"wires":[]},{"id":"441c4e8e.0d9c9","type":"link out","z":"b99a57ec.925fb8","name":"","links":["cabbed93.9bb77"],"x":795,"y":440,"wires":[]},{"id":"3c1c5d80.84cb92","type":"function","z":"b99a57ec.925fb8","name":"Irrigation hour restore","func":"msg.topic = \"timehour\";\nmsg.payload = global.get(\"timehour\");\nreturn msg;","outputs":1,"noerr":0,"x":623,"y":606,"wires":[["a7481f7.b0107e"]]},{"id":"a7481f7.b0107e","type":"link out","z":"b99a57ec.925fb8","name":"","links":["822055f4.a4b038"],"x":823,"y":605,"wires":[]},{"id":"4b5389e8.7ec3f8","type":"function","z":"b99a57ec.925fb8","name":"Irrigation minute restore","func":"msg.topic = \"timeminute\";\nmsg.payload = global.get(\"timeminute\");\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":650,"wires":[["6566100b.6370a"]]},{"id":"6566100b.6370a","type":"link out","z":"b99a57ec.925fb8","name":"","links":["2312fe3d.563952"],"x":818,"y":649,"wires":[]},{"id":"eabd9285.07a73","type":"function","z":"b99a57ec.925fb8","name":"Irrigation enabler restore","func":"msg.topic = \"irrenable\";\nmsg.payload = global.get(\"irrenable\");\nreturn msg;","outputs":1,"noerr":0,"x":623,"y":694,"wires":[["dd8532c3.a1061"]]},{"id":"dd8532c3.a1061","type":"link out","z":"b99a57ec.925fb8","name":"","links":["4e8c0522.fe637c"],"x":813,"y":693,"wires":[]},{"id":"d0d41491.fa7428","type":"function","z":"b99a57ec.925fb8","name":"Irrigation enabler restore","func":"msg.topic = \"irrdays\";\nmsg.payload = global.get(\"irrdays\");\nreturn msg;","outputs":1,"noerr":0,"x":625,"y":739,"wires":[["2dd73717.36ac78"]]},{"id":"2dd73717.36ac78","type":"link out","z":"b99a57ec.925fb8","name":"","links":["b42ee7b4.c38618"],"x":815,"y":738,"wires":[]},{"id":"b7839544.79e088","type":"function","z":"b99a57ec.925fb8","name":"Torrent keyword restore","func":"msg.topic = \"torrent_keywords\";\nmsg.payload = global.get(\"torrent_keywords\");\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":783,"wires":[["95c19abc.16a1f8"]]},{"id":"95c19abc.16a1f8","type":"link out","z":"b99a57ec.925fb8","name":"","links":["e3a03eba.fa3b4"],"x":818,"y":782,"wires":[]},{"id":"ddef5cc2.2a6c4","type":"function","z":"b99a57ec.925fb8","name":"DeviceName restore","func":"msg.topic = \"DeviceName\";\nmsg.payload = global.get(\"DeviceName\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":320,"wires":[["639a9d50.086244"]]},{"id":"639a9d50.086244","type":"link out","z":"b99a57ec.925fb8","name":"Global_variable_Backup_DeviceName->DB_Parameter","links":["1206971e.cd3a59"],"x":795,"y":320,"wires":[]},{"id":"1206971e.cd3a59","type":"link in","z":"c31f75c1.823298","name":"DB_Settings_Parameter->Global_Variable_Backup_DeviceName","links":["639a9d50.086244"],"x":45,"y":240,"wires":[["59f04859.656478"]]},{"id":"8e7e958d.ce6698","type":"inject","z":"b99a57ec.925fb8","name":"Startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":220,"y":240,"wires":[["d8fa7064.9f60a"]]},{"id":"df220a5a.3ea118","type":"comment","z":"b99a57ec.925fb8","name":"Platzhalter - ready to use","info":"","x":630,"y":500,"wires":[]},{"id":"b54ddabf.fec0f8","type":"ui_numeric","z":"9004c20f.8cb68","name":"OnClutchLimit","label":"OnClutchLimit (sec)","tooltip":"max. On Clutch Time (sec) before Tag","group":"a3598685.c656f8","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"OnClutchLimit","topicType":"str","format":"{{value}}","min":0,"max":"20","step":"0.1","x":300,"y":240,"wires":[["9888120e.2d7ec"]]},{"id":"61fae560.462a2c","type":"inject","z":"fe9bd502.da1c48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":20,"wires":[["dc5e458d.fe91c8"]]},{"id":"4b0674c.6ada48c","type":"function","z":"3b3462fd.256a6e","name":"SELECT Finalize Pairing","func":"msg.topic = \"SELECT info, http FROM HTTP WHERE UniqueID = 25\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":360,"wires":[["12a62722.852499"]]},{"id":"86dde41c.b83b88","type":"inject","z":"3b3462fd.256a6e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":360,"wires":[["4b0674c.6ada48c"]]},{"id":"12a62722.852499","type":"mysql","z":"3b3462fd.256a6e","mydb":"760a3e67.03abe","name":"","x":570,"y":360,"wires":[["38cb0704.3dde38"]]},{"id":"48ea15a2.67430c","type":"http request","z":"3b3462fd.256a6e","name":"Connect to GoProAP","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1040,"y":360,"wires":[["f19a1a82.a53758"]]},{"id":"f19a1a82.a53758","type":"debug","z":"3b3462fd.256a6e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":360,"wires":[]},{"id":"38cb0704.3dde38","type":"function","z":"3b3462fd.256a6e","name":"get global DeviceName","func":"var DeviceName_called = global.get('DeviceName');\nmsg.url = msg.payload[0].http + DeviceName_called;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":360,"wires":[["48ea15a2.67430c"]]},{"id":"9888120e.2d7ec","type":"function","z":"9004c20f.8cb68","name":"OnClutchLimit declaration","func":"global.set('OnClutchLimit',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":240,"wires":[["26323a1e.29f506"]]},{"id":"26323a1e.29f506","type":"debug","z":"9004c20f.8cb68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":240,"wires":[]},{"id":"90235181.1bd48","type":"link in","z":"9004c20f.8cb68","name":"DBDashCamsettingsOnClutchLimit","links":["fa6f14b5.9e8898"],"x":55,"y":240,"wires":[["b54ddabf.fec0f8"]]},{"id":"9368d57c.83cd58","type":"debug","z":"fe9bd502.da1c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":180,"wires":[]},{"id":"e0c354b4.4077f8","type":"inject","z":"fe9bd502.da1c48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":100,"y":80,"wires":[["dc5e458d.fe91c8"]]},{"id":"99db86e7.aa7328","type":"inject","z":"fe9bd502.da1c48","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":200,"wires":[["3b391d03.ea14f2"]]},{"id":"6663fd6c.8d5544","type":"ui_numeric","z":"9004c20f.8cb68","name":"OnBrakeLimit","label":"OnBrakeLimit (sec)","tooltip":"max. On Brake Time (sec) before Tag","group":"a3598685.c656f8","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"OnBrakeLimit","topicType":"str","format":"{{value}}","min":0,"max":"20","step":"0.1","x":300,"y":300,"wires":[["e7d5bd52.ee961"]]},{"id":"e7d5bd52.ee961","type":"function","z":"9004c20f.8cb68","name":"OnBrakeLimit declaration","func":"global.set('OnBrakeLimit',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":300,"wires":[["e4dd68ca.f1f2b8"]]},{"id":"e4dd68ca.f1f2b8","type":"debug","z":"9004c20f.8cb68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":300,"wires":[]},{"id":"cabbed93.9bb77","type":"link in","z":"9004c20f.8cb68","name":"DBDashCamsettingsOnBrakeLimit","links":["fa6f14b5.9e8898","441c4e8e.0d9c9"],"x":55,"y":300,"wires":[["6663fd6c.8d5544"]]},{"id":"6002d407.5d153c","type":"inject","z":"e1a94fdd.a1f8a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":90,"y":20,"wires":[["f35cdcdb.43dee"]]},{"id":"9e3e66f2.cbebc8","type":"inject","z":"e1a94fdd.a1f8a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":100,"y":80,"wires":[["f35cdcdb.43dee"]]},{"id":"4d46fb18.4ae4f4","type":"mysql","z":"a71d92ae.7639a","mydb":"4b0eb527.16d5ec","name":"","x":520,"y":420,"wires":[["dae0a606.cbc898"]]},{"id":"3c199cc1.ecbb94","type":"link in","z":"a71d92ae.7639a","name":"BlackBox_to_MySQL_insertBrake","links":["a1934b83.ac2d28"],"x":75,"y":420,"wires":[["61d8ce28.057f","dacce30e.40714"]]},{"id":"61d8ce28.057f","type":"debug","z":"a71d92ae.7639a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":190,"y":500,"wires":[]},{"id":"dacce30e.40714","type":"function","z":"a71d92ae.7639a","name":"Insert Brake","func":"var onoff1 = msg.Signal1.replace(\"1\", \"OFF\").replace(\"0\", \"ON\");\nvar onoff2 = msg.Signal2.replace(\"1\", \"OFF\").replace(\"0\", \"ON\");\nconst reg = /\\.\\d{3}Z/;\n\nmsg.timestamp = new Date(msg.Timestamp2).toISOString().replace(\"T\", \" \").replace(reg, \"\");\nmsg.topic = \"INSERT INTO brake(Timestamp_at_end, Signal1, Signal2, Timespan) VALUES( '\"+msg.timestamp+\"', '\"+onoff1+\"', '\"+onoff2+\"', '\"+msg.Timespan+\"' );\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":420,"wires":[["4d46fb18.4ae4f4","37f7d71.d29c428"]]},{"id":"37f7d71.d29c428","type":"debug","z":"a71d92ae.7639a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":500,"wires":[]},{"id":"dae0a606.cbc898","type":"debug","z":"a71d92ae.7639a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":420,"wires":[]},{"id":"a1934b83.ac2d28","type":"link out","z":"e1a94fdd.a1f8a","name":"BRAKE","links":["3c199cc1.ecbb94"],"x":865,"y":180,"wires":[]},{"id":"d27c894f.850d18","type":"debug","z":"e1a94fdd.a1f8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":140,"wires":[]}]