flows_odroid.json
[{"id":"fe9bd502.da1c48","type":"tab","label":"ON_CLUTCH_WARNER","disabled":false,"info":"# Frage: Wie lange steht der Fahrer auf der Kupplung?\n\n"},{"id":"e1a94fdd.a1f8a","type":"tab","label":"ON_BRAKE_WARNER","disabled":false,"info":"# Wie lange steht der Fahrer auf der Bremse?"},{"id":"60b4d38a.a1148c","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"c06c0f39.7c4c2","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"af9e6197.3d4c3","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"6f2009d6.0acd88","type":"tab","label":"q-gate und Junk","disabled":false,"info":""},{"id":"1889e7f2.72f9e8","type":"tab","label":"SWITCH OUTPUT","disabled":false,"info":""},{"id":"cfd7352b.de1028","type":"tab","label":"Tachosignal","disabled":false,"info":""},{"id":"fdee7a45.860e48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"93d7b78b.d2d2d8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7da7c225.80c41c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"1516d403.d6df1c","type":"subflow","name":"VELOCITY","info":"","category":"","in":[{"x":120,"y":120,"wires":[{"id":"1e4b2556.645e7b"}]}],"out":[{"x":700,"y":120,"wires":[{"id":"31369dfb.4bd482","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4c0714ce.c8c0ac","type":"subflow","name":"PassLimit","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"9580cd86.d9557"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"ef28d4ab.10e658","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8ec34a74.951e88","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6","collapse":false},{"id":"79286a9b.e92864","type":"ui_group","z":"","name":"gpioinput","tab":"","disp":true,"width":"6","collapse":false},{"id":"7a5d0b6b.156a24","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8be2921c.a6a47","type":"ui_tab","z":"","name":"Setting","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a3598685.c656f8","type":"ui_group","z":"","name":"SpaceStar","tab":"8be2921c.a6a47","order":1,"disp":true,"width":"6","collapse":false},{"id":"519005ba.0f4e8c","type":"j5-platform","z":"","name":"","username":"","password":"","ioPlugin":"firmata","serialportName":"","connectionType":"local","mqttServer":"","pubTopic":"","subTopic":"","tcpHost":"","tcpPort":"","sparkId":"","sparkToken":"","beanId":"","impId":"","uuid":"","token":"","sendUuid":"","raspiI2C":false,"raspiUART":false,"raspiGPIO":[]},{"id":"6af94b16.c45f24","type":"ui_group","z":"","name":"WERKSTÄTTE","tab":"1aef63d6.a06dcc","disp":true,"width":"6","collapse":false},{"id":"1aef63d6.a06dcc","type":"ui_tab","z":"","name":"ARBEITSRAUM","icon":"dashboard","disabled":false,"hidden":false},{"id":"ff3d23ed.851e","type":"ui_group","z":"","name":"Default","tab":"b0d4ebc5.f66f98","disp":true,"width":"6","collapse":false},{"id":"b0d4ebc5.f66f98","type":"ui_tab","z":"","name":"TESTS","icon":"dashboard","disabled":false,"hidden":false},{"id":"ba2676d.9820d88","type":"ui_spacer","name":"spacer","group":"a3598685.c656f8","order":1,"width":1,"height":1},{"id":"cb226ed7.da6cc","type":"ui_group","z":"","name":"WERKSTÄTTE","tab":"75083a61.7a8214","disp":true,"width":"6","collapse":false},{"id":"75083a61.7a8214","type":"ui_tab","z":"","name":"ARBEITSRAUM","icon":"dashboard","disabled":false,"hidden":false},{"id":"478fd246.3eac8c","type":"ui_group","z":"","name":"WERKSTÄTTE","tab":"a00407c0.4bfa88","disp":true,"width":"6","collapse":false},{"id":"a00407c0.4bfa88","type":"ui_tab","z":"","name":"ARBEITSRAUM","icon":"dashboard","disabled":false,"hidden":false},{"id":"2f55534b.bfdfbc","type":"ui_group","z":"","name":"WERKSTÄTTE","tab":"a5c13afd.287768","disp":true,"width":"6","collapse":false},{"id":"a5c13afd.287768","type":"ui_tab","z":"","name":"ARBEITSRAUM","icon":"dashboard","disabled":false,"hidden":false},{"id":"ee100a13.3bb9e8","type":"rpi-gpio in","z":"fe9bd502.da1c48","name":"","pin":"15","intype":"tri","debounce":"25","read":false,"x":70,"y":160,"wires":[["dc5e458d.fe91c8"]]},{"id":"448fefa5.dfa64","type":"q-gate","z":"6f2009d6.0acd88","name":"q-gate demo","controlTopic":"control","defaultState":"open","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","maxQueueLength":"5","keepNewest":false,"qToggle":false,"persist":false,"x":430,"y":240,"wires":[["f43e6dd4.4a09b"]]},{"id":"325e9fce.e72a4","type":"inject","z":"6f2009d6.0acd88","name":"input","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["448fefa5.dfa64"]]},{"id":"5aebc459.1a32dc","type":"inject","z":"6f2009d6.0acd88","name":"open","topic":"control","payload":"open","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":60,"wires":[["448fefa5.dfa64"]]},{"id":"1e67eaee.86a275","type":"inject","z":"6f2009d6.0acd88","name":"toggle","topic":"control","payload":"toggle","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":140,"wires":[["448fefa5.dfa64"]]},{"id":"29dc06db.76384a","type":"inject","z":"6f2009d6.0acd88","name":"close","topic":"control","payload":"close","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":100,"wires":[["448fefa5.dfa64"]]},{"id":"37fd4001.55728","type":"inject","z":"6f2009d6.0acd88","name":"default","topic":"control","payload":"default","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["448fefa5.dfa64"]]},{"id":"f43e6dd4.4a09b","type":"debug","z":"6f2009d6.0acd88","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":590,"y":240,"wires":[]},{"id":"e07cd047.9ebbc","type":"inject","z":"6f2009d6.0acd88","name":"queue","topic":"control","payload":"queue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":300,"wires":[["448fefa5.dfa64"]]},{"id":"bb91375f.eb7068","type":"inject","z":"6f2009d6.0acd88","name":"flush","topic":"control","payload":"flush","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":380,"wires":[["448fefa5.dfa64"]]},{"id":"183a0088.975a7f","type":"inject","z":"6f2009d6.0acd88","name":"trigger","topic":"control","payload":"trigger","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":340,"wires":[["448fefa5.dfa64"]]},{"id":"91c32e65.3ecda","type":"inject","z":"6f2009d6.0acd88","name":"reset","topic":"control","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":420,"wires":[["448fefa5.dfa64"]]},{"id":"dc5e458d.fe91c8","type":"function","z":"fe9bd502.da1c48","name":"setTimeStamp_State","func":"\nvar ts = new Date();\nmsg.payload = ts.toISOString() + \"_\" + msg.payload;\n//msg.payload = ts.toUTCString() + \"_\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["ab0dd927.46d468"]]},{"id":"d57da8a8.413958","type":"buffer-array","z":"fe9bd502.da1c48","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":630,"y":40,"wires":[["8948f159.430fc"]]},{"id":"8948f159.430fc","type":"function","z":"fe9bd502.da1c48","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Topic: \"ACTUALVALUE\", Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":840,"y":40,"wires":[["94b93c15.931bf","b83ce749.fea368"]]},{"id":"ab0dd927.46d468","type":"function","z":"fe9bd502.da1c48","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["d57da8a8.413958"]]},{"id":"3b391d03.ea14f2","type":"http request","z":"fe9bd502.da1c48","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":100,"wires":[[]]},{"id":"94b93c15.931bf","type":"switch","z":"fe9bd502.da1c48","name":"Hit_Clutch","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":100,"wires":[["ab1d2b64.86aa28"]]},{"id":"cd863607.6f7d18","type":"rpi-gpio in","z":"cfd7352b.de1028","d":true,"name":"","pin":"7","intype":"tri","debounce":"25","read":false,"x":130,"y":540,"wires":[["912bc373.06c73"]]},{"id":"78bd41e5.4eea6","type":"function","z":"cfd7352b.de1028","name":"SavedCounter","func":"var NewMsg = {savedcounter:0}\nvar count=context.get('mystorage') || 0;\nvar savedcounter = 0;\n\nif( msg.topic === 'signal' )\n{\n  count ++;\n}\n\nif( msg.topic === 'ResetCounter' )\n{\n  savedcounter = count;\n  count = 0;\n}\n\ncontext.set('mystorage',count);\nNewMsg.savedcounter = savedcounter; \n\nreturn NewMsg;\n\n","outputs":1,"noerr":0,"x":260,"y":300,"wires":[["547d022c.ca8d0c","7d7e341c.b0a86c"]]},{"id":"547d022c.ca8d0c","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":420,"y":320,"wires":[]},{"id":"1d7e9310.6bf2fd","type":"inject","z":"cfd7352b.de1028","name":"","topic":"Signal","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":420,"wires":[["912bc373.06c73"]]},{"id":"7d7e341c.b0a86c","type":"function","z":"cfd7352b.de1028","name":"VelocitiyCalculation","func":"var NewMsg = {velocity:0};\nvar savedcounter = msg.payload;\nNewMsg.velocity = (20 / 17) * savedcounter + (60 / 17);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":650,"y":160,"wires":[["93e322bc.6ae9c"]]},{"id":"93e322bc.6ae9c","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":240,"wires":[]},{"id":"caf8c4a3.b53d38","type":"inject","z":"cfd7352b.de1028","name":"","topic":"ResetCounter","payload":"reset","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":600,"wires":[["912bc373.06c73"]]},{"id":"1e4b2556.645e7b","type":"function","z":"1516d403.d6df1c","name":"VELOCITY_GATE","func":"var NewMsg = { payload : 0, Speed : 0};\nvar Counter = context.get('Counter') || 0;\nvar OpenSwitchNode = 1;\nvar CloseSwitchNode = 0;\n\nif( msg.topic == \"Signal\" )\n{\n    Counter++;\n}\n\nNewMsg.payload = CloseSwitchNode;\n\nif( msg.topic == \"ResetCounter\" )\n{ \n    \n    NewMsg.payload = OpenSwitchNode;\n    NewMsg.Speed = (20 / 17) * Counter * 5  + (60 / 17);\n  \n    Counter = 0;\n}\n\ncontext.set('Counter', Counter);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["31369dfb.4bd482"]]},{"id":"31369dfb.4bd482","type":"switch","z":"1516d403.d6df1c","name":"VELOCITY_FIRE","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":120,"wires":[[]]},{"id":"c9cad5df.c4aa38","type":"debug","z":"cfd7352b.de1028","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":540,"wires":[]},{"id":"912bc373.06c73","type":"subflow:1516d403.d6df1c","z":"cfd7352b.de1028","name":"","env":[],"x":430,"y":540,"wires":[["c9cad5df.c4aa38"]]},{"id":"605dd713.f84bd8","type":"inject","z":"1889e7f2.72f9e8","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["379695c3.6888da"]]},{"id":"b69b2621.e2a628","type":"inject","z":"1889e7f2.72f9e8","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":180,"wires":[["379695c3.6888da"]]},{"id":"379695c3.6888da","type":"rpi-gpio out","z":"1889e7f2.72f9e8","name":"","pin":"33","set":"","level":"0","freq":"","out":"out","x":310,"y":140,"wires":[]},{"id":"1cea54e.528f3ab","type":"file","z":"6f2009d6.0acd88","name":"","filename":"/home/odroid/PIN22/PIN22","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":180,"y":540,"wires":[[]]},{"id":"f315d132.96f28","type":"function","z":"6f2009d6.0acd88","d":true,"name":"reinjecttobuffer","func":"var NewArray = [];\nvar TimestampNewest = 0;\nvar SignalNewest = '0';\n\n\n//var d = msg.payload[3][0];\n  \nTimestampNewest = msg.payload[3][0];\nSignalNewest = msg.payload[3][1];\n\nNewArray.push(TimestampNewest);\nNewArray.push(SignalNewest);\n\nmsg.payload = NewArray;\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"x":140,"y":600,"wires":[[]]},{"id":"bd828d9b.6bb81","type":"ui_switch","z":"c06c0f39.7c4c2","name":"Heizung","label":"HEIZUNG","tooltip":"","group":"6af94b16.c45f24","order":0,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"Heizung","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-thermometer-full","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-thermometer-empty","offcolor":"white","x":1480,"y":380,"wires":[[]]},{"id":"978b2a62.35a438","type":"ui_button","z":"c06c0f39.7c4c2","name":"","group":"6af94b16.c45f24","order":1,"width":0,"height":0,"passthru":false,"label":"EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":470,"y":340,"wires":[["c4577d72.9fadd"]]},{"id":"ebfb2b83.f93788","type":"ui_button","z":"c06c0f39.7c4c2","name":"","group":"6af94b16.c45f24","order":1,"width":0,"height":0,"passthru":false,"label":"AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":470,"y":380,"wires":[["5a63ec4c.cd4364","1b0a54c5.a5165b"]]},{"id":"5a63ec4c.cd4364","type":"bigtimer","z":"c06c0f39.7c4c2","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"48.22908","lon":"13.0208","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":1100,"y":380,"wires":[[],["153ead82.eec802","b4801164.ba703"],[]]},{"id":"2706ad2e.155dc2","type":"ui_button","z":"c06c0f39.7c4c2","name":"","group":"6af94b16.c45f24","order":1,"width":0,"height":0,"passthru":false,"label":"AUTO","tooltip":"","color":"","bgcolor":"","icon":"","payload":"auto","payloadType":"str","topic":"","x":470,"y":440,"wires":[["5a63ec4c.cd4364","c7b5035a.5aaff"]]},{"id":"c4577d72.9fadd","type":"change","z":"c06c0f39.7c4c2","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":280,"wires":[["5a63ec4c.cd4364","1389c79f.5a7308"]]},{"id":"1b0a54c5.a5165b","type":"change","z":"c06c0f39.7c4c2","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":340,"wires":[["5a63ec4c.cd4364","1389c79f.5a7308"]]},{"id":"c7b5035a.5aaff","type":"change","z":"c06c0f39.7c4c2","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":460,"wires":[["5a63ec4c.cd4364","1389c79f.5a7308"]]},{"id":"1389c79f.5a7308","type":"ui_text","z":"c06c0f39.7c4c2","group":"6af94b16.c45f24","order":4,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":460,"wires":[]},{"id":"153ead82.eec802","type":"change","z":"c06c0f39.7c4c2","name":"ConvertOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":360,"wires":[["bd828d9b.6bb81"]]},{"id":"b4801164.ba703","type":"change","z":"c06c0f39.7c4c2","name":"ConvertOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":400,"wires":[["bd828d9b.6bb81"]]},{"id":"8778104e.0680a","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OnHour","label":"Einschalten Stunde","tooltip":"","group":"6af94b16.c45f24","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":900,"y":60,"wires":[["26983153.9f5d7e"]]},{"id":"f4b0238e.9bc6d","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OnMinute","label":"Einschalten Minute","tooltip":"","group":"6af94b16.c45f24","order":5,"width":0,"height":0,"passthru":true,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":900,"y":120,"wires":[["26983153.9f5d7e"]]},{"id":"91220fc6.42e9a","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OffHour","label":"Ausschalten Stunde","tooltip":"","group":"6af94b16.c45f24","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":900,"y":180,"wires":[["26983153.9f5d7e"]]},{"id":"581bc87b.bb91e8","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OffMinute","label":"Ausschalten Minute","tooltip":"","group":"6af94b16.c45f24","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":900,"y":240,"wires":[["26983153.9f5d7e"]]},{"id":"d7e1443d.d9ecc8","type":"file","z":"c06c0f39.7c4c2","name":"StoreTimeSettings","filename":"timesettings","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1450,"y":140,"wires":[[]]},{"id":"26983153.9f5d7e","type":"join","z":"c06c0f39.7c4c2","name":"CombineTime","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1160,"y":140,"wires":[["d7e1443d.d9ecc8","5ea62c15.0591e4","261c39f2.f0fb66"]]},{"id":"a949e0b0.b890f","type":"file in","z":"c06c0f39.7c4c2","d":true,"name":"LoadTimeSettings","filename":"timesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":270,"y":140,"wires":[["59d0c771.e47528"]]},{"id":"48067590.67c0dc","type":"inject","z":"c06c0f39.7c4c2","name":"","topic":"LOAD","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":140,"wires":[["a949e0b0.b890f"]]},{"id":"59d0c771.e47528","type":"json","z":"c06c0f39.7c4c2","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["ba47a357.67eb","8045aac8.253858","d525ebde.7ad8e8","81b1f1aa.21827"]]},{"id":"ba47a357.67eb","type":"change","z":"c06c0f39.7c4c2","name":"GetHourOn","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":80,"wires":[["8778104e.0680a"]]},{"id":"8045aac8.253858","type":"change","z":"c06c0f39.7c4c2","name":"GetMinuteOn","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":120,"wires":[["f4b0238e.9bc6d"]]},{"id":"d525ebde.7ad8e8","type":"change","z":"c06c0f39.7c4c2","name":"GetHourOff","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":160,"wires":[["91220fc6.42e9a"]]},{"id":"81b1f1aa.21827","type":"change","z":"c06c0f39.7c4c2","name":"GetMinuteOff","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[["581bc87b.bb91e8"]]},{"id":"5ea62c15.0591e4","type":"function","z":"c06c0f39.7c4c2","name":"ProvideOverrideOffTime","func":"var OffOverride = \"Off_Override \";\nmsg.payload = OffOverride + msg.payload.HourOff + \":\" + msg.payload.MinuteOff;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["5a63ec4c.cd4364"]]},{"id":"261c39f2.f0fb66","type":"function","z":"c06c0f39.7c4c2","name":"ProvideOverrideOnTime","func":"var OnOverride = \"On_Override \";\nmsg.payload = OnOverride + msg.payload.HourOn + \":\" + msg.payload.MinuteOn;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":220,"wires":[["5a63ec4c.cd4364"]]},{"id":"8fda15ef.309e98","type":"inject","z":"c06c0f39.7c4c2","name":"Reload","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["a949e0b0.b890f"]]},{"id":"f9cf1711.040cb8","type":"ui_numeric","z":"fe9bd502.da1c48","name":"OnClutchLimit","label":"OnClutchLimit","tooltip":"max. On Clutch Time before Tag","group":"a3598685.c656f8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"OnClutchLimit","format":"{{value}}","min":0,"max":10,"step":1,"x":400,"y":380,"wires":[["512d9694.955598"]]},{"id":"fe7e0163.315f2","type":"ui_numeric","z":"fdee7a45.860e48","name":"","label":"numeric","tooltip":"","group":"ff3d23ed.851e","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":10,"step":1,"x":140,"y":200,"wires":[["577d15e3.d8ee7c"]]},{"id":"589b722d.0ae44c","type":"debug","z":"fdee7a45.860e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":80,"wires":[]},{"id":"577d15e3.d8ee7c","type":"function","z":"fdee7a45.860e48","name":"LEVEL_CHECK","func":"var NewMsg = { payload : 0, Information : ''};\nvar Level = context.get('Level') || 0;\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.topic == 'ACTUAL_VALUE')\n{\n    if( Level >= msg.payload   )\n    {\n        NewMsg.payload = PassActualValue;\n        NewMsg.Information = 'AnyInformation';\n    }\n    else\n    {\n        NewMsg.payload = BlockActualValue;\n    }\n}\nelse\n{\n   Level = msg.payload;\n}\n\ncontext.set('Level', Level);\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["4e1950ff.c9a4e","116c0629.0ebd6a"]]},{"id":"66ef82d2.acd66c","type":"inject","z":"fdee7a45.860e48","name":"","topic":"ACTUAL_VALUE","payload":"3","payloadType":"num","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["2d4682ef.728b7e"]]},{"id":"4e1950ff.c9a4e","type":"switch","z":"fdee7a45.860e48","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":140,"wires":[["4b6540c7.dba7c"]]},{"id":"4b6540c7.dba7c","type":"debug","z":"fdee7a45.860e48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":810,"y":140,"wires":[]},{"id":"116c0629.0ebd6a","type":"debug","z":"fdee7a45.860e48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":200,"wires":[]},{"id":"2d4682ef.728b7e","type":"switch","z":"fdee7a45.860e48","name":"ANY","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":320,"y":80,"wires":[["589b722d.0ae44c","577d15e3.d8ee7c"]]},{"id":"5e907e84.91bb8","type":"file","z":"fdee7a45.860e48","name":"","filename":"/home/odroid/.node-red/SpaceStarSettings.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":220,"y":380,"wires":[[]]},{"id":"2736ab5e.180214","type":"file in","z":"fe9bd502.da1c48","name":"LoadOnClutchLimit","filename":"SpaceStarSettings","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":410,"y":280,"wires":[["c3b74846.9ff038"]]},{"id":"c3b74846.9ff038","type":"json","z":"fe9bd502.da1c48","name":"","property":"payload","action":"","pretty":false,"x":570,"y":280,"wires":[["5917c30f.484d5c"]]},{"id":"cd46ecc9.b0f3f","type":"file","z":"fe9bd502.da1c48","name":"SaveOnClutchLimit","filename":"SpaceStarSettings","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":340,"wires":[[]]},{"id":"36cabe70.a496e2","type":"inject","z":"fe9bd502.da1c48","name":"Inject true after boot","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":360,"wires":[["2736ab5e.180214"]]},{"id":"512d9694.955598","type":"join","z":"fe9bd502.da1c48","name":"CombineLimits","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":580,"y":380,"wires":[["cd46ecc9.b0f3f","ad6dbd2d.889f5"]]},{"id":"5917c30f.484d5c","type":"change","z":"fe9bd502.da1c48","name":"GetOnClutchLimit","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["f9cf1711.040cb8"]]},{"id":"9580cd86.d9557","type":"function","z":"4c0714ce.c8c0ac","name":"PassLimit","func":"var NewMsg = {payload : 0};\nvar OnClutchLimit = context.get('OnClutchLimit') || 0;\n\ncontext.set('OnClutchLimit') = msg.payload.OnClutchLimit;\n\ncontext.set('OnClutchLimit', OnClutchLimit);\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.Timespan >= 0)\n{\n    if( msg.Timespan >= OnClutchLimit)\n    {\n        NewMsg.payload = PassActualValue;\n    }\n    else\n    {\n        NewMsg.payload = BlockActualValue;\n    }\n}\n//if( msg.payload.OnClutchLimit == 'OnClutchLimit')\n//{\n//    context.set('OnClutchLimit', OnClutchLimit);\n//}\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":160,"y":40,"wires":[["ef28d4ab.10e658"]]},{"id":"ef28d4ab.10e658","type":"switch","z":"4c0714ce.c8c0ac","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":410,"y":40,"wires":[[]]},{"id":"7c572185.7dfd5","type":"ui_switch","z":"7da7c225.80c41c","name":"Heizung","label":"HEIZUNG","tooltip":"","group":"cb226ed7.da6cc","order":0,"width":"6","height":"2","passthru":false,"decouple":"true","topic":"Heizung","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-3x fa-thermometer-full","oncolor":"yellow","offvalue":"false","offvalueType":"bool","officon":"fa-3x fa-thermometer-empty","offcolor":"white","x":1480,"y":380,"wires":[[]]},{"id":"a047c152.91744","type":"ui_button","z":"7da7c225.80c41c","name":"","group":"cb226ed7.da6cc","order":1,"width":0,"height":0,"passthru":false,"label":"EIN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":470,"y":340,"wires":[["7d9f9a7b.4056b4"]]},{"id":"7f75bf47.4aeda","type":"ui_button","z":"7da7c225.80c41c","name":"","group":"cb226ed7.da6cc","order":1,"width":0,"height":0,"passthru":false,"label":"AUS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":470,"y":380,"wires":[["7cf22d48.038774","5ce5123b.36a4cc"]]},{"id":"7cf22d48.038774","type":"bigtimer","z":"7da7c225.80c41c","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":"48.22908","lon":"13.0208","starttime":5001,"endtime":1425,"starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"on","outtext2":"off","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":1100,"y":380,"wires":[[],["4bd58adb.6d07d4","8047ec79.3b18a"],[]]},{"id":"3c336c80.2dcbd4","type":"ui_button","z":"7da7c225.80c41c","name":"","group":"cb226ed7.da6cc","order":1,"width":0,"height":0,"passthru":false,"label":"AUTO","tooltip":"","color":"","bgcolor":"","icon":"","payload":"auto","payloadType":"str","topic":"","x":470,"y":440,"wires":[["7cf22d48.038774","d1467fe0.a8879"]]},{"id":"7d9f9a7b.4056b4","type":"change","z":"7da7c225.80c41c","name":"OnOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":280,"wires":[["7cf22d48.038774","f7cf88f4.e17808"]]},{"id":"5ce5123b.36a4cc","type":"change","z":"7da7c225.80c41c","name":"OffOverride","rules":[{"t":"change","p":"payload","pt":"msg","from":"false","fromt":"bool","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":340,"wires":[["7cf22d48.038774","f7cf88f4.e17808"]]},{"id":"d1467fe0.a8879","type":"change","z":"7da7c225.80c41c","name":"Auto","rules":[{"t":"change","p":"payload","pt":"msg","from":"true","fromt":"bool","to":"auto","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":460,"wires":[["7cf22d48.038774","f7cf88f4.e17808"]]},{"id":"f7cf88f4.e17808","type":"ui_text","z":"7da7c225.80c41c","group":"cb226ed7.da6cc","order":4,"width":0,"height":0,"name":"","label":"Befehl","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":460,"wires":[]},{"id":"4bd58adb.6d07d4","type":"change","z":"7da7c225.80c41c","name":"ConvertOn","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"num","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":360,"wires":[["7c572185.7dfd5"]]},{"id":"8047ec79.3b18a","type":"change","z":"7da7c225.80c41c","name":"ConvertOff","rules":[{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1270,"y":400,"wires":[["7c572185.7dfd5"]]},{"id":"b4e032ff.2f833","type":"ui_numeric","z":"7da7c225.80c41c","name":"OnHour","label":"Einschalten Stunde","tooltip":"","group":"cb226ed7.da6cc","order":5,"width":0,"height":0,"passthru":true,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":900,"y":60,"wires":[["20fb674e.6251c8"]]},{"id":"89de7d7b.69948","type":"ui_numeric","z":"7da7c225.80c41c","name":"OnMinute","label":"Einschalten Minute","tooltip":"","group":"cb226ed7.da6cc","order":5,"width":0,"height":0,"passthru":true,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":900,"y":120,"wires":[["20fb674e.6251c8"]]},{"id":"44f7d8f4.4e1bb8","type":"ui_numeric","z":"7da7c225.80c41c","name":"OffHour","label":"Ausschalten Stunde","tooltip":"","group":"cb226ed7.da6cc","order":5,"width":0,"height":0,"passthru":true,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":900,"y":180,"wires":[["20fb674e.6251c8"]]},{"id":"779a4b75.ef76a4","type":"ui_numeric","z":"7da7c225.80c41c","name":"OffMinute","label":"Ausschalten Minute","tooltip":"","group":"cb226ed7.da6cc","order":5,"width":0,"height":0,"passthru":true,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":900,"y":240,"wires":[["20fb674e.6251c8"]]},{"id":"f1a0c985.a8e688","type":"file","z":"7da7c225.80c41c","name":"StoreTimeSettings","filename":"timesettings","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1450,"y":140,"wires":[[]]},{"id":"20fb674e.6251c8","type":"join","z":"7da7c225.80c41c","name":"CombineTime","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1160,"y":140,"wires":[["f1a0c985.a8e688","e8e4aef7.cd94f","7df35dc1.a1aeb4","c5b4c4bc.ca8a68"]]},{"id":"b1f8d4c1.942c78","type":"file in","z":"7da7c225.80c41c","name":"LoadTimeSettings","filename":"timesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":270,"y":140,"wires":[["b8d5ece8.bb314"]]},{"id":"7d175dd8.ac3694","type":"inject","z":"7da7c225.80c41c","name":"","topic":"LOAD","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":140,"wires":[["b1f8d4c1.942c78"]]},{"id":"b8d5ece8.bb314","type":"json","z":"7da7c225.80c41c","name":"","property":"payload","action":"","pretty":false,"x":450,"y":140,"wires":[["a49ff4c3.15ae78","cd4d45a2.4159b8","e6a7b71f.03bd88","75986cbd.6f7f24"]]},{"id":"a49ff4c3.15ae78","type":"change","z":"7da7c225.80c41c","name":"GetHourOn","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":80,"wires":[["b4e032ff.2f833"]]},{"id":"cd4d45a2.4159b8","type":"change","z":"7da7c225.80c41c","name":"GetMinuteOn","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":120,"wires":[["89de7d7b.69948"]]},{"id":"e6a7b71f.03bd88","type":"change","z":"7da7c225.80c41c","name":"GetHourOff","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":160,"wires":[["44f7d8f4.4e1bb8"]]},{"id":"75986cbd.6f7f24","type":"change","z":"7da7c225.80c41c","name":"GetMinuteOff","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[["779a4b75.ef76a4"]]},{"id":"e8e4aef7.cd94f","type":"function","z":"7da7c225.80c41c","name":"ProvideOverrideOffTime","func":"var OffOverride = \"Off_Override \";\nmsg.payload = OffOverride + msg.payload.HourOff + \":\" + msg.payload.MinuteOff;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":280,"wires":[["7cf22d48.038774"]]},{"id":"7df35dc1.a1aeb4","type":"function","z":"7da7c225.80c41c","name":"ProvideOverrideOnTime","func":"var OnOverride = \"On_Override \";\nmsg.payload = OnOverride + msg.payload.HourOn + \":\" + msg.payload.MinuteOn;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":220,"wires":[["7cf22d48.038774","fce1bb90.132cc8"]]},{"id":"35abd742.4331e8","type":"inject","z":"7da7c225.80c41c","name":"Reload","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["b1f8d4c1.942c78"]]},{"id":"c5b4c4bc.ca8a68","type":"debug","z":"7da7c225.80c41c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":40,"wires":[]},{"id":"d1cbca4f.572658","type":"inject","z":"7da7c225.80c41c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":40,"wires":[["b4e032ff.2f833","89de7d7b.69948","44f7d8f4.4e1bb8","779a4b75.ef76a4"]]},{"id":"fce1bb90.132cc8","type":"debug","z":"7da7c225.80c41c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1400,"y":220,"wires":[]},{"id":"ab1d2b64.86aa28","type":"function","z":"fe9bd502.da1c48","name":"PassLimit","func":"var NewMsg = {payload: 0, OnClutchTimespan: 0, OnClutchLimit: 0};\nvar Settings = global.get(\"SpaceStarSettings\");\n\nNewMsg.OnClutchLimit = Settings.OnClutchLimit;\nNewMsg.OnClutchTimespan = msg.Timespan;\n    \nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\n    if( msg.Timespan >= Settings.OnClutchLimit)\n     {\n       NewMsg.payload = PassActualValue;\n     }\n    else\n     {\n       NewMsg.payload = BlockActualValue;\n     }\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["afc5b76c.9c5638","fba622ee.880f7"]]},{"id":"afc5b76c.9c5638","type":"switch","z":"fe9bd502.da1c48","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":100,"wires":[["3b391d03.ea14f2"]]},{"id":"fba622ee.880f7","type":"debug","z":"fe9bd502.da1c48","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":160,"wires":[]},{"id":"ddcc4274.b1fc8","type":"function","z":"c06c0f39.7c4c2","name":"GLOBAL_STORE","func":"global.set(\"PublicTimeSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2910,"y":180,"wires":[[]]},{"id":"458aae71.40202","type":"change","z":"c06c0f39.7c4c2","name":"GetMinuteOff","rules":[{"t":"move","p":"payload.MinuteOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2290,"y":240,"wires":[["d155055c.290918"]]},{"id":"2687497e.5d4b46","type":"change","z":"c06c0f39.7c4c2","name":"GetHourOff","rules":[{"t":"move","p":"payload.HourOff","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":200,"wires":[["ad3bea56.ce9ae8"]]},{"id":"ede4e31d.e4865","type":"change","z":"c06c0f39.7c4c2","name":"GetMinuteOn","rules":[{"t":"move","p":"payload.MinuteOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2290,"y":160,"wires":[["d193fe63.c5c33"]]},{"id":"3c2535ef.51ceca","type":"change","z":"c06c0f39.7c4c2","name":"GetHourOn","rules":[{"t":"move","p":"payload.HourOn","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2280,"y":120,"wires":[["73c13f3c.f9488"]]},{"id":"ddb81019.15a3f","type":"json","z":"c06c0f39.7c4c2","name":"","property":"payload","action":"","pretty":false,"x":2060,"y":180,"wires":[["3c2535ef.51ceca","ede4e31d.e4865","2687497e.5d4b46","458aae71.40202"]]},{"id":"909600e2.8615d","type":"file in","z":"c06c0f39.7c4c2","name":"LoadTimeSettings","filename":"timesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":1880,"y":180,"wires":[["ddb81019.15a3f"]]},{"id":"a8639fca.f2ef6","type":"inject","z":"c06c0f39.7c4c2","name":"","topic":"LOAD","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1680,"y":180,"wires":[["909600e2.8615d"]]},{"id":"459452fb.7e0eac","type":"inject","z":"c06c0f39.7c4c2","name":"Reload","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1700,"y":220,"wires":[["909600e2.8615d"]]},{"id":"73c13f3c.f9488","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OnHour","label":"Einschalten Stunde","tooltip":"","group":"478fd246.3eac8c","order":5,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"HourOn","format":"{{value}}","min":0,"max":"24","step":1,"x":2460,"y":100,"wires":[["4620b675.56ae38"]]},{"id":"d193fe63.c5c33","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OnMinute","label":"Einschalten Minute","tooltip":"","group":"478fd246.3eac8c","order":5,"width":0,"height":0,"passthru":true,"topic":"MinuteOn","format":"{{value}}","min":0,"max":"59","step":1,"x":2460,"y":160,"wires":[["4620b675.56ae38"]]},{"id":"ad3bea56.ce9ae8","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OffHour","label":"Ausschalten Stunde","tooltip":"","group":"478fd246.3eac8c","order":5,"width":0,"height":0,"passthru":true,"topic":"HourOff","format":"{{value}}","min":0,"max":"24","step":1,"x":2460,"y":220,"wires":[["4620b675.56ae38"]]},{"id":"d155055c.290918","type":"ui_numeric","z":"c06c0f39.7c4c2","name":"OffMinute","label":"Ausschalten Minute","tooltip":"","group":"478fd246.3eac8c","order":5,"width":0,"height":0,"passthru":true,"topic":"MinuteOff","format":"{{value}}","min":0,"max":"59","step":1,"x":2460,"y":280,"wires":[["4620b675.56ae38"]]},{"id":"4620b675.56ae38","type":"join","z":"c06c0f39.7c4c2","name":"CombineTime","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":2720,"y":180,"wires":[["ddcc4274.b1fc8","29a2545.011bdac"]]},{"id":"5dc4726.4da2f8c","type":"inject","z":"c06c0f39.7c4c2","name":"","topic":"LOAD","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2230,"y":300,"wires":[["73c13f3c.f9488","d193fe63.c5c33","ad3bea56.ce9ae8","d155055c.290918"]]},{"id":"d16feb25.550728","type":"function","z":"c06c0f39.7c4c2","name":"GLOBAL_GET","func":"var NewMsg = { HourOn : 0, MinuteOn : 0, HourOff :0, MinuteOff : 0 };\nvar Timesettings = global.get(\"PublicTimeSettings\");\nNewMsg.HourOn = Timesettings.HourOn;\nNewMsg.MinuteOn = Timesettings.MinuteOn;\nNewMsg.HourOff = Timesettings.HourOff;\nNewMsg.MinuteOff = Timesettings.MinuteOff;\nreturn NewMsg;","outputs":1,"noerr":0,"x":2920,"y":260,"wires":[["9be8af6d.2a851"]]},{"id":"fce46450.b26008","type":"inject","z":"c06c0f39.7c4c2","name":"Reload","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2710,"y":260,"wires":[["d16feb25.550728"]]},{"id":"9be8af6d.2a851","type":"debug","z":"c06c0f39.7c4c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3110,"y":260,"wires":[]},{"id":"29a2545.011bdac","type":"debug","z":"c06c0f39.7c4c2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2860,"y":100,"wires":[]},{"id":"696ef781.4f9178","type":"function","z":"c06c0f39.7c4c2","name":"neue version vergleich","func":"var NewMsg = { HourOn : 0, MinuteOn : 0, HourOff :0, MinuteOff : 0 };\nvar Timesettings = global.get(\"PublicTimeSettings\");\nNewMsg.HourOn = Timesettings.HourOn;\nNewMsg.MinuteOn = Timesettings.MinuteOn;\nNewMsg.HourOff = Timesettings.HourOff;\nNewMsg.MinuteOff = Timesettings.MinuteOff;\n\nif( msg.topic == 'COMPARE')\n{\n    if( NewMsg.HourOn > msg.payload )\n    {\n        NewMsg.HourOn = 777;\n    }\n}\nreturn NewMsg;","outputs":1,"noerr":0,"x":2990,"y":400,"wires":[[]]},{"id":"ad6dbd2d.889f5","type":"function","z":"fe9bd502.da1c48","name":"GlobalSet","func":"global.set(\"SpaceStarSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":400,"wires":[[]]},{"id":"8a103801.7e1968","type":"change","z":"af9e6197.3d4c3","name":"Maximum","rules":[{"t":"move","p":"payload.Maximum","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":120,"wires":[["7721013b.6d395"]]},{"id":"8d11d745.f47308","type":"json","z":"af9e6197.3d4c3","name":"","property":"payload","action":"","pretty":false,"x":430,"y":120,"wires":[["8a103801.7e1968"]]},{"id":"b4b27967.b27888","type":"file in","z":"af9e6197.3d4c3","name":"LoadTimeSettings","filename":"timesettings","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":270,"y":120,"wires":[["8d11d745.f47308"]]},{"id":"fbbd5d84.42215","type":"inject","z":"af9e6197.3d4c3","name":"","topic":"LOAD","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":70,"y":100,"wires":[["b4b27967.b27888"]]},{"id":"11ee04be.b021bb","type":"inject","z":"af9e6197.3d4c3","name":"Reload","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":140,"wires":[["b4b27967.b27888"]]},{"id":"7721013b.6d395","type":"ui_numeric","z":"af9e6197.3d4c3","name":"Maximum","label":"MAXIMUM","tooltip":"","group":"2f55534b.bfdfbc","order":5,"width":0,"height":0,"passthru":true,"topic":"Maximum","format":"{{value}}","min":0,"max":"24","step":1,"x":720,"y":120,"wires":[["c1f6834e.b174e"]]},{"id":"c1f6834e.b174e","type":"join","z":"af9e6197.3d4c3","name":"CombineTime","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":900,"y":120,"wires":[["bb8b1a1a.fdfb48"]]},{"id":"bb8b1a1a.fdfb48","type":"function","z":"af9e6197.3d4c3","name":"GLOBAL_STORE","func":"global.set(\"PublicTimeSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":120,"wires":[["61c2e9b8.8ccfd8"]]},{"id":"25b6e0c0.70d31","type":"inject","z":"af9e6197.3d4c3","name":"","topic":"LOAD","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":160,"wires":[["7721013b.6d395"]]},{"id":"f8ec82cd.a9827","type":"function","z":"af9e6197.3d4c3","name":"GLOBAL_GET","func":"var NewMsg = { Maximum : 0,ToCompare :0, TellMe : 'I AM TOO SMALL :(' };\nvar Timesettings = global.get(\"PublicTimeSettings\");\nNewMsg.Maximum = Timesettings.Maximum;\nNewMsg.ToCompare = msg.payload;\n\nif( msg.topic === 'ACTUALVALUE')\n{\n    if( msg.payload > NewMsg.Maximum  )\n    {  \n        NewMsg.TellMe = 'HI I AM BIGGER !!!!';\n    }\n}\nreturn NewMsg;","outputs":1,"noerr":0,"x":1080,"y":260,"wires":[["6219577f.249dd8"]]},{"id":"6219577f.249dd8","type":"debug","z":"af9e6197.3d4c3","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1270,"y":260,"wires":[]},{"id":"d82caa85.da37f8","type":"inject","z":"af9e6197.3d4c3","name":"","topic":"ACTUALVALUE","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":790,"y":260,"wires":[["f8ec82cd.a9827"]]},{"id":"61c2e9b8.8ccfd8","type":"file","z":"af9e6197.3d4c3","name":"","filename":"timesettings","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1290,"y":120,"wires":[[]]},{"id":"85ba0350.2569b","type":"rpi-gpio in","z":"60b4d38a.a1148c","d":true,"name":"","pin":"15","intype":"tri","debounce":"25","read":false,"x":110,"y":60,"wires":[["21cf92bf.ac86de","defae924.c14e78"]]},{"id":"21cf92bf.ac86de","type":"function","z":"60b4d38a.a1148c","name":"setTimeStamp_State","func":"\nvar ts = new Date();\nmsg.payload = ts.toISOString() + \"_\" + msg.payload;\n//msg.payload = ts.toUTCString() + \"_\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":60,"wires":[["84dd22c2.af9ee"]]},{"id":"63d03b8f.e82054","type":"buffer-array","z":"60b4d38a.a1148c","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":670,"y":60,"wires":[["86175588.8ba3f8"]]},{"id":"86175588.8ba3f8","type":"function","z":"60b4d38a.a1148c","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Topic: \"ACTUALVALUE\", Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":180,"y":140,"wires":[["efd482a6.5bc44"]]},{"id":"84dd22c2.af9ee","type":"function","z":"60b4d38a.a1148c","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":60,"wires":[["63d03b8f.e82054"]]},{"id":"382c3276.945cbe","type":"http request","z":"60b4d38a.a1148c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":140,"wires":[["fa19c65b.c820c8"]]},{"id":"efd482a6.5bc44","type":"switch","z":"60b4d38a.a1148c","name":"Hit_Clutch","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":140,"wires":[["43dc6eac.de64a","6d0c6136.236fa","7dbb5b61.bbee34"]]},{"id":"fa19c65b.c820c8","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":140,"wires":[]},{"id":"43dc6eac.de64a","type":"switch","z":"60b4d38a.a1148c","d":true,"name":"OnClutchTime","property":"Timespan","propertyType":"msg","rules":[{"t":"gte","v":"topic","vt":"msg"}],"checkall":"true","repair":false,"outputs":1,"x":540,"y":140,"wires":[["382c3276.945cbe"]]},{"id":"f76856e.576c4a8","type":"ui_numeric","z":"60b4d38a.a1148c","d":true,"name":"OnClutchLimit","label":"OnClutchLimit","tooltip":"max. On Clutch Time before Tag","group":"a3598685.c656f8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"OnClutchLimit","format":"{{value}}","min":0,"max":10,"step":1,"x":420,"y":380,"wires":[["28b165a8.ae696a"]]},{"id":"defae924.c14e78","type":"file in","z":"60b4d38a.a1148c","name":"LoadOnClutchLimit","filename":"SpaceStarSettings","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":370,"y":320,"wires":[["fd58a259.abf52"]]},{"id":"fd58a259.abf52","type":"json","z":"60b4d38a.a1148c","name":"","property":"payload","action":"","pretty":false,"x":530,"y":320,"wires":[["df754145.49b7c"]]},{"id":"ae0a19ef.1a4898","type":"file","z":"60b4d38a.a1148c","name":"SaveOnClutchLimit","filename":"SpaceStarSettings","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":810,"y":380,"wires":[[]]},{"id":"55508c9e.f73e84","type":"inject","z":"60b4d38a.a1148c","d":true,"name":"Inject true after boot","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":320,"wires":[["defae924.c14e78"]]},{"id":"28b165a8.ae696a","type":"join","z":"60b4d38a.a1148c","name":"CombineLimits","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":600,"y":380,"wires":[["ae0a19ef.1a4898","6d0c6136.236fa","18a0b49d.92060b"]]},{"id":"df754145.49b7c","type":"change","z":"60b4d38a.a1148c","name":"GetOnClutchLimit","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":380,"wires":[["f76856e.576c4a8"]]},{"id":"6d0c6136.236fa","type":"function","z":"60b4d38a.a1148c","name":"PassLimit","func":"var NewMsg = {payload: 0, Timespan: 0, OnClutchLimit: 0};\n//var Clutch = current.get('Clutch') || 0;\n//global.set(\"SpaceStarSettings\", msg.payload);\nvar Settings = global.get(\"SpaceStarSettings\");\n//var OnClutchLimit = SpaceStarSettings.OnClutchLimit;\n\nif ( msg.topic == \"OnClutchLimit\")\n\n{\n   NewMsg.OnClutchLimit = Settings.OnClutchLimit;\n    \n}\n\n\n//NewMsg.MinuteOn = Timesettings.MinuteOn;\n\n//parseFloat(parseFloat(OnClutchLimit).toFixed(3));\n\n//var Clutch = msg.payload;\n\n//context.set('mydata', msg.payload);\n//NewMsg.limit = msg.payload;\n\nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\nif( msg.Topic == \"ACTUALVALUE\")\n\n{  NewMsg.Timespan = msg.Timespan;\n\n    if( msg.Timespan >= Settings.OnClutchLimit)\n    {\n       NewMsg.payload = PassActualValue;\n    }\n    else\n    {\n       NewMsg.payload = BlockActualValue;\n   }\n}\n//if( msg.payload.OnClutchLimit == 'OnClutchLimit')\n//{\n    //context.set('OnClutchLimit', OnClutchLimit);\n//}\nreturn NewMsg;","outputs":1,"noerr":0,"x":540,"y":240,"wires":[["a02b8825.05b758","2b4e97ee.910658"]]},{"id":"a02b8825.05b758","type":"switch","z":"60b4d38a.a1148c","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":240,"wires":[["382c3276.945cbe"]]},{"id":"7dbb5b61.bbee34","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":360,"y":220,"wires":[]},{"id":"2b4e97ee.910658","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":320,"wires":[]},{"id":"18a0b49d.92060b","type":"function","z":"60b4d38a.a1148c","name":"GlobalSet","func":"global.set(\"SpaceStarSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":480,"wires":[["b1c93504.9c55c8"]]},{"id":"b1c93504.9c55c8","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":830,"y":480,"wires":[]},{"id":"4acef5c.85c7c0c","type":"debug","z":"60b4d38a.a1148c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":560,"wires":[]},{"id":"5ce393d3.af42dc","type":"function","z":"60b4d38a.a1148c","name":"","func":"var NewMsg = {payload: 0, timespan: 0, OnClutchLimit: 0};\nvar Settings = global.get(\"SpaceStarSettings\");\nNewMsg.OnClutchLimit = Settings.OnClutchLimit;\nNewMsg.payload = 1;\nNewMsg.timespan = 999; \nreturn NewMsg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["4acef5c.85c7c0c"]]},{"id":"89c325a3.8f2708","type":"inject","z":"60b4d38a.a1148c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":540,"wires":[["5ce393d3.af42dc"]]},{"id":"c12f3d6b.45515","type":"rpi-gpio in","z":"e1a94fdd.a1f8a","name":"","pin":"11","intype":"tri","debounce":"25","read":false,"x":70,"y":160,"wires":[["f35cdcdb.43dee"]]},{"id":"f35cdcdb.43dee","type":"function","z":"e1a94fdd.a1f8a","name":"setTimeStamp_State","func":"\nvar ts = new Date();\nmsg.payload = ts.toISOString() + \"_\" + msg.payload;\n//msg.payload = ts.toUTCString() + \"_\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":40,"wires":[["8f797501.967878"]]},{"id":"d256d3c0.78001","type":"buffer-array","z":"e1a94fdd.a1f8a","name":"Buffer_Value_Pair","bufferLen":"2","startWhenFilled":true,"x":630,"y":40,"wires":[["ddbd59f9.90cf48"]]},{"id":"ddbd59f9.90cf48","type":"function","z":"e1a94fdd.a1f8a","name":"Timespan_Calculation","func":"//var NewMsg = {Timestamp1:0, Timestamp2:0, Timestamp3:0, Timestamp4:0, Signal1:\"0\", Signal2:\"0\", Signal3:\"0\", Signal4:\"0\", Timespan1:0, Timespan2:0, Timespan3:0}\nvar NewMsg = {Topic: \"ACTUALVALUE\", Timestamp1:0, Timestamp2:0, Signal1:\"0\", Signal2:\"0\", Timespan:0}\n\nvar d1 = Date.parse(msg.payload[0][0]);\nvar d2 = Date.parse(msg.payload[1][0]);\n//var d3 = Date.parse(msg.payload[2][0]);\n//var d4 = Date.parse(msg.payload[3][0]);\n  \nNewMsg.Timestamp1= d1;\nNewMsg.Timestamp2= d2;\n//NewMsg.Timestamp3= d3;\n//NewMsg.Timestamp4= d4;\n\nNewMsg.Signal1 = msg.payload[0][1];\nNewMsg.Signal2 = msg.payload[1][1];\n//NewMsg.Signal3 = msg.payload[2][1];\n//NewMsg.Signal4 = msg.payload[3][1];\n\nNewMsg.Timespan = (d2 - d1) / 1000;\n//NewMsg.Timespan2 = (d3 - d2) / 1000;\n//NewMsg.Timespan3 = (d4 - d3) / 1000;\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":840,"y":40,"wires":[["8978db7d.5ca328"]]},{"id":"8f797501.967878","type":"function","z":"e1a94fdd.a1f8a","name":"SPLIT","func":"msg.payload = msg.payload.split(\"_\");\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":40,"wires":[["d256d3c0.78001"]]},{"id":"b872bbd5.b50a18","type":"http request","z":"e1a94fdd.a1f8a","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"http://10.5.5.9/gp/gpControl/command/storage/tag_moment","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":100,"wires":[[]]},{"id":"8978db7d.5ca328","type":"switch","z":"e1a94fdd.a1f8a","name":"Hit_Brake","property":"Signal1","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":260,"y":100,"wires":[["5e06e8c.c0a2b18"]]},{"id":"6b4b90b5.1885e","type":"ui_numeric","z":"e1a94fdd.a1f8a","name":"OnBrakeLimit","label":"OnBrakeLimit","tooltip":"max. On Breake Time before Tag","group":"a3598685.c656f8","order":0,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"OnBrakeLimit","format":"{{value}}","min":0,"max":10,"step":1,"x":400,"y":380,"wires":[["a6898064.4da51"]]},{"id":"b53e9cae.660e2","type":"file in","z":"e1a94fdd.a1f8a","name":"LoadOnBrakeLimit","filename":"SpaceStarSettings","format":"utf8","chunk":false,"sendError":false,"encoding":"utf8","x":410,"y":280,"wires":[["515dfd1e.ffde24"]]},{"id":"515dfd1e.ffde24","type":"json","z":"e1a94fdd.a1f8a","name":"","property":"payload","action":"","pretty":false,"x":570,"y":280,"wires":[["e68a8f43.67f79"]]},{"id":"76d7b125.f26db","type":"file","z":"e1a94fdd.a1f8a","name":"SaveOnBrakeLimit","filename":"SpaceStarSettings","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":830,"y":340,"wires":[[]]},{"id":"e1a46d8c.7ac06","type":"inject","z":"e1a94fdd.a1f8a","name":"Inject true after boot","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":360,"wires":[["b53e9cae.660e2"]]},{"id":"a6898064.4da51","type":"join","z":"e1a94fdd.a1f8a","name":"CombineLimits","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":580,"y":380,"wires":[["76d7b125.f26db","3fed5991.0699c6"]]},{"id":"e68a8f43.67f79","type":"change","z":"e1a94fdd.a1f8a","name":"GetOnBrakeLimit","rules":[{"t":"move","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":280,"wires":[["6b4b90b5.1885e"]]},{"id":"5e06e8c.c0a2b18","type":"function","z":"e1a94fdd.a1f8a","name":"PassLimit","func":"var NewMsg = {payload: 0, OnBrakeTimespan: 0, OnBrakeLimit: 0};\nvar Settings = global.get(\"SpaceStarSettings\");\n\nNewMsg.OnBrakeLimit = Settings.OnBrakeLimit;\nNewMsg.OnBrakeTimespan = msg.Timespan;\n    \nvar PassActualValue  = 1;\nvar BlockActualValue = 0;\n\n    if( msg.Timespan >= Settings.OnBrakeLimit)\n     {\n       NewMsg.payload = PassActualValue;\n     }\n    else\n     {\n       NewMsg.payload = BlockActualValue;\n     }\n\nreturn NewMsg;","outputs":1,"noerr":0,"x":440,"y":100,"wires":[["e2fb0203.4029f","153563e5.47c44c"]]},{"id":"e2fb0203.4029f","type":"switch","z":"e1a94fdd.a1f8a","name":"GreaterThanZero","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":100,"wires":[["b872bbd5.b50a18"]]},{"id":"153563e5.47c44c","type":"debug","z":"e1a94fdd.a1f8a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":160,"wires":[]},{"id":"3fed5991.0699c6","type":"function","z":"e1a94fdd.a1f8a","name":"GlobalSet","func":"global.set(\"SpaceStarSettings\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":400,"wires":[[]]},{"id":"b83ce749.fea368","type":"debug","z":"fe9bd502.da1c48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":180,"wires":[]}]